<div class="col-lg-2 col-lg-offset-2">
  <img src="https://cdn-images-1.medium.com/fit/c/200/200/1*hMLPcjL-jBARGrIROa8wgg.jpeg" class="avatar" alt="Mert Nuhoglu" />
  <p class="connect-buttons">
    <a href="https://twitter.com/mertnuhoglu" class="fa-stack fa-lg" title="Twitter"><i class="fa fa-twitter fa-stack">&nbsp;</i></a>
    <a href="https://www.linkedin.com/in/mertnuhoglu" class="fa-stack fa-lg" title="Google+"><i class="fa fa-google-plus fa-stack">&nbsp;</i></a>
    <a href="https://medium.com/@mertnuhoglu" class="fa-stack fa-lg" title="Medium"><i class="fa fa-medium fa-stack">&nbsp;</i></a>
    <a href="mailto:mert.nuhoglu@gmail.com" class="fa-stack fa-lg" title="Email"><i class="fa fa-envelope fa-stack">&nbsp;</i></a>
  </p>
</div>
<div class="col-lg-6">
	<p class="author-intro">Mert Nuhoglu is a Trabzon-born programmer and data scientist.</p>
</div>
