        <div class="col-lg-8 col-lg-offset-2">
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
                this.page.url = "{{ .Permalink }}";
                this.page.identifier = "{{ .Permalink }}";
            };

            (function() {
              var d = document, s = d.createElement('script');

              s.src = '//mertnuhoglu.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
