{{ if .IsHome }}
{{ else }}
<footer class="footer">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>
          <a><span class="fa-stack"><i class="fa fa-share-alt"></i></span></a>
					<a href="https://twitter.com/share?url={{ .Permalink }}&text={{ if and .IsNode ( ne .Data.Singular "tag" ) ( ne .Title "404 Page not found" ) }}{{ .Title | humanize | title  }}{{ else }}{{ .Title }}{{ end }}&via=mertnuhoglu" title="Share on Twitter" target="_blank"><span class="fa-stack"><i class="fa fa-twitter"></i></span></a>
					<a href="https://plus.google.com/share?url={{ .Permalink }}" title="Share on Google+" target="_blank"><span class="fa-stack"><i class="fa fa-google-plus"></i></span></a>
					<a href="http://reddit.com/submit?url={{ .Permalink }}" title="Share on Reddit" target="_blank"><span class="fa-stack"><i class="fa fa-reddit-alien"></i></span></a>
					<a href="http://www.facebook.com/sharer.php?url={{ .Permalink }}" title="Share on Facebook" target="_blank"><span class="fa-stack"><i class="fa fa-facebook"></i></span></a>
                </p>
			</div>
		</div>
	</div>
</footer>
{{ end }}
{{ partial "common/js.html" . }}

	</body>
</html>
