<!-- Open Graph Type -->
  {{ if .IsHome }}
    <meta name="og:type" content="website" />
  {{ else if eq .URL "404.html" }}
    <!-- Do Nothing -->
  {{ else if .IsNode }}
    <meta name="og:type" content="website" />
  {{ else if .IsPage }}
    {{ if eq .Layout "tag-list" }}
      <meta name="og:type" content="website" />
    {{ else if eq .Layout "novels" }}
      <meta name="og:type" content="books.book" />
    {{ else if eq .Layout "bookshelf" }}
      <meta name="og:type" content="books.book" />
      <meta property="books:isbn" content="{{ .Params.isbn }}" />
      <meta property="books:rating:value" content="{{ .Params.stars }}" />
      <meta property="books:rating:scale" content="5" />
      <meta property="books:author" content="{{ .Params.writer }}" />
    {{ else }}
      <meta name="og:type" content="article" />
    {{ end }}
  {{ end }}

<!-- Open Graph Title -->
  {{ if .IsHome }}
    <meta name="og:title" content="{{ .Site.Title | markdownify }}" />
  {{ else if and .IsNode ( ne .Data.Singular "tag" ) ( ne .Title "404 Page not found" ) }}
    {{ $site_name := .Site.Title }}
    {{ $section := ( .Title | humanize | title ) }}
    {{ range $.Site.Data.section }}
      {{ if eq $section .name }}
        <meta name="og:title" content="{{ .long_title | markdownify }} | {{ $site_name | markdownify }}" />
      {{ end }}
    {{ end }}
  {{ else }}
    <meta name="og:title" content="{{ .Title | markdownify}} | {{ .Site.Title | markdownify }}" />
  {{ end }}

<!-- Open Graph URL -->
  {{ if eq .URL "404.html" }}
    <!-- Do Nothing -->
  {{ else }}
    <meta name="og:url" content="{{ .Permalink }}" />
  {{ end }}

<!-- Open Graph Image -->
  {{ if .IsHome }}
    <meta name="og:image" content="{{ .Site.BaseURL }}assets/img/screenshot.jpg" />
  {{ else if .Params.header.image }}
    <meta name="og:image" content="{{ .Site.BaseURL }}assets/img/{{ .Params.header.image }}" />
  {{ else if .Params.cover }}
    <meta name="og:image" content="{{ .Site.BaseURL }}assets/img/{{ .Params.cover }}" />
  {{ else if and .IsNode ( ne .Data.Singular "tag" ) ( ne .Title "404 Page not found" ) }}
    {{ $assets := .Site.Params.Urlimg }}
    {{ $baseurl := .Site.BaseURL }}
    {{ $section := ( .Title | humanize | title ) }}
    {{ range $.Site.Data.section }}
      {{ if eq $section .name }}
        <meta name="og:image" content="{{ $baseurl }}{{ $assets }}{{ .image }}" />
      {{ end }}
    {{ end }}
  {{ else }}
    <meta name="og:image" content="{{ .Site.BaseURL }}assets/img/short-stories.jpg" />
  {{ end }}

<!-- Open Graph Description -->
  {{ if .IsHome }}
    <meta name="og:description" content="{{ .Site.Params.description | markdownify }}" />
  {{ else if eq .Title "Blog" }}
    <meta name="og:description" content="Latest essays" />
  {{ else if eq .Title "Bookshelf" }}
    <meta name="og:description" content="Books reviews and recommendations" />
  {{ else if eq .Title "Tech" }}
    <meta name="og:description" content="{{ "Linux stuff and other musings about tech and web development" | markdownify }}" />
  {{ else if eq .Data.Singular "tag" }}
    <meta name="og:description" content="All posts tagged “{{ .Title | markdownify }}”" />
  {{ else if and .IsNode ( ne .Data.Singular "tag" ) ( ne .Title "404 Page not found" ) }}
    {{ $section := ( .Title | humanize | title ) }}
    {{ range $.Site.Data.section }}
      {{ if eq $section .name }}
        {{ if .seo_description }}
          <meta name="og:description" content="{{ .seo_description | markdownify }}" />
        {{ else }}
          <meta name="og:description" content="{{ .description | markdownify }}" />
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else if .IsPage }}
    {{ if eq .Layout "tag-list" }}
      <meta name="og:description" content="A list of all tags" />
    {{ else }}
      <meta name="og:description" content="{{ .Description | markdownify }}" />
    {{ end }}
  {{ end }}

<!-- Open Graph Site Name -->
  <meta name="og:site_name" content="{{ .Site.Title | markdownify }}" />

<!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mertnuhoglu" />
