{{ if .IsHome }}
  <script src='/assets/js/fullPage.min.js'></script>
  <script>
    fullpage.initialize('#fullpage',{anchors:['page-top','about','blog','tech','contact'],'scrollBar':true,menu: '#navmenu'});
  </script>
{{ end }}

<script>
// Blur-up header image loading
  var h = document.getElementsByTagName("header");

  document.addEventListener("DOMContentLoaded", function() {
    if (!h[0] ) return !1;
    var t = h[0].getAttribute("data-src");
    if (!t) return !1;
    var d = document.querySelector(".img"),
        n = new Image;
    n.src = t, n.onload = function() {
        d.classList.add("loaded"), d.style.backgroundImage = "url(" + t + ")";
    }
  });

// Make dropdown parents clickable
  var b = document.querySelectorAll(".navbar .dropdown > a");
  for (i = 0; i < b.length; ++i) b[i].onclick = function() {
    location.href = this.href
  };

  {{ if not .IsHome }}
// Change colour of navbar and show footer on scroll
  var n = document.querySelector(".navbar");
      f = document.querySelector(".footer");
    top = h[0].getBoundingClientRect().top;
  window.onscroll = function() {
    var top = h[0].getBoundingClientRect().top;
    if (top <= -50) {
      n.classList.add("scrolled");
        f.classList.add("show");
    } else {
      n.classList.remove("scrolled");
    }
  };

// Show footer if the document height is shorter than the window

    var b = document.body.clientHeight;
        w = window.innerHeight;
        m = document.querySelector(".footer");
    if (b < w) {
      m.classList.add("show");
    };
  {{ end }}

/* Bootstrap Replacement

   Inspired by and modified from Bootstrap without Jquery Project
   https://github.com/tagawa/bootstrap-without-jquery
*/

  var e = document.querySelector(".navbar-toggle");
  var t = document.querySelector(".navbar-collapse");
  var a = e.getAttribute("aria-expanded");

  function getMaxHeight(t) {
    // Source: http://n12v.com/css-transition-to-from-auto/
    var prevHeight = t.style.height;
    t.style.height = 'auto';
    var maxHeight = getComputedStyle(t).height;
    t.style.height = prevHeight;
    t.offsetHeight; // force repaint
    return maxHeight;
  }

/* Open the Menu after clicking the menu button
   Only if the menu is current collapsed that is.
*/

  e.onclick = function() {
    if ( a == "false" ) {
      t.classList.remove('collapse');
      t.classList.add('collapsing');
      e.classList.remove('collapsed');
      e.setAttribute('aria-expanded', true);
      t.style.height = getMaxHeight(t);
    }
  }

/* Collapse the menu after clicking anywhere, not just the menu button.
   Only if the menu is already expanded, of course.
*/

  document.onclick = function(){
    if ( a == "true" ) {
      t.classList.remove("collapse");
      t.classList.remove("in");
      t.classList.add("collapsing");
      e.classList.add("collapsed");
      e.setAttribute("aria-expanded", false);
      t.style.height = getComputedStyle(t).height;
      t.offsetHeight,t.style.height="0px"
    };
  };

  // Transition Handling
  t.addEventListener("transitionend", function() {
    t.classList.remove('collapsing');
    t.classList.add('collapse');

    // Check whether the element is unhidden
    if (t.style.height !== '0px') {
      t.classList.add('in');
      t.style.height = 'auto';
    }

    // Get 'aria-expanded' state
    a = e.getAttribute("aria-expanded");
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66841656-1', 'auto');
  ga('send', 'pageview');

</script>
