<li class="nav-social">
  <a href="https://twitter.com/mertnuhoglu" title="Follow on Twitter" class="nav-social"><i class="fa fa-twitter"></i></a>
  <a href="https://www.linkedin.com/in/mertnuhoglu" title="Follow on Google+" class="nav-social"><i class="fa fa-google-plus"></i></a>
  <a href="https://medium.com/@mertnuhoglu" title="Follow on Medium" class="nav-social"><i class="fa fa-medium"></i></a>
  <a href="/index.xml" title="Subscribe to Atom Feed" class="nav-social"><i class="fa fa-rss"></i></a>
</li>
