{{ if .IsHome }}
  <nav class="navbar navbar-default navbar-fixed-top navbar-home">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top"><i class="fa fa-pencil">&nbsp;</i> Mert Nuhoglu </a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav" id="navmenu">
          {{ partial "common/nav-social.html" . }}
          <li><a href="http://veribilimi.mertnuhoglu.com"> Veri Bilimi </a></li>
          <li><a href="http://datascience.mertnuhoglu.com"> Data Science </a></li>
          <li data-menuanchor="blog" class="dropdown"><a href="#blog" class="dropdown-toggle" role="button"> Blog <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/blog/"> Blog </a></li>
              <li><a href="/short-stories/"> Short Stories / Öyküler </a></li>
              <li><a href="/essays/"> Essays / Denemeler </a></li>
              <li><a href="/management/"> Management By Structured Data / Yapılandırılmış Veriyle Yönetmek </a></li>
              <li><a href="/tech/"> Tech / Teknoloji </a></li>
              <li><a href="/misc/"> Misc / Karışık </a></li>
            </ul>
          </li>
          <li data-menuanchor="tech"><a href="/tech"> Tech </a></li>
        </ul>
      </div>
    </div>
  </nav>
{{ else }}
  {{ if or ( eq .Section "bookshelf" ) ( eq .Section "music" ) }}
    <nav class="navbar navbar-default navbar-fixed-top">
  {{ else }}
    <nav class="navbar navbar-inverse navbar-fixed-top">
  {{ end }}
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse" aria-expanded="false">
          {{ if or ( eq .Section "bookshelf" ) ( eq .Section "music" ) }}
              <i class="fa fa-bars"></i>
          {{ else }}
            <i class="fa fa-bars fa-inverse"></i>
          {{ end }}
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-pencil">&nbsp;</i> Mert Nuhoglu </a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav" id="navmenu">
          {{ partial "common/nav-social.html" . }}
          <li><a href="/#about"> About </a></li>
          <li><a href="http://veribilimi.mertnuhoglu.com"> Veri Bilimi </a></li>
          <li><a href="http://datascience.mertnuhoglu.com"> Data Science </a></li>
          <li class="dropdown"><a href="/blog/" class="dropdown-toggle" data-toggle="dropdown" role="button"> Blog <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/blog/"> Blog </a></li>
              <li><a href="/short-stories/"> Short Stories / Öyküler </a></li>
              <li><a href="/essays/"> Essays / Denemeler </a></li>
              <li><a href="/management/"> Management By Structured Data / Yapılandırılmış Veriyle Yönetmek </a></li>
              <li><a href="/tech/"> Tech / Teknoloji </a></li>
              <li><a href="/misc/"> Misc / Karışık </a></li>
            </ul>
          </li>
          <li><a href="/tech/"> Tech </a></li>
          <li><a href="/#contact"> Contact </a></li>
        </ul>
      </div>
    </div>
  </nav>
{{ end }}
