{{ partial "common/head.html" . }}
{{ partial "common/nav.html" . }}
{{ partial "common/header.html" . }}
  <section id="{{ lower .Title | urlize }}" class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{ .Content }}
          <p class="meta">
          <span id="copyright">
            Any work (images, writings, presentations, ideas or whatever) which I own is always provided under
            <br>
            <img alt="Creative Commons License" style="border-width:0; height:31px; width:88px;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-Share Alike 3.0 License</a>
            <br>
          </span>
          </p>
        </div>
      </div>
      <div class="row">
        {{ partial "common/author.html" . }}
      </div>
    </div>
  </section>
{{ partial "common/footer.html" . }}
