{{ partial "common/head.html" . }}
{{ partial "common/nav.html" . }}
{{ partial "common/header.html" . }}
  <section id="{{ lower .Title | urlize }}" class="content" itemscope itemtype="http://schema.org/Article">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{ if ge .WordCount 250 }}
            <p class="word-count">
              {{ .WordCount }} words · {{ .ReadingTime }} min read
            </p>
          {{ end }}
          {{ .Content }}
          <p class="meta">
              <a href="/{{ lower .Section | urlize }}/"><i class="fa fa-archive">&nbsp;</i>{{ .Section | humanize | title }}</a>
            &nbsp;&nbsp;
            <i class="fa fa-calendar-o" content="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">&nbsp;</i>{{ .Date.Format "2 Jan, 2006" }}
            <br />
          {{ range .Params.tag }}
            <a href="/tag/{{ lower . | urlize }}/"><i class="fa fa-tag">&nbsp;</i>{{ . }}</a>&nbsp;&nbsp;
          {{ end }}
          <br />
          <span id="copyright">
            Any work (images, writings, presentations, ideas or whatever) which I own is always provided under
            <br>
            <img alt="Creative Commons License" style="border-width:0; height:31px; width:88px;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-Share Alike 3.0 License</a>
            <br>
          </span>
          </p>
        </div>
      </div>
      <div class="row">
        {{ partial "common/author.html" . }}
        {{ partial "common/related.html" . }}
        {{ partial "common/disqus.html" . }}
        {{ partial "common/breadcrumbs.html" . }}
      </div>
    </div>
  </section>
{{ partial "common/footer.html" . }}
