﻿.container{height:100%;display:grid;grid-template-columns:repeat(12,1fr);grid-template-rows:40px auto 40px;grid-gap:3px;grid-template-areas:"h h h h h h h h h h h h" "m c c c c c c c c c c c" "f f f f f f f f f f f f"}.header{grid-area:h}.menu{grid-area:m}.content{grid-area:c}.footer{grid-area:f}