﻿.container{display:grid;grid-gap:5px;grid-template-columns:[main-start] 1fr [content-start] 5fr [content-end main-end];grid-template-rows:[main-start] 40px [content-start] auto [content-end] 40px [main-end]}.header{grid-column:main}.menu{}.content{grid-area:content}.footer{grid-column:main}