---
title: "Reproducing: Introduction to Association Rules in R by Yosuke Yasuda"
date: 2018-01-12T18:30:12+03:00 
draft: false
description: ""
tags:
categories: r, rdb
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
path: ~/projects/study/r/convert_yuml_to_rdb_style_data.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<pre class="r"><code>.libPaths(&quot;/Users/mertnuhoglu/.exploratory/R/3.4&quot;)
library(dplyr, warn.conflicts = F)</code></pre>
<p>This document reproduces the code explained in <a href="https://blog.exploratory.io/introduction-to-association-rules-market-basket-analysis-in-r-7a0dd900a3e0">Introduction to Association Rules in R by Yosuke Yasuda</a></p>
<p>csv files can be accessed from <a href="http://github.com/mertnuhoglu/study_data" class="uri">http://github.com/mertnuhoglu/study_data</a></p>
<pre class="r"><code>readr::read_csv(&quot;/Users/mertnuhoglu/projects/study_data/ds/article_introduction_to_association_rules_in_r_by_yosuke_yasuda_groceries.csv&quot;, , quote = &quot;\&quot;&quot;, skip = 0 , col_names = FALSE , na = c(&quot;&quot;,&quot;NA&quot;)) %&gt;%
  dplyr::mutate(transaction_id = row_number()) %&gt;%
  tidyr::gather(key, product, -transaction_id, na.rm = TRUE, convert = TRUE) %&gt;%
  dplyr::arrange(transaction_id) %&gt;%
  exploratory::do_apriori(product, transaction_id, min_support = 0.0001) %&gt;%
  dplyr::filter(support &gt; 0.0004) %&gt;%
  dplyr::group_by(rhs) %&gt;%
  dplyr::top_n(3, lift)</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   X1 = col_character(),
##   X2 = col_character(),
##   X3 = col_character(),
##   X4 = col_character()
## )</code></pre>
<pre><code>## Warning in rbind(names(probs), probs_f): number of columns of result is not a multiple of vector length (arg 1)</code></pre>
<pre><code>## Warning: 8830 parsing failures.
## row # A tibble: 5 x 5 col     row   col  expected    actual expected   &lt;int&gt; &lt;chr&gt;     &lt;chr&gt;     &lt;chr&gt; actual 1     2  &lt;NA&gt; 4 columns 3 columns file 2     3  &lt;NA&gt; 4 columns 1 columns row 3     6  &lt;NA&gt; 4 columns 5 columns col 4     7  &lt;NA&gt; 4 columns 1 columns expected 5     8  &lt;NA&gt; 4 columns 5 columns actual # ... with 1 more variables: file &lt;chr&gt;
## ... ................. ... ................................. ........ ................................. ...... ................................. .... ................................. ... ................................. ... ................................. ........ ................................. ...... .......................................
## See problems(...) for more details.</code></pre>
<pre><code>## # A tibble: 30 x 5
## # Groups:   rhs [15]
##                                lhs          rhs      support confidence      lift
##                              &lt;chr&gt;        &lt;chr&gt;        &lt;dbl&gt;      &lt;dbl&gt;     &lt;dbl&gt;
##  1 canned beer, liquor (appetizer)         soda 0.0004067107  0.5714286  5.526057
##  2  frozen potato products, yogurt   whole milk 0.0004067107  0.8000000  3.589416
##  3         frankfurter, liver loaf      sausage 0.0005083884  0.7142857  7.602814
##  4             liver loaf, sausage  frankfurter 0.0005083884  0.5000000  8.478448
##  5         flour, other vegetables   whole milk 0.0005083884  0.8333333  3.738975
##  6        canned beer, canned fish   rolls/buns 0.0004067107  0.8000000  6.319679
##  7          liquor, red/blush wine bottled beer 0.0016268429  0.9411765 19.528419
##  8    bottled beer, red/blush wine       liquor 0.0016268429  0.6666667 81.958333
##  9            red/blush wine, soda       liquor 0.0006100661  0.5454545 67.056818
## 10                    liquor, soda bottled beer 0.0010167768  0.7692308 15.960727
## # ... with 20 more rows</code></pre>
