---
title: "CSS Grid Examples from Learn CSS Grid Course at Scrimba"
date: 2018-02-16T14:22:38+03:00  
draft: false
description: ""
tags:
categories: css
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- cssgrid01.html
- cssgrid02.html
- cssgrid03.html
- cssgrid04.html
- cssgrid05.html
- cssgrid06.html
- cssgrid07.html
- cssgrid08.html
- cssgrid09.html
- cssgrid10.html
- cssgrid11.html
- cssgrid12.html
- cssgrid13.html
- cssgrid14.html
- cssgrid15.html
- cssgrid16.html
- cssgrid17.html
- cssgrid17b.html
- cssgrid19.html
- cssgrid20.html
- cssgrid21.html
- cssgrid22.html
- cssgrid23.html
- cssgrid24.html
- cssgrid25.html
- cssgrid26.html
- cssgrid01.css
- cssgrid02.css
- cssgrid03.css
- cssgrid04.css
- cssgrid05.css
- cssgrid06.css
- cssgrid07.css
- cssgrid08.css
- cssgrid09.css
- cssgrid10.css
- cssgrid11.css
- cssgrid12.css
- cssgrid13.css
- cssgrid14.css
- cssgrid15.css
- cssgrid16.css
- cssgrid17.css
- cssgrid17b.css
- cssgrid19.css
- cssgrid20.css
- cssgrid21.css
- cssgrid22.css
- cssgrid23.css
- cssgrid24.css
- cssgrid25.css
- cssgrid26.css
path: ~/projects/study/html/cssgrid_01/cssgrid.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<p>This blog post contains my notes from the great interactive video course <a href="https://scrimba.com/g/gR8PTE">Learn CSS Grid for free</a> authored by <a href="https://scrimba.com/@perborgen">Per Harald Borgen</a>. Please watch the video courses. They explain CSS Grid in a very easy to understand way. The videos are interactive. The watcher can edit the source code at any time directly on the video screen and see the effects immediately.</p>
<div id="v01-stacking-without-css-grid" class="section level2">
<h2>v01: Stacking without CSS Grid</h2>
<pre class="bash"><code>cat cssgrid01.html</code></pre>
<pre><code>## ﻿&lt;html&gt;
##     &lt;head&gt;
##         &lt;link rel=&quot;stylesheet&quot; href=&quot;basic.css&quot;&gt;
##         &lt;style&gt;
##             .container {
##                 display: grid;
##             }
##         &lt;/style&gt;
##     &lt;/head&gt;
##     &lt;body&gt;
##         &lt;div class=&quot;container&quot;&gt;
##             &lt;div&gt;1&lt;/div&gt;
##             &lt;div&gt;2&lt;/div&gt;
##             &lt;div&gt;3&lt;/div&gt;
##             &lt;div&gt;4&lt;/div&gt;
##             &lt;div&gt;5&lt;/div&gt;
##             &lt;div&gt;6&lt;/div&gt;
##         &lt;/div&gt;
##     &lt;/body&gt;
## &lt;/html&gt;</code></pre>
<iframe src="cssgrid01.html" width="600" height="300">
</iframe>
</div>
<div id="v02-basic-layout-with-css-grid" class="section level2">
<h2>v02: Basic Layout with CSS Grid</h2>
<p>Sizes of columns and rows are specified with: <code>grid-template-columns</code> and <code>grid-template-rows</code></p>
<pre class="css"><code>            .container {
                display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: 50px 50px 100px;
                grid-gap: 3px;
            }</code></pre>
<style type="text/css">
            .container {
                display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: 50px 50px 100px;
                grid-gap: 3px;
            }
</style>
<p>Note that, <code>auto</code> makes the second column responsive.</p>
<p>Let’s convert from 3 columns x 2 rows to 2 columns x 3 rows:</p>
<iframe src="cssgrid02.html" width="600" height="150">
</iframe>
<pre class="css"><code>                grid-template-columns: 100px auto;
                grid-template-rows: 50px 50px 100px;</code></pre>
<style type="text/css">
                grid-template-columns: 100px auto;
                grid-template-rows: 50px 50px 100px;
</style>
<iframe src="cssgrid03.html" width="600" height="250">
</iframe>
<p>We can move the style code into a separate css file:</p>
<pre class="html"><code>        &lt;link rel=&quot;stylesheet&quot; href=&quot;cssgrid04.css&quot;&gt;</code></pre>
<pre class="bash"><code>cat cssgrid04.css</code></pre>
<pre><code>## ﻿.container {
##     display: grid;
##     grid-template-columns: 100px auto;
##     grid-template-rows: 50px 50px 100px;
##     grid-gap: 3px;
## }</code></pre>
<p>The result is the same.</p>
</div>
<div id="v03-fraction-units-and-repeat" class="section level2">
<h2>v03: Fraction Units and repeat()</h2>
<p><code>2fr</code> column is twice as large as <code>1fr</code> column.</p>
<pre class="css"><code>    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px;</code></pre>
<style type="text/css">
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px;
</style>
<iframe src="cssgrid05.html" width="600" height="150">
</iframe>
<p>To make all columns equal in width, we can either do this:</p>
<pre class="css"><code>    grid-template-columns: 1fr 1fr 1fr;</code></pre>
<style type="text/css">
    grid-template-columns: 1fr 1fr 1fr;
</style>
<p>or this:</p>
<pre class="css"><code>    grid-template-columns: repeat(3, 1fr);</code></pre>
<style type="text/css">
    grid-template-columns: repeat(3, 1fr);
</style>
<iframe src="cssgrid06.html" width="600" height="150">
</iframe>
<p>Let’s make 6 columns:</p>
<pre class="css"><code>    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px;</code></pre>
<style type="text/css">
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px 50px;
</style>
<iframe src="cssgrid07.html" width="600" height="150">
</iframe>
<p>We can use <code>repeat()</code> also with rows:</p>
<pre><code>grid-template-rows: repeat(2, 50px);</code></pre>
<p>As shorthand, we can specify column and row sizes in one line:</p>
<pre><code>grid-template: repeat(2, 50px) / repeat(3, 1fr);</code></pre>
<iframe src="cssgrid08.html" width="600" height="250">
</iframe>
</div>
<div id="v04-positioning-items" class="section level2">
<h2>v04: Positioning items</h2>
<pre class="bash"><code>cat cssgrid09.html | sed -n &#39;/container/,+5 p&#39;</code></pre>
<pre><code>##         &lt;div class=&quot;container&quot;&gt;
##             &lt;div class=&quot;header&quot;&gt;HEADER&lt;/div&gt;
##             &lt;div class=&quot;menu&quot;&gt;MENU&lt;/div&gt;
##             &lt;div class=&quot;content&quot;&gt;CONTENT&lt;/div&gt;
##             &lt;div class=&quot;footer&quot;&gt;FOOTER&lt;/div&gt;
##         &lt;/div&gt;</code></pre>
<pre><code>grid-template: 40px 40px / repeat(2, 1fr);</code></pre>
<iframe src="cssgrid09.html" width="600" height="400">
</iframe>
<p>Let’s give <code>content</code> more area to expand:</p>
<pre><code>grid-template: 40px 200px 40px / repeat(2, 1fr);</code></pre>
<p>But we need to separate <code>content</code> section from <code>footer</code> section.</p>
<pre class="css"><code>.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.menu {}

.content {}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}</code></pre>
<style type="text/css">
.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.menu {}

.content {}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}
</style>
<p>Let’s make <code>content</code> section wider too:</p>
<pre><code>grid-template: 40px 200px 40px / 1fr 4fr;</code></pre>
<iframe src="cssgrid10.html" width="600" height="400">
</iframe>
<p>Alternatively, we can write in shorthand form:</p>
<pre><code>grid-column: 1 / 3;</code></pre>
<p>Or:</p>
<pre><code>grid-column: 1 / span 2;</code></pre>
<p>Or:</p>
<pre><code>grid-column: 1 / -1;</code></pre>
<p><code>-1</code> is useful if we may change number of columns later.</p>
<p>Let’s use 12 column layout:</p>
<pre><code>grid-template-columns: repeat(12, 1fr);</code></pre>
<p>We don’t need to change the followings:</p>
<pre><code>grid-column: 1 / -1;</code></pre>
<p>But we need to specify the positioning of <code>content</code></p>
<pre><code>.content {
  grid-column: 2 / -1;
}</code></pre>
<iframe src="cssgrid11.html" width="600" height="400">
</iframe>
<p>Now, let’s change the overall layout. Let the <code>menu</code> section start from the top and slide <code>header</code> section beside it.</p>
<p>To do it, <code>header</code> should start from 2. column border and <code>menu</code> should start from 1. row border:</p>
<pre><code>.header {
  grid-column: 2 / -1;
}

.menu {
  grid-row: 1 / 3;
}</code></pre>
<iframe src="cssgrid12.html" width="600" height="400">
</iframe>
</div>
<div id="v05-template-areas" class="section level2">
<h2>v05: Template Areas</h2>
<p>“Template Area” feature allows to experiment with different layouts very rapidly.</p>
<pre class="bash"><code>cat cssgrid13.css</code></pre>
<pre><code>## ﻿.container {
##   height: 100%;
##   display: grid;
##   grid-template-columns: repeat(12, 1fr);
##   grid-template-rows: 40px auto 40px;
##   grid-gap: 3px;
##   grid-template-areas:
##     &quot;h h h h h h h h h h h h&quot;
##     &quot;m c c c c c c c c c c c&quot;
##     &quot;f f f f f f f f f f f f&quot;
## }
## 
## .header {
##   grid-area: h;
## }
## 
## .menu {
##   grid-area: m;
## }
## 
## .content {
##   grid-area: c;
## }
## 
## .footer {
##   grid-area: f;
## }</code></pre>
<p>The layout of the page is specified with the following expression:</p>
<pre><code>grid-template-areas:
  &quot;h h h h h h h h h h h h&quot;
  &quot;m c c c c c c c c c c c&quot;
  &quot;f f f f f f f f f f f f&quot;</code></pre>
<p><code>h m c f</code> are <code>header menu content footer</code> sections respectively.</p>
<iframe src="cssgrid13.html" width="600" height="400">
</iframe>
<p>To experiment with different layouts, let’s change top h and bottom f with m:</p>
<pre><code>grid-template-areas:
  &quot;m h h h h h h h h h h h&quot;
  &quot;m c c c c c c c c c c c&quot;
  &quot;m f f f f f f f f f f f&quot;</code></pre>
<iframe src="cssgrid14.html" width="600" height="400">
</iframe>
<p><code>.</code> dots will make blank cells</p>
<p>But all sections should be rectangular.</p>
<pre><code>grid-template-areas:
  &quot;m . . h h h h h h h h h&quot;
  &quot;m c c c c c c c c c c c&quot;
  &quot;m f f f f f f f f f f f&quot;</code></pre>
<iframe src="cssgrid15.html" width="600" height="400">
</iframe>
</div>
<div id="v06-auto-fit-and-minmax" class="section level2">
<h2>v06 Auto-fit and minmax</h2>
<p><code>auto-fit</code> adjusts the number of columns according to the size of the window:</p>
<pre><code>grid-template-columns: repeat(auto-fit, 100px);</code></pre>
<iframe src="cssgrid16.html" width="600" height="400">
</iframe>
<iframe src="cssgrid16.html" width="300" height="400">
</iframe>
<p>Instead of <code>100px</code> we can use <code>1fr</code> together with minmax. A column will be at least <code>100px</code> and at max <code>1fr</code>.</p>
<pre><code>grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));</code></pre>
<iframe src="cssgrid17.html" width="600" height="400">
</iframe>
<iframe src="cssgrid17.html" width="200" height="400">
</iframe>
</div>
<div id="v07-implicit-rows" class="section level2">
<h2>v07 Implicit rows</h2>
<p>Note that, in the previous examples the rows after second row have a broken height. Let’s define default size for all rows:</p>
<pre><code>grid-auto-rows: 100px;</code></pre>
<p>instead of:</p>
<pre><code>grid-template-rows: repeat(2, 100px);</code></pre>
<p>–&gt;</p>
<pre><code>grid-auto-rows: 100px;</code></pre>
<iframe src="cssgrid17b.html" width="200" height="400">
</iframe>
</div>
<div id="v08-an-awesome-image-grid" class="section level2">
<h2>v08 An awesome image grid</h2>
<p><span class="citation">@tbd</span></p>
<pre><code>.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}</code></pre>
<p>blank spots</p>
<pre><code>grid-auto-flow: dense;</code></pre>
<p>source order independence</p>
</div>
<div id="v09-named-lines" class="section level2">
<h2>v09 Named Lines</h2>
<p>Until now, we specified the layout using the border line numbers such as <code>1/3</code> where <code>1</code> is the starting column border line and 3 is the ending column border line:</p>
<pre><code>.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 40px auto 40px;
}
.header {
  grid-column: 1 / 3;
}
...</code></pre>
<iframe src="cssgrid19.html" width="600" height="200">
</iframe>
<p>Now, instead of line numbers we can give names to the lines:</p>
<pre><code>grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];</code></pre>
<p>Here, [main-start] is the name of first line. [content-start] is the name of second line.</p>
<p>Note that, third line has two names: <code>content-end</code> and <code>main-end</code>.</p>
<p>So, instead of <code>1 / 3</code> we can say <code>main-start / main-end</code></p>
<pre><code>.header {
  grid-column: main-start / main-end;
}

.content {
  grid-column: content-start / content-end;
}</code></pre>
<iframe src="cssgrid20.html" width="600" height="200">
</iframe>
<p>We can further simplify these expressions by eliminating <code>-start</code> and <code>-end</code> words:</p>
<pre><code>.header {
  grid-column: main;
}

.content {
  grid-column: content;
}</code></pre>
<iframe src="cssgrid21.html" width="600" height="200">
</iframe>
<p>We can do the same also for naming row lines:</p>
<pre><code>.container {
  grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
  grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
  ...

.footer {
  grid-column: main;
}</code></pre>
<iframe src="cssgrid22.html" width="600" height="200">
</iframe>
<p>We can still make one more simplification. Note that, <code>content</code> section’s 4 borders are named as <code>content</code>. So we can say:</p>
<pre><code>.content {
  grid-area: content;
}</code></pre>
<iframe src="cssgrid23.html" width="600" height="200">
</iframe>
<p>But we cannot do this for <code>footer</code> section. Because footer’s starting row is named as <code>content-end</code> whereas its ending row is named as <code>main-end</code>. Since, their names are different, we cannot specify it as a <code>grid-area</code>.</p>
</div>
<div id="v10-justify-content-and-align-content" class="section level2">
<h2>v10: justify-content and align-content</h2>
<p>Use <code>justify-content</code> to justify content as <code>start</code>, <code>center</code> or <code>end</code>:</p>
<pre><code>.container {
  justify-content: end;
  ...</code></pre>
<iframe src="cssgrid24.html" width="600" height="250">
</iframe>
<p><code>align-content</code> aligns the elements vertically:</p>
<pre><code>align-content: end;</code></pre>
<p>To distribute elements around space use: <code>space-evenly</code> <code>space-between</code> <code>space-around</code></p>
<pre><code>justify-content: space-between;</code></pre>
<iframe src="cssgrid25.html" width="600" height="250">
</iframe>
</div>
<div id="v11-auto-fit-vs.auto-fill" class="section level2">
<h2>v11: auto-fit vs. auto-fill</h2>
<p>There is a very slight difference between <code>auto-fit</code> and <code>auto-fill</code>:</p>
<pre><code>.container {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

.container2 {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}</code></pre>
<iframe src="cssgrid26.html" width="260" height="550">
</iframe>
<p>When we increase the width, both behave similarly:</p>
<iframe src="cssgrid26.html" width="460" height="550">
</iframe>
<p>But if we keep expanding, then they differ:</p>
<iframe src="cssgrid26.html" width="660" height="550">
</iframe>
</div>
