---
title: "Debugging Bugs in my Codes"
date: 2017-12-21T18:27:56+03:00 
draft: true
description: ""
tags:
categories: r debug
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="mutate-with-ifelse-overwrites-a-non-na-value-with-na" class="section level1">
<h1>mutate with ifelse overwrites a non-NA value with NA</h1>
<pre><code>id=g_10178</code></pre>
<p>debug_r_isna_all_checks_column_inside_dplyr_mutate.R</p>
</div>
