---
title: "Debug: mutate with ifelse overwrites a non-NA value with NA"
date: 2017-12-22T18:27:56+03:00 
draft: false
description: ""
tags:
categories: r debug
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<pre class="r"><code>library(dplyr)
df = tibble::tribble(
  ~data_field_name,   ~type,
      &quot;vehicle_id&quot;,      NA,
            &quot;type&quot;,  &quot;TEXT&quot;
  )
df
#&gt; # A tibble: 2 x 2
#&gt;   data_field_name  type
#&gt;             &lt;chr&gt; &lt;chr&gt;
#&gt; 1      vehicle_id  &lt;NA&gt;
#&gt; 2            type  TEXT</code></pre>
<p>After <code>mutate()</code>, second row’s <code>type</code> field becomes <code>NA</code>. This is unexpected behaviour.</p>
<pre class="r"><code>df %&gt;%
  dplyr::mutate( type = ifelse( rutils::is_na(type), &quot;TEXT&quot;, type)) 
#&gt; # A tibble: 2 x 2
#&gt;   data_field_name  type
#&gt;             &lt;chr&gt; &lt;chr&gt;
#&gt; 1      vehicle_id  TEXT
#&gt; 2            type  &lt;NA&gt;</code></pre>
<p>Using <code>base::is.na()</code> instead of <code>rutils::is_na()</code> solves the problem.</p>
<pre class="r"><code>df %&gt;%
  dplyr::mutate( type = ifelse( is.na(type), &quot;TEXT&quot;, type)) 
#&gt; # A tibble: 2 x 2
#&gt;   data_field_name  type
#&gt;             &lt;chr&gt; &lt;chr&gt;
#&gt; 1      vehicle_id  TEXT
#&gt; 2            type  TEXT</code></pre>
<p>Here is the definition of <code>rutils::is_na()</code>:</p>
<pre class="r"><code>is_na = function(x) is.na(x) | all(ifelse( class(x) == &quot;character&quot;, x == &quot;NA&quot;, FALSE))</code></pre>
<p>Probably, the unexpected behaviour is caused by intermixing of column data and row data. Normally, we expect <code>mutate()</code> to work for each row separately. But in this case, probably <code>x</code> argument is bound to the whole column vector not just a single row of it.</p>
