---
title: "Debug: Using `data.table` Bracket `[]` in Own Package"
date: 2017-12-21T14:27:56+03:00 
draft: false
description: ""
tags:
categories: r debug
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="bug-using-data.table-inside-own-package-messes-up-bracket-operator" class="section level1">
<h1>Bug: Using data.table inside own package messes up bracket <code>[]</code> operator</h1>
<p>In a <code>data.table</code> object, the bracket <code>[]</code> operator can be used to extract a row.</p>
<pre class="r"><code>dt = data.table::data.table(a = 1:3, b = 10:12)
data.table::setkey(dt, a)
dt[2]$b = 20
print(dt[2])
#&gt;    a  b
#&gt; 1: 2 20</code></pre>
<p>This is different than the usual bracket in a <code>data.frame</code> object. Here, the above idiom gives an error:</p>
<pre class="r"><code>df = data.frame(a = 1:3, b = 10:12)
print(dt[2])
#&gt; Error in dt[2]: object of type &#39;closure&#39; is not subsettable</code></pre>
<p>But when using that idiom inside my own package, the behaviour of the bracket <code>[]</code> operator is different. Instead of returning a row, it returns a column then:</p>
<pre class="r"><code>dt = data.table::data.table(a = 1:3, b = 10:12)
data.table::setkey(dt, a)
dt[2]$b = 20
print(dt[2])
#&gt;     b
#&gt; 1: 20
#&gt; 2: 20
#&gt; 3: 20</code></pre>
<p>To solve the problem, put <code>import(data.table)</code> line into <code>NAMESPACE</code> or put the following lines into any R script file in the package, so that <code>devtools::document</code> puts <code>import</code> into <code>NAMESPACE</code>.</p>
<pre class="r"><code>#&#39; @import data.table
NULL</code></pre>
</div>
