---
title: "Example: Bash Arrays"
date: 2017-12-14T18:27:56+03:00 
draft: false
description: ""
tags:
categories: examples bash
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
- ./data/bash_sample_csv.csv
---



<p>ref</p>
<ul>
<li><a href="http://www.tldp.org/LDP/abs/html/arrays.html" class="uri">http://www.tldp.org/LDP/abs/html/arrays.html</a></li>
<li><a href="http://www.thegeekstuff.com/2010/06/bash-array-tutorial" class="uri">http://www.thegeekstuff.com/2010/06/bash-array-tutorial</a></li>
<li><a href="http://www.yourownlinux.com/2016/12/bash-scripting-arrays-examples.html" class="uri">http://www.yourownlinux.com/2016/12/bash-scripting-arrays-examples.html</a></li>
</ul>
<div id="declare-array-and-assigning-values" class="section level2">
<h2>Declare Array and Assigning Values</h2>
<pre class="bash"><code>arr[index]=value</code></pre>
<pre class="bash"><code>arr[0]=&#39;a&#39;
arr[1]=&#39;b&#39;
echo ${arr[1]}
## b</code></pre>
<pre><code>## b</code></pre>
</div>
<div id="initializing-during-declaration" class="section level2">
<h2>Initializing during declaration</h2>
<p>Two options:</p>
<pre class="bash"><code>declare -a arr=(el1 el2)
arr=(el1 el2)</code></pre>
<pre class="bash"><code>arr=(&#39;a&#39; &#39;b&#39;)
echo ${arr[1]}
## b</code></pre>
<pre><code>## b</code></pre>
</div>
<div id="print-all-elements" class="section level2">
<h2>Print all elements</h2>
<pre class="bash"><code>echo ${arr[@]}
## a b</code></pre>
</div>
<div id="read-a-file-into-an-array" class="section level2">
<h2>Read a File into an Array</h2>
<pre class="bash"><code>arr=(`cat ./data/bash_sample_csv.csv`)
echo ${arr[@]}
## col1,col2 row11,row12 row21,row22</code></pre>
<pre><code>## col1,col2 row11,row12 row21,row22</code></pre>
</div>
<div id="loop-over-array" class="section level2">
<h2>Loop over array</h2>
<pre class="bash"><code>arr=(&#39;a&#39; &#39;b&#39;)
for el in &quot;${arr[@]}&quot;; do 
  echo $el
done
## a
## b</code></pre>
<pre><code>## a
## b</code></pre>
</div>
<div id="loop-over-a-space-separated-string" class="section level2">
<h2>Loop over a space separated string</h2>
<pre class="bash"><code>str=&quot;a b&quot;
for el in $str; do 
  echo $el
done
## a 
## b</code></pre>
<pre><code>## a
## b</code></pre>
</div>
