---
title: "Example: Bash Loops"
date: 2017-12-13T18:27:56+03:00 
draft: false
description: ""
tags:
categories: examples bash
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
- ./data/bash_sample_csv.csv
---



<div id="read-csv-loop-over-rows-then-parse-columns" class="section level2">
<h2>Read csv: loop over rows, then parse columns</h2>
<pre class="bash"><code>csv_file=./data/bash_sample_csv.csv
while IFS=, read col1 col2
do 
  echo &quot;$col1 $col2&quot;
done &lt; $csv_file
## col1 col2
## row11 row12
## row21 row22</code></pre>
<pre><code>## col1 col2
## row11 row12
## row21 row22</code></pre>
<p><code>IFS</code>: field separator. Default value: <code>space</code></p>
</div>
<div id="loop-over-file-names-matching-a-pattern" class="section level2">
<h2>Loop over file names matching a pattern</h2>
<pre class="bash"><code>for filename in *.Rmd; do
  echo $filename 
done
## ex_bash_loop.Rmd</code></pre>
<pre><code>## article_introduction_to_association_rules_in_r_by_yosuke_yasuda.Rmd
## cssgrid.Rmd
## ddl_to_data.Rmd
## debug_bugs.Rmd
## debug_datatable_bracket_in_own_package.Rmd
## debug_r_isna_all_checks_column_inside_dplyr_mutate.Rmd
## ecmascript_modules.Rmd
## ex_bash_array.Rmd
## ex_bash_loop.Rmd
## ex_jq.Rmd
## ex_r_rmarkdown.Rmd
## ex_r_time_date.Rmd
## ex_sql_data_generator_datafiller.Rmd
## ex_viml_file_expansion.Rmd
## import_js_files.Rmd
## mockup_rest_api_jsonserver.Rmd
## mongodb_import_export_dump_restore_commands.Rmd
## rdb_to_data.Rmd
## rdb_to_ddl.Rmd
## read_json.Rmd
## refcard_css_selectors.Rmd
## refcard_datapasta.Rmd
## refcard_loops.Rmd
## study_frisby_book_adequate_guide_to_fp.Rmd
## study_frisby_flickr_app.Rmd
## study_http_requests_in_js.Rmd
## study_http_requests_in_nodejs.Rmd
## study_hyperapp.Rmd
## study_js_promises.Rmd
## study_notes_cyclejs.Rmd
## study_parcel_jquery.Rmd
## study_parceljs.Rmd
## study_postgrest_starter_kit.Rmd
## study_ramda.Rmd
## study_render_html_table.Rmd
## using_js_in_rmd.Rmd
## vim_ex_fzf_fuzzy_file_finder.Rmd
## what_is_rdb.Rmd
## yuml_to_data_process.Rmd
## yuml_to_rdb.Rmd
## yuml_to_uml.Rmd</code></pre>
</div>
<div id="loop-over-a-range-of-numbers" class="section level2">
<h2>Loop over a range of numbers</h2>
<pre class="bash"><code>for i in {1..5}; do echo $i; done</code></pre>
<pre><code>## 1
## 2
## 3
## 4
## 5</code></pre>
</div>
<div id="loop-using-variables-for-end-points" class="section level2">
<h2>Loop using variables for end points</h2>
<p>Read: <a href="https://stackoverflow.com/questions/6191146/variables-in-bash-seq-replacement-1-10#6191382" class="uri">https://stackoverflow.com/questions/6191146/variables-in-bash-seq-replacement-1-10#6191382</a></p>
<p>Using <code>seq</code> command:</p>
<pre class="bash"><code>END=2
for i in $(seq 1 $END); do echo &quot;row: $i&quot;; done
## row: 1
## row: 2</code></pre>
<pre><code>## row: 1
## row: 2</code></pre>
<p>The following doesn’t work because brace expansion happens before variable expansion:</p>
<pre class="bash"><code>start=1
end=10
echo {$start..$end}
## Ouput: {1..10}</code></pre>
<pre><code>## {1..10}</code></pre>
<p>Using <code>eval</code> to make variable expansion first:</p>
<pre class="bash"><code>END=2
for i in $(eval echo 1 $END); do echo &quot;row: $i&quot;; done
## row: 1
## row: 2</code></pre>
<pre><code>## row: 1
## row: 2</code></pre>
<p>Using arithmetic for loop:</p>
<pre class="bash"><code>start=1
end=2
for ((i=start; i&lt;=end; i++))
do
   echo &quot;row: $i&quot;
done
## row: 1
## row: 2</code></pre>
<pre><code>## row: 1
## row: 2</code></pre>
</div>
