---
title: "Example: jq"
date: 2017-12-12T18:27:56+03:00 
draft: false
description: ""
tags:
categories: examples bash
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
- ./data/ex_jq_2.json
- ./data/ex_jq_2.yaml
- ./data/ex_jq_github.json
---



<div id="tutorial-string-output" class="section level1">
<h1>Tutorial: String output</h1>
<p>I simplified examples from here: <a href="https://medium.com/@frontman/how-to-parse-yaml-string-via-command-line-374567512303" class="uri">https://medium.com/@frontman/how-to-parse-yaml-string-via-command-line-374567512303</a></p>
<pre class="bash"><code>cat ./data/ex_jq_2.json

## {
##    &quot;field&quot;: &quot;a&quot;,
##    &quot;object&quot;: {
##       &quot;field&quot;: &quot;b&quot;
##    },
##    &quot;array&quot;: [
##      {
##         &quot;f1&quot;: &quot;c&quot;,
##         &quot;f2&quot;: &quot;d&quot;
##      }
##    ]
## }</code></pre>
<pre><code>## {
##    &quot;field&quot;: &quot;a&quot;,
##    &quot;object&quot;: {
##       &quot;field&quot;: &quot;b&quot;
##    },
##    &quot;array&quot;: [
##      {
##         &quot;f1&quot;: &quot;c&quot;,
##         &quot;f2&quot;: &quot;d&quot;
##      }
##    ]
## }</code></pre>
<div id="string-output" class="section level2">
<h2>String output</h2>
<p>Get by key: <code>.key</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.json | jq &#39;.field&#39;
## &quot;a&quot;</code></pre>
<pre><code>## &quot;a&quot;</code></pre>
<p>Get nested element by key: <code>.array[0].key</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.json | jq &#39;.array[0].f1&#39;
## &quot;c&quot;</code></pre>
<pre><code>## &quot;c&quot;</code></pre>
</div>
<div id="json-output" class="section level2">
<h2>Json output</h2>
<p>Get multiple fields: <code>{field1, field2}</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.json | jq &#39;.object | {field}&#39;

## {
##   &quot;field&quot;: &quot;b&quot;
## }</code></pre>
<pre><code>## {
##   &quot;field&quot;: &quot;b&quot;
## }</code></pre>
</div>
</div>
<div id="using-jq-for-yaml-files" class="section level1">
<h1>Using jq for yaml files</h1>
<p>yq is a jq wrapper. Download: <a href="https://github.com/kislyuk/yq" class="uri">https://github.com/kislyuk/yq</a></p>
<pre class="bash"><code>cat ./data/ex_jq_2.yaml

## ---
## field: a
## object:
##   field: b
## array:
## - f1: c
## - f2: d</code></pre>
<pre><code>## ---
## field: a
## object:
##   field: b
## array:
## - f1: c
## - f2: d</code></pre>
<div id="string-output-1" class="section level2">
<h2>String output</h2>
<p>Get by key: <code>.key</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.yaml | yq &#39;.field&#39;
## &quot;a&quot;</code></pre>
<pre><code>## &quot;a&quot;</code></pre>
<p>Get nested element by key: <code>.array[0].key</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.yaml | yq &#39;.array[0].f1&#39;
## &quot;c&quot;</code></pre>
<pre><code>## &quot;c&quot;</code></pre>
</div>
<div id="yaml-output" class="section level2">
<h2>yaml output</h2>
<p>Get multiple fields: <code>{field1, field2}</code></p>
<pre class="bash"><code>cat ./data/ex_jq_2.yaml | yq &#39;.object | {field}&#39;

## {
##   &quot;field&quot;: &quot;b&quot;
## }</code></pre>
<pre><code>## {
##   &quot;field&quot;: &quot;b&quot;
## }</code></pre>
<pre class="bash"><code>cat ./data/ex_jq_2.yaml | yq -y &#39;.object | {field}&#39;

## field: b</code></pre>
<pre><code>## field: b</code></pre>
</div>
</div>
<div id="official-tutorial-jq" class="section level1">
<h1>Official Tutorial jq</h1>
<p>I simplified examples from here: <a href="https://stedolan.github.io/jq/tutorial/" class="uri">https://stedolan.github.io/jq/tutorial/</a></p>
<pre class="bash"><code>curl &#39;https://api.github.com/repos/stedolan/jq/commits?per_page=2&#39; &gt; ./data/ex_jq_github.json
head -n 6 ./data/ex_jq_github.json</code></pre>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;.&#39; | head -n 5
## [
##   {
##     &quot;sha&quot;: &quot;61edf3fa93f6177ef099b1b0cb2b49813a35c546&quot;,
##     &quot;commit&quot;: {
##       &quot;author&quot;: {</code></pre>
<pre><code>## [
##   {
##     &quot;sha&quot;: &quot;61edf3fa93f6177ef099b1b0cb2b49813a35c546&quot;,
##     &quot;commit&quot;: {
##       &quot;author&quot;: {</code></pre>
<p>Get first item: <code>.[0]</code></p>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;.[0]&#39; | head -n 5
## {
##   &quot;sha&quot;: &quot;61edf3fa93f6177ef099b1b0cb2b49813a35c546&quot;,
##   &quot;commit&quot;: {
##     &quot;author&quot;: {
##       &quot;name&quot;: &quot;Larry Aasen&quot;,</code></pre>
<pre><code>## {
##   &quot;sha&quot;: &quot;61edf3fa93f6177ef099b1b0cb2b49813a35c546&quot;,
##   &quot;commit&quot;: {
##     &quot;author&quot;: {
##       &quot;name&quot;: &quot;Larry Aasen&quot;,</code></pre>
<p>Get first item: <code>.[0]</code> Then get <code>.commit.message</code></p>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;.[0] | {message: .commit.message}&#39; | head -n 5
## {
##   &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
## }</code></pre>
<pre><code>## {
##   &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
## }</code></pre>
<p>Get all items: <code>.[]</code> Then get <code>.commit.message</code> from each</p>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;.[] | {message: .commit.message}&#39; | head -n 5

## {
##   &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
## }
## {
##   &quot;message&quot;: &quot;Update AUTHORS&quot;</code></pre>
<pre><code>## {
##   &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
## }
## {
##   &quot;message&quot;: &quot;Update AUTHORS&quot;</code></pre>
<p>Wrap output as a single array, by wrapping the filter in brackets: <code>[&lt;filter&gt;]</code></p>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;[.[] | {message: .commit.message}]&#39; | head -n 5

## [
##   {
##     &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
##   },
##   {</code></pre>
<pre><code>## [
##   {
##     &quot;message&quot;: &quot;Updated the compile-ios.sh script to fix issues with local oniguruma path.&quot;
##   },
##   {</code></pre>
<div id="navigating-relative-parents" class="section level2">
<h2>Navigating relative parents</h2>
<pre class="bash"><code>cat ./data/ex_jq_github.json | jq &#39;[.[] | {parents: [.parents[].html_url]}]&#39; | head -n 5

## [
##   {
##     &quot;parents&quot;: [
##       &quot;https://github.com/stedolan/jq/commit/8eff744eecb9ab2f43e75c70030bc9985bac18b2&quot;
##     ]</code></pre>
<pre><code>## [
##   {
##     &quot;parents&quot;: [
##       &quot;https://github.com/stedolan/jq/commit/8eff744eecb9ab2f43e75c70030bc9985bac18b2&quot;
##     ]</code></pre>
<p>hello</p>
</div>
</div>
