---
title: "Example: R Time and Date"
date: 2017-12-19T18:27:56+03:00 
draft: false
description: ""
tags:
categories: examples R 
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="iso-8601-format" class="section level2">
<h2>ISO 8601 Format</h2>
<p>Reading time:</p>
<pre class="r"><code>as.POSIXlt(Sys.time(), &quot;UTC&quot;, &quot;%Y-%m-%dT%H:%M:%S&quot;)</code></pre>
<pre><code>## [1] &quot;2018-12-11 16:31:25 UTC&quot;</code></pre>
<pre class="r"><code>as.POSIXlt(Sys.time(), &quot;Asia/Baghdad&quot;, &quot;%Y-%m-%dT%H:%M:%S&quot;)</code></pre>
<pre><code>## [1] &quot;2018-12-11 19:31:26 +03&quot;</code></pre>
<p>Writing time:</p>
<pre class="r"><code>tm = as.POSIXlt(Sys.time(), &quot;Asia/Baghdad&quot;, &quot;%Y-%m-%dT%H:%M:%S&quot;)
strftime(tm , &quot;%Y-%m-%dT%H:%M:%S%z&quot;)</code></pre>
<pre><code>## [1] &quot;2018-12-11T19:31:26+0300&quot;</code></pre>
<pre class="r"><code>strftime(Sys.time(), &quot;%Y-%m-%dT%H:%M:%S%z&quot;)</code></pre>
<pre><code>## [1] &quot;2018-12-11T19:31:26+0300&quot;</code></pre>
</div>
