---
title: "Example: rmarkdown"
date: 2017-12-20T18:27:56+03:00 
draft: false
description: ""
tags:
categories: examples r rmarkdown
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
- ./globals.R
---



<div id="read-yaml-header-parameters" class="section level2">
<h2>Read yaml header parameters</h2>
<pre class="r"><code>yml = rmarkdown::yaml_front_matter(&quot;~/projects/study/r/ex_r_rmarkdown.Rmd&quot;)
str(yml)
#&gt; List of 10
#&gt;  $ title      : chr &quot;Example: rmarkdown&quot;
#&gt;  $ date       : chr &quot;2018-12-11T19:31:24+03:00&quot;
#&gt;  $ draft      : logi FALSE
#&gt;  $ description: chr &quot;&quot;
#&gt;  $ tags       : NULL
#&gt;  $ categories : chr &quot;examples r rmarkdown&quot;
#&gt;  $ type       : chr &quot;post&quot;
#&gt;  $ url        : NULL
#&gt;  $ author     : chr &quot;Mert Nuhoglu&quot;
#&gt;  $ output     : chr &quot;rmarkdown::html_document&quot;</code></pre>
<p>yaml header parameters in raw format are here:</p>
<pre class="bash"><code>cat ~/projects/study/r/ex_r_rmarkdown.Rmd | head 
## ---
## title: &quot;Example: rmarkdown&quot;
## date: &#39;2018-12-11T19:31:24+03:00&#39;
## draft: false
## description: &quot;&quot;
## tags:
## categories: examples r rmarkdown
## type: post
## url:
## author: &quot;Mert Nuhoglu&quot;</code></pre>
</div>
<div id="find-external-resource-references-dependencies" class="section level2">
<h2>Find external resource references / dependencies</h2>
<p>Assume that I have an external dependency such as the following code:</p>
<pre class="bash"><code>cat ./globals.R</code></pre>
<p>When first run, <code>find_external_resources()</code> couldn’t find external dependencies:</p>
<pre class="r"><code>rmarkdown::find_external_resources(&quot;~/projects/study/r/ex_r_rmarkdown.Rmd&quot;)
#&gt; [1] path     explicit web     
#&gt; &lt;0 rows&gt; (or 0-length row.names)</code></pre>
<p>Then I added the following parameter to the yaml header of the Rmd file:</p>
<pre><code>resource_files:
- ./globals.R</code></pre>
<pre class="r"><code>df = rmarkdown::find_external_resources(&quot;~/projects/study/r/ex_r_rmarkdown.Rmd&quot;)
df
#&gt;        path explicit   web
#&gt; 1 globals.R     TRUE FALSE
str(df)
#&gt; &#39;data.frame&#39;:    1 obs. of  3 variables:
#&gt;  $ path    : chr &quot;globals.R&quot;
#&gt;  $ explicit: logi TRUE
#&gt;  $ web     : logi FALSE</code></pre>
</div>
