---
title: "Example: VimL Vimscript File Expansion"
date: 2018-01-20T18:25:31+03:00 
draft: false
description: ""
tags:
categories: vimscript, example
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="file-expansions" class="section level2">
<h2>File expansions</h2>
<p>Get help from Vim about filename and path expansion modifiers:</p>
<pre class="vim"><code>:help filename-modifiers</code></pre>
<p>Path of file. <code>%</code> expands into current file path.</p>
<pre class="vim"><code>echo expand(&quot;%&quot;)
## /Users/mertnuhoglu/projects/study/vim/ex_viml_file_expansion.Rmd</code></pre>
<p>Path of directory. <code>h</code>: head. <code>p</code>: path. <code>:p:h</code> head of path of file</p>
<pre class="vim"><code>echo expand(&quot;%:p:h&quot;)
## /Users/mertnuhoglu/projects/study/vim</code></pre>
<p>Path of file. <code>p</code>: path of file</p>
<pre class="vim"><code>echo expand(&quot;%:p&quot;)
## /Users/mertnuhoglu/projects/study/vim/ex_viml_file_expansion.Rmd</code></pre>
<p>Path of file without extension. <code>r</code>: root of file name</p>
<pre class="vim"><code>echo expand(&quot;%:r&quot;)
## /Users/mertnuhoglu/projects/study/vim/ex_viml_file_expansion</code></pre>
</div>
<div id="run-an-r-command-to-render-rmarkdown-files-from-within-vim" class="section level2">
<h2>Run an R command to render rmarkdown files from within Vim</h2>
<p>In bash, the following command renders an <code>.Rmd</code> file to <code>.html</code> file</p>
<pre class="bash"><code>R -e &#39;rmarkdown::render(&quot;%&quot;)&#39;</code></pre>
<p>To run this command from within Vim easily, I defined a custom command in <code>.vimrc</code> file:</p>
<pre class="vim"><code>command! Rmarkdown :!R -e &#39;rmarkdown::render(&quot;%&quot;)&#39;</code></pre>
<p>Now simply typing the following auto-completable command inside Vim is enough:</p>
<pre class="vim"><code>:Rmarkdown</code></pre>
</div>
<div id="open-the-generated-html-file-after-rendering-rmarkdown" class="section level2">
<h2>Open the generated html file after rendering rmarkdown</h2>
<p><code>:Rmarkdown</code> command above renders <code>.Rmd</code> file into <code>.html</code> file. Now, I want to open it from within Vim easily.</p>
<p>The following custom command let’s me open generated <code>html</code> file easily:</p>
<pre class="vim"><code>command! OpenHtml :execute &#39;!open &#39; . expand(&quot;%:r&quot;) . &#39;.html&#39;
command! Ohtml OpenHtml </code></pre>
</div>
