---
title: "Mockup REST API Generator: JSON Server"
date: 2018-02-27T16:28:02+03:00 
draft: false
description: ""
tags:
categories: javascript
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/db.json
path: ~/projects/study/js/mockup_rest_api_jsonserver.Rmd
state: wip
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<p>Install:</p>
<pre><code>npm install -g json-server</code></pre>
<pre class="bash"><code>cat ex/db.json</code></pre>
<pre><code>## {
##   &quot;posts&quot;: [
##     { &quot;id&quot;: 1, &quot;title&quot;: &quot;json-server&quot;, &quot;author&quot;: &quot;typicode&quot; }
##   ],
##   &quot;comments&quot;: [
##     { &quot;id&quot;: 1, &quot;body&quot;: &quot;some comment&quot;, &quot;postId&quot;: 1 }
##   ],
##   &quot;profile&quot;: { &quot;name&quot;: &quot;typicode&quot; }
## }</code></pre>
<pre class="bash"><code>json-server --watch ex/db.json</code></pre>
<pre class="bash"><code>curl http://localhost:3000/posts/1
## {
##   &quot;id&quot;: 1,
##   &quot;title&quot;: &quot;json-server&quot;,
##   &quot;author&quot;: &quot;typicode&quot;
## }</code></pre>
