---
title: "Convert RDB to SQL Data Insert/Update Statements"
date: 2018-01-20T18:30:12+03:00 
draft: false
description: ""
tags:
categories: r, sql
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="hello" class="section level1">
<h1>Hello</h1>
<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 250)
options(max.print = 30)</code></pre>
<pre class="r"><code>library(dplyr, warn.conflicts = F)</code></pre>
<pre><code>## Warning: package &#39;dplyr&#39; was built under R version 3.4.4</code></pre>
<pre class="r"><code>evr = tibble::tribble(
  ~enum_var_id,     ~enum_var_name,
            1L,  &quot;route_stop_enum&quot;,
            2L,      &quot;action_enum&quot;,
            3L,       &quot;place_enum&quot;
  )
evl = tibble::tribble(
  ~enum_value_id,          ~enum_value_name,      ~enum_var_id,
           1000L,         &quot;departure depot&quot;,                1L,
           1001L,            &quot;return depot&quot;,                1L,
           1002L,               &quot;pick stop&quot;,                1L,
           1003L,               &quot;drop stop&quot;,                1L,
           1004L,          &quot;pick/drop stop&quot;,                1L,
           1005L,  &quot;departure/return depot&quot;,                1L,
           2000L,               &quot;pick/load&quot;,                2L,
           2001L,             &quot;drop/unload&quot;,                2L,
           3000L,                   &quot;depot&quot;,                3L,
           3001L,                 &quot;factory&quot;,                3L,
           3002L,                &quot;customer&quot;,                3L
  )</code></pre>
<p>Here are the test data:</p>
<pre class="r"><code>den = tibble::tribble(
  ~data_entity_id,               ~entity_name,
               7L,               &quot;enum_value&quot;,
               8L,                 &quot;enum_var&quot;
  )
dfl = tibble::tribble(
  ~data_field_id,         ~data_field_name,          ~type,     ~pk_fk, ~not_null, ~data_entity_id, ~fk_data_entity_id,     ~enum_var_name,
             26L,          &quot;enum_value_id&quot;,          &quot;INT&quot;,       &quot;PK&quot;,     FALSE,              7L,                 NA,                 NA,
             27L,            &quot;enum_var_id&quot;,          &quot;INT&quot;,       &quot;FK&quot;,      TRUE,              7L,                 8L,                 NA,
             28L,        &quot;enum_value_name&quot;,         &quot;TEXT&quot;,  &quot;NON_KEY&quot;,     FALSE,              7L,                 NA,                 NA,
             29L,            &quot;enum_var_id&quot;,          &quot;INT&quot;,       &quot;PK&quot;,     FALSE,              8L,                 NA,                 NA,
             30L,          &quot;enum_var_name&quot;,         &quot;TEXT&quot;,  &quot;NON_KEY&quot;,     FALSE,              8L,                 NA,                 NA
  )</code></pre>
<p>I didn’t type this data manually. I reproduced this data using excellent life-saver library <code>datapasta</code> by running the following code on terminal once:</p>
<pre class="r"><code>yumltordbschema::read_data_entity() %&gt;% dplyr::as_data_frame() %&gt;% datapasta::dpasta()
yumltordbschema::read_data_field() %&gt;% dplyr::as_data_frame() %&gt;% datapasta::dpasta()</code></pre>
<p><code>read_data_entity</code> and <code>read_data_field</code> functions import data from the file system. In order to make this <code>Rmd</code> file completely reproducible, I don’t import data from the file system here.</p>
<p>The main entry function for sql generation is <code>rdb_to_data</code>:</p>
<pre class="r"><code>rdb_to_data = function(entity, data_entities, dfl, den) {
  dflf = dfl %&gt;%
    dplyr::left_join(den, by = &quot;data_entity_id&quot;) %&gt;%
    dplyr::filter(entity_name == entity) 
  columns = dflf$data_field_name
  id_column = dflf %&gt;%
    dplyr::filter(pk_fk == &quot;PK&quot;) %&gt;%
    magrittr::extract2(&quot;data_field_name&quot;)
    df = data_entities[[entity]] %&gt;%
    dplyr::select_(.dots = columns)
    build_sql(df, entity, id_column, den)
}</code></pre>
<p>This will be called by the following lines in actual program:</p>
<pre class="r"><code>data_model_dir = &quot;/Users/mertnuhoglu/projects/itr/vrp_doc/data_model/&quot;
r_entity = function(entity, data_model_dir = env_data_model_dir()) {
  rio::import(sprintf(&quot;%s/../rdb/%s.xlsx&quot;, data_model_dir, entity))
}
entities = c(&quot;enum_var&quot;, &quot;enum_value&quot;)
data_entities = lapply(entities, r_entity, data_model_dir) %&gt;%
    setNames(entities)
data_entities
lapply( entities, rdb_to_data, data_entities, dfl, den)</code></pre>
<p>Note that, these statements access file system. In this Rmd file, I don’t want to import data from file system. Instead I will initialize <code>data_entities</code> from sample dataframes:</p>
<pre class="r"><code>entities = c(&quot;enum_var&quot;, &quot;enum_value&quot;)
data_entities = list( enum_var = evr, enum_value = evl )
data_entities</code></pre>
<pre><code>## $enum_var
## # A tibble: 3 x 2
##   enum_var_id enum_var_name  
##         &lt;int&gt; &lt;chr&gt;          
## 1           1 route_stop_enum
## 2           2 action_enum    
## 3           3 place_enum     
## 
## $enum_value
## # A tibble: 11 x 3
##    enum_value_id enum_value_name        enum_var_id
##            &lt;int&gt; &lt;chr&gt;                        &lt;int&gt;
##  1          1000 departure depot                  1
##  2          1001 return depot                     1
##  3          1002 pick stop                        1
##  4          1003 drop stop                        1
##  5          1004 pick/drop stop                   1
##  6          1005 departure/return depot           1
##  7          2000 pick/load                        2
##  8          2001 drop/unload                      2
##  9          3000 depot                            3
## 10          3001 factory                          3
## 11          3002 customer                         3</code></pre>
<p>Step by step, data flow inside <code>rdb_to_data()</code> is as follows:</p>
<pre class="r"><code>entity = &quot;enum_var&quot;
dflf = dfl %&gt;%
  dplyr::left_join(den, by = &quot;data_entity_id&quot;) %&gt;%
  dplyr::filter(entity_name == entity) </code></pre>
<pre><code>## Warning: package &#39;bindrcpp&#39; was built under R version 3.4.4</code></pre>
<pre class="r"><code>columns = dflf$data_field_name
df = data_entities[[entity]] %&gt;%
    dplyr::select_(.dots = columns)
df</code></pre>
<pre><code>## # A tibble: 3 x 2
##   enum_var_id enum_var_name  
##         &lt;int&gt; &lt;chr&gt;          
## 1           1 route_stop_enum
## 2           2 action_enum    
## 3           3 place_enum</code></pre>
<p>So, we get meta data from <code>dfl</code> which stores all data fields for each entity (table). From that, we obtain the names of the columns (fields) which we will use while generating SQL commands.</p>
<p>Now, let’s implement <code>build_sql()</code></p>
<pre class="r"><code>insert_sql_template = function( entity, columns ) {
    template = &quot;INSERT INTO %s (%s) VALUES (%s);&quot;
    column_names = columns %&gt;% paste(collapse=&quot;,&quot;)
    data_placeholders = rep( &quot;&#39;%s&#39;&quot;, length(columns ) ) %&gt;% paste(collapse=&quot;,&quot;) 
    result = sprintf( template, entity, column_names, data_placeholders )
    return(result)
}

insert_sql = function( data, template ) {
    arg = c( list(template), as.list(data) )
    do.call( &#39;sprintf&#39;, arg ) %&gt;%
        stringr::str_replace_all( &quot;&#39;NA&#39;&quot;, &quot;null&quot; )
}

sql_insert = function(df, entity) {
    template_df = dplyr::data_frame( entity = entity, insert_template = insert_sql_template(entity, names(df) ))
    insert_sql( df, template_df$insert_template )
}

sql = sql_insert( df, entity )
sql</code></pre>
<pre><code>## [1] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;1&#39;,&#39;route_stop_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;2&#39;,&#39;action_enum&#39;);&quot;    
## [3] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;3&#39;,&#39;place_enum&#39;);&quot;</code></pre>
<p><code>df</code> contains the data for which we generate <code>SQL INSERT</code> commands.</p>
<p><code>sql_insert()</code> function converts data contained in a <code>data_frame</code> into <code>SQL INSERT</code> statements.</p>
<pre class="r"><code>build_sql = function(df, entity) {
    sql = sql_insert( df, entity )
  return(list(
              sql_insert = sql
              ))
}</code></pre>
<p>I put <code>sql_insert</code> inside <code>build_sql</code> function because later I will also create <code>UPDATE</code> and other commands in addition to <code>INSERT</code> inside <code>build_sql()</code>.</p>
<p>So, let’s update definition of <code>rdb_to_data()</code> with this <code>build_sql()</code> and run the program again:</p>
<pre class="r"><code>rdb_to_data = function(entity, data_entities, dfl, den) {
  dflf = dfl %&gt;%
    dplyr::left_join(den, by = &quot;data_entity_id&quot;) %&gt;%
    dplyr::filter(entity_name == entity) 
  columns = dflf$data_field_name
    df = data_entities[[entity]] %&gt;%
    dplyr::select_(.dots = columns)
    build_sql(df, entity)
}
lapply( entities, rdb_to_data, data_entities, dfl, den)</code></pre>
<pre><code>## [[1]]
## [[1]]$sql_insert
## [1] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;1&#39;,&#39;route_stop_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;2&#39;,&#39;action_enum&#39;);&quot;    
## [3] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;3&#39;,&#39;place_enum&#39;);&quot;     
## 
## 
## [[2]]
## [[2]]$sql_insert
##  [1] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1000&#39;,&#39;1&#39;,&#39;departure depot&#39;);&quot;        &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1001&#39;,&#39;1&#39;,&#39;return depot&#39;);&quot;          
##  [3] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1002&#39;,&#39;1&#39;,&#39;pick stop&#39;);&quot;              &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1003&#39;,&#39;1&#39;,&#39;drop stop&#39;);&quot;             
##  [5] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1004&#39;,&#39;1&#39;,&#39;pick/drop stop&#39;);&quot;         &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1005&#39;,&#39;1&#39;,&#39;departure/return depot&#39;);&quot;
##  [7] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;2000&#39;,&#39;2&#39;,&#39;pick/load&#39;);&quot;              &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;2001&#39;,&#39;2&#39;,&#39;drop/unload&#39;);&quot;           
##  [9] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;3000&#39;,&#39;3&#39;,&#39;depot&#39;);&quot;                  &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;3001&#39;,&#39;3&#39;,&#39;factory&#39;);&quot;               
## [11] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;3002&#39;,&#39;3&#39;,&#39;customer&#39;);&quot;</code></pre>
<p>Now, we can define functions that will generate <code>SQL UPDATE</code> and <code>SQL DELETE</code> commands. The functions are very similar to <code>SQL INSERT</code> generating functions.</p>
<p>Let’s add <code>SQL UPDATE</code> and <code>SQL DELETE</code> statements into <code>build_sql()</code> function:</p>
<pre class="r"><code>delete_sql = function( df, template ) {
    arg = c( list(template), as.list(df) )
    do.call( &#39;sprintf&#39;, arg ) 
}

delete_sql_template = function( entity, id_column) {
    template = &quot;DELETE FROM %s WHERE %s = %%s;&quot;
    sprintf( template, entity, id_column)
}

sql_delete = function(df, entity) {
    template = dplyr::data_frame( entity= entity, delete_template = delete_sql_template(entity, names(df) ))
    delete_sql( df, template$delete_template )
}

update_sql = function( data, template ) {
    arg = c( list(template), as.list(data) )
    do.call( &#39;sprintf&#39;, arg ) %&gt;%
        stringr::str_replace_all( &quot;&#39;\\bNA\\b&#39;&quot;, &quot;null&quot; ) 
}

update_sql_template = function( entity, columns ) {
    template = &quot;    UPDATE %s SET %s WHERE %s = %%s;&quot;
    columns_to_set = head(columns, -1)
    set_column_clause = sprintf(&quot;%s = &#39;%%s&#39;&quot;, columns_to_set) %&gt;% 
        paste(collapse=&quot;, &quot;)
  id_column = tail(columns, 1)
    sprintf( template, entity, set_column_clause, id_column )
}

sql_update = function(df, entity) {
    template = dplyr::data_frame( entity= entity, update_template = update_sql_template(entity, names(df) ))
    update_sql( df, template$update_template )
}</code></pre>
<p>Now, let’s update <code>build_sql</code> with <code>sql_update</code>, <code>sql_delete</code>:</p>
<pre class="r"><code>build_sql = function(df, entity, id_column, den) {
  df_id_at_end = df %&gt;%
        dplyr::select( -dplyr::one_of(id_column), dplyr::everything(), id_column )
  df_no_fk = dplyr::select( df, -dplyr::ends_with(&quot;_id&quot;), id_column) %&gt;%
    dplyr::select( id_column, dplyr::everything() )
  if ( any(&quot;invalid&quot; %in% names(df)) ) {
    df_invalid = df %&gt;%
      dplyr::filter( invalid == 1 ) %&gt;%
      dplyr::select(id_column)
  } else {
    df_invalid = df %&gt;%
      dplyr::select(id_column)
  }
  list(
       sql_insert = sql_insert( df, entity )
       , sql_update = sql_update( df_id_at_end, entity )
       , sql_insert_no_fk = sql_insert( df_no_fk, entity )
       , sql_delete = sql_delete( df_invalid, entity )
       )
} 

rdb_to_data = function(entity, data_entities, dfl, den) {
  dflf = dfl %&gt;%
    dplyr::left_join(den, by = &quot;data_entity_id&quot;) %&gt;%
    dplyr::filter(entity_name == entity) 
  columns = dflf$data_field_name
  id_column = dflf %&gt;%
    dplyr::filter(pk_fk == &quot;PK&quot;) %&gt;%
    magrittr::extract2(&quot;data_field_name&quot;)
    df = data_entities[[entity]] %&gt;%
    dplyr::select_(.dots = columns)
    build_sql(df, entity, id_column, den)
}
ent_m_cmdtype_m_cmds = lapply( entities, rdb_to_data, data_entities, dfl, den) %&gt;%
  setNames(entities)
str(ent_m_cmdtype_m_cmds)</code></pre>
<pre><code>## List of 2
##  $ enum_var  :List of 4
##   ..$ sql_insert      : chr [1:3] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;1&#39;,&#39;route_stop_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;2&#39;,&#39;action_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;3&#39;,&#39;place_enum&#39;);&quot;
##   ..$ sql_update      : chr [1:3] &quot;    UPDATE enum_var SET enum_var_name = &#39;route_stop_enum&#39; WHERE enum_var_id = 1;&quot; &quot;    UPDATE enum_var SET enum_var_name = &#39;action_enum&#39; WHERE enum_var_id = 2;&quot; &quot;    UPDATE enum_var SET enum_var_name = &#39;place_enum&#39; WHERE enum_var_id = 3;&quot;
##   ..$ sql_insert_no_fk: chr [1:3] &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;1&#39;,&#39;route_stop_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;2&#39;,&#39;action_enum&#39;);&quot; &quot;INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;3&#39;,&#39;place_enum&#39;);&quot;
##   ..$ sql_delete      : chr [1:3] &quot;DELETE FROM enum_var WHERE enum_var_id = 1;&quot; &quot;DELETE FROM enum_var WHERE enum_var_id = 2;&quot; &quot;DELETE FROM enum_var WHERE enum_var_id = 3;&quot;
##  $ enum_value:List of 4
##   ..$ sql_insert      : chr [1:11] &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1000&#39;,&#39;1&#39;,&#39;departure depot&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1001&#39;,&#39;1&#39;,&#39;return depot&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1002&#39;,&#39;1&#39;,&#39;pick stop&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_var_id,enum_value_name) VALUES (&#39;1003&#39;,&#39;1&#39;,&#39;drop stop&#39;);&quot; ...
##   ..$ sql_update      : chr [1:11] &quot;    UPDATE enum_value SET enum_var_id = &#39;1&#39;, enum_value_name = &#39;departure depot&#39; WHERE enum_value_id = 1000;&quot; &quot;    UPDATE enum_value SET enum_var_id = &#39;1&#39;, enum_value_name = &#39;return depot&#39; WHERE enum_value_id = 1001;&quot; &quot;    UPDATE enum_value SET enum_var_id = &#39;1&#39;, enum_value_name = &#39;pick stop&#39; WHERE enum_value_id = 1002;&quot; &quot;    UPDATE enum_value SET enum_var_id = &#39;1&#39;, enum_value_name = &#39;drop stop&#39; WHERE enum_value_id = 1003;&quot; ...
##   ..$ sql_insert_no_fk: chr [1:11] &quot;INSERT INTO enum_value (enum_value_id,enum_value_name) VALUES (&#39;1000&#39;,&#39;departure depot&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_value_name) VALUES (&#39;1001&#39;,&#39;return depot&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_value_name) VALUES (&#39;1002&#39;,&#39;pick stop&#39;);&quot; &quot;INSERT INTO enum_value (enum_value_id,enum_value_name) VALUES (&#39;1003&#39;,&#39;drop stop&#39;);&quot; ...
##   ..$ sql_delete      : chr [1:11] &quot;DELETE FROM enum_value WHERE enum_value_id = 1000;&quot; &quot;DELETE FROM enum_value WHERE enum_value_id = 1001;&quot; &quot;DELETE FROM enum_value WHERE enum_value_id = 1002;&quot; &quot;DELETE FROM enum_value WHERE enum_value_id = 1003;&quot; ...</code></pre>
<div id="the-essence-of-sql-generation" class="section level2">
<h2>The Essence of SQL Generation</h2>
<p>The essence of SQL commands generation are done by the following functions:</p>
<pre class="r"><code>insert_sql_template = function( entity, columns ) {
    template = &quot;INSERT INTO %s (%s) VALUES (%s);&quot;
    column_names = columns %&gt;% paste(collapse=&quot;,&quot;)
    data_placeholders = rep( &quot;&#39;%s&#39;&quot;, length(columns ) ) %&gt;% paste(collapse=&quot;,&quot;) 
    result = sprintf( template, entity, column_names, data_placeholders )
    return(result)
}

insert_sql = function( data, template ) {
    arg = c( list(template), as.list(data) )
    do.call( &#39;sprintf&#39;, arg ) %&gt;%
        stringr::str_replace_all( &quot;&#39;NA&#39;&quot;, &quot;null&quot; )
}

sql_insert = function(df, entity) {
    template_df = dplyr::data_frame( entity = entity, insert_template = insert_sql_template(entity, names(df) ))
    insert_sql( df, template_df$insert_template )
}

sql = sql_insert( df, entity )</code></pre>
<p><code>insert_sql_template()</code> function returns a template string:</p>
<pre class="r"><code>template_df = dplyr::data_frame( entity = entity, insert_template = insert_sql_template(entity, names(df) ))
template_df</code></pre>
<pre><code>## # A tibble: 1 x 2
##   entity   insert_template                                                     
##   &lt;chr&gt;    &lt;chr&gt;                                                               
## 1 enum_var INSERT INTO enum_var (enum_var_id,enum_var_name) VALUES (&#39;%s&#39;,&#39;%s&#39;);</code></pre>
<p>This template string is filled with the data in <code>df</code>.</p>
<pre class="r"><code>df</code></pre>
<pre><code>## # A tibble: 3 x 2
##   enum_var_id enum_var_name  
##         &lt;int&gt; &lt;chr&gt;          
## 1           1 route_stop_enum
## 2           2 action_enum    
## 3           3 place_enum</code></pre>
</div>
</div>
