---
title: "R jsonlite: Read JSON Snippets"
date: 2018-02-03T10:25:38+03:00 
draft: false
description: ""
tags:
categories: r, json, snippet
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- data/plan_jobs.json
path: ~/projects/study/r/read_json.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<p>I have some json files exported from a mongodb database. Now, I am going to read and process them using <code>R jsonlite</code> library.</p>
<pre class="r"><code>result = jsonlite::fromJSON(&quot;data/plan_jobs.json&quot;)
result</code></pre>
<pre><code>##                          $oid     depot max_drops max_vol_tol shortStatus             status          submitDate   $numberLong trailer_eff_volM3
## 1    59259c9b4eb11bdcb734897d     ADANA         4          10           G         TAMAMLANDI 2017-05-24 17:45:47 1495637147081                73
## 2    5926703e4eb11bdcb73489e4     CORLU         4          10           G         TAMAMLANDI 2017-05-25 08:48:45 1495691325885                55
##      truck_eff_volM3           user lg_truck_eff_volM3
## 1                 33          admin                 NA
## 2                 33     plan_corlu                 NA
##  [ reached getOption(&quot;max.print&quot;) -- omitted 1296 rows ]</code></pre>
