---
title: "Refcard Loops in R"
date: 2017-12-16T18:27:56+03:00 
draft: false
description: ""
tags:
categories: r debug
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="looping-basic" class="section level1">
<h1>Looping Basic</h1>
<pre class="r"><code>mylist = list(10, 20)
for (e in mylist) print(e)
#&gt; [1] 10
#&gt; [1] 20</code></pre>
<pre class="r"><code>myvec = c(10, 20)
for (e in myvec) print (e)
#&gt; [1] 10
#&gt; [1] 20</code></pre>
<pre class="r"><code>myvec = c(10, 20)
for (i in seq_along(myvec)) print (myvec[i])
#&gt; [1] 10
#&gt; [1] 20</code></pre>
<pre class="r"><code>dfa = data.frame( a_id = 1:3, a_title = letters[1:3], b_id = c(10,10,11) )
for (i in 1:nrow(dfa))
  print(dfa[i, ])
#&gt;   a_id a_title b_id
#&gt; 1    1       a   10
#&gt;   a_id a_title b_id
#&gt; 2    2       b   10
#&gt;   a_id a_title b_id
#&gt; 3    3       c   11</code></pre>
<pre class="r"><code>dfa = data.frame( a_id = 1:3, a_title = letters[1:3], b_id = c(10,10,11) )
rutils::applyr(dfa, print)
#&gt;    a_id a_title    b_id 
#&gt;     &quot;1&quot;     &quot;a&quot;    &quot;10&quot; 
#&gt;    a_id a_title    b_id 
#&gt;     &quot;2&quot;     &quot;b&quot;    &quot;10&quot; 
#&gt;    a_id a_title    b_id 
#&gt;     &quot;3&quot;     &quot;c&quot;    &quot;11&quot;</code></pre>
</div>
<div id="looping-over-data-frame-rows" class="section level1">
<h1>Looping over Data Frame Rows</h1>
<p>Setup</p>
<pre class="r"><code>library(dplyr, warn.conflicts = F)</code></pre>
<pre><code>## Warning: package &#39;dplyr&#39; was built under R version 3.4.4</code></pre>
<pre class="r"><code>dfa = data_frame( a_id = 1:3, a_title = letters[1:3], b_id = c(10,10,11) )
dfb = data_frame( b_id = 10:12, b_title = letters[10:12] )</code></pre>
</div>
<div id="when-can-we-not-use-loop-functions" class="section level1">
<h1>When Can We Not Use Loop Functions?</h1>
<p>There are cases when we cannot use loop functions like <code>lapply</code>, <code>apply</code>, <code>Map</code></p>
<ol style="list-style-type: decimal">
<li>When we loop over each distinct value of a field of a table. See: <a href="/tech/ex_sql_generation/" title="SQL Generation">ex_sql_generation.Rmd</a></li>
</ol>
</div>
