---
title: "Curated Refcard for CSS Selectors and Elements"
date: 2018-02-19T10:23:13+03:00 
draft: false
description: ""
tags:
categories: css
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 250)
options(max.print = 30)</code></pre>
<p>This blog post is curated from different sources such as:</p>
<ul>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="uri">https://developer.mozilla.org/en-US/docs/Web/CSS</a></li>
<li><a href="https://adam-marsden.co.uk/css-cheat-sheet" class="uri">https://adam-marsden.co.uk/css-cheat-sheet</a></li>
</ul>
<p>But mostly, I summarized MDN documentation according to my own needs.</p>
<div id="basic-selectors" class="section level2">
<h2>Basic Selectors</h2>
<p>Universal Selectors:</p>
<pre><code>/* * Selects all elements of any type */
* { color: green; }</code></pre>
<p><code>*.warning</code> and <code>.warning</code> are equivalent</p>
<p>Id Selectors:</p>
<pre><code>#id {}</code></pre>
<p>equivalent to <code>attribute selector</code>: <code>[id=id_value]</code></p>
<p>Class Selectors</p>
<pre><code>.class_name {}
li.class_name {}
/* both class1 and class2 required: */
li.class1.class2 {}</code></pre>
<p>equivalent to <code>attribute selector</code>: <code>[class~=class_name]</code></p>
<p>Type Selectors:</p>
<pre><code>a {}
span {}
/* apply to both h1 and h2 */
h1, h2 {}</code></pre>
<p>Adjacent sibling combinator <code>+</code></p>
<pre><code>/* p follows img immediately */
img + p {}
former_element + target_element {}</code></pre>
<p>Child combinator <code>&gt;</code></p>
<pre><code>/* target is direct children of ul */
ul &gt; target {}</code></pre>
<p>General sibling selectors <code>~</code></p>
<pre><code>/* span follows p and both are children of the same parent */
p ~ span {}

&lt;span&gt;not selected.&lt;/span&gt;
&lt;p&gt;anything.&lt;/p&gt;
&lt;code&gt;....&lt;/code&gt;
&lt;span&gt;SELECTED!&lt;/span&gt;</code></pre>
<p>Descendant combinator <code>` (</code>space<code>) or</code>&gt;&gt;`</p>
<pre><code>/* li is descendant of ul */
ul li {}

&lt;ul&gt;...&lt;/ul&gt;
  &lt;div&gt;...
    &lt;li&gt;SELECTED&lt;/li&gt;
  &lt;/div&gt;
  &lt;li&gt;SELECTED&lt;/li&gt;</code></pre>
<p>Attribute selector</p>
<pre><code>/* &lt;a&gt; elements with a title attribute */
a[title] { }

/* &lt;a&gt; elements with an href matching &quot;https://example.org&quot; */
a[href=&quot;https://example.org&quot;] { }

/* &lt;a&gt; elements with an href containing &quot;example&quot; */
a[href*=&quot;example&quot;] { }

/* &lt;a&gt; elements with an href ending &quot;.org&quot; */
a[href$=&quot;.org&quot;] { }

/* attr contains a list of words one of which matches value */
a[attr~=&quot;value&quot;] { }

/* case sensitive: i I */
a[href*=&quot;insensitive&quot; i] {}</code></pre>
<p>Examples</p>
<pre><code>| description                     | example                 |
| select all elements of any type | *{}                     |
| select some_id                  | #some_id{}              |
| select class1 and class2 elems  | .class1.class2 {}       |
| select h1 h3 types              | h1, h3 {}               |
| p follows img directly          | img + p {}              |
| li direct children of ul        | ul &gt; li {}              |
| span follows p                  | p ~ span {}             |
| li descendant of ul             | ul li {}                |
| &lt;a&gt; with title attribute        | a[title] {}             |
| &lt;a&gt; href matches g.com          | a[href=&quot;https://g.com&quot;] |
| &lt;a&gt; href contains g             | a[href*=&quot;g&quot;]            |
| &lt;a&gt; href ends with &quot;.org&quot;       | a[href$=&quot;.org&quot;]         |
| &lt;a&gt; attr contains &quot;val&quot; word    | a[attr~=&quot;val&quot;]          |</code></pre>
</div>
<div id="combinators" class="section level2">
<h2>Combinators</h2>
</div>
<div id="pseudo-selectors" class="section level2">
<h2>Pseudo selectors</h2>
<pre><code>| description                               | selector        |
| mouse over selector                       | a:hover         |
| active link selector                      | a:active        |
| focus selector                            | input:focus     |
| visited links selector                    | a:visited       |
| link (not yet visited) selector           | a:link          |
| checked elements (toggled to an on state) | input:checked   |
| disabled elements                         | input:disabled  |
| enabled elements                          | input:enabled   |
| not a specified element                   | :not(p)         |
| first line                                | p::first-line   |
| first letter                              | p::first-letter |
| first child                               | p:first-child   |
| last child                                | p:last-child    |
| nth child (every 4th child)               | p:nth-child(4n) |
| first element of its type among siblings  | p:first-of-type |
| element with no children                  | p:empty         |

/* odd rows of a table */
tr:nth-child(odd)
/* seventh element */
:nth-child(7)</code></pre>
</div>
<div id="font-styling" class="section level2">
<h2>Font Styling</h2>
<pre><code>| description  | css             | values                             |
| font style   | font-style:     | normal italic oblique              |
| font variant | font-variant    | normal small-caps                  |
| boldness     | font-weight     | normal bold bolder lighter 100-900 |
| vertical     | vertical-align  | baseline 10px top ...              |
| transform    | text-transform  | capitalise lowercase uppercase     |
| size         | font-size       | 12px 0.8em 80%                     |
| space        | letter-spacing  | normal 4px                         |
| height       | line-height     | normal 3em 34%                     |
| horizontal   | text-align      | left right center justify          |
| decoration   | text-decoration | none underline overline ...        |
| indent       | text-indent     | 25px                               |
| font         | font-family     | &#39;Open Sans&#39;, sans-serif            |</code></pre>
</div>
<div id="position" class="section level2">
<h2>Position</h2>
<p>Use CSS Grid instead</p>
</div>
<div id="background" class="section level2">
<h2>Background</h2>
<pre><code>| description | css               | values       |
| image       | background-image  | url()        |
| repeat      | background-repeat | repeat-x ... |
| attachment  | ..                | ..           |
| color       | background-color  | ..           |
| position    | ..                |              |</code></pre>
</div>
<div id="box-properties" class="section level2">
<h2>Box Properties</h2>
<pre><code>| description | css          | values                 |
| sizing      | box-sizing   | border-box             |
| margin      | margin       | 2px 4px 6px 8px        |
| padding     | padding      | ..                     |
| color       | border-color |                        |
| style       | border-style | none hidden dotted ... |
| width       | border-width | 10px                   |</code></pre>
</div>
<div id="list-styling" class="section level2">
<h2>List Styling</h2>
<pre><code>| description | css                 | values         |
| type        | list-style-type     | disc circle .. |
| positon     | list-style-position | inside outside |
| image       | list-style-image    | url()          |</code></pre>
</div>
