---
title: "Refcard datapasta"
date: 2017-12-18T18:27:56+03:00 
draft: false
description: ""
tags:
categories: r examples
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<div id="start-from-data.frame" class="section level1">
<h1>Start from data.frame</h1>
<p>Initially I have some data.frame. <code>dpasta()</code> generates reproducible code for the data.frame</p>
<pre class="r"><code>library(magrittr)
library(datapasta)
#&gt; Warning: package &#39;datapasta&#39; was built under R version 3.3.2
df = data.frame(stringsAsFactors=FALSE,
    data_field_aid = c(1L, 2L),
   data_field_name = c(&quot;vehicle_id&quot;, &quot;type&quot;),
              type = c(NA, &quot;TEXT&quot;),
             pk_fk = c(NA, NA),
   data_entity_aid = c(1L, 1L),
       entity_name = c(&quot;Vehicle&quot;, &quot;Vehicle&quot;)
)
df %&gt;% dpasta()
#&gt; data.frame(stringsAsFactors=FALSE,
#&gt;     data_field_aid = c(1L, 2L),
#&gt;    data_field_name = c(&quot;vehicle_id&quot;, &quot;type&quot;),
#&gt;               type = c(NA, &quot;TEXT&quot;),
#&gt;              pk_fk = c(NA, NA),
#&gt;    data_entity_aid = c(1L, 1L),
#&gt;        entity_name = c(&quot;Vehicle&quot;, &quot;Vehicle&quot;)
#&gt; )
df
#&gt;   data_field_aid data_field_name type pk_fk data_entity_aid entity_name
#&gt; 1              1      vehicle_id &lt;NA&gt;    NA               1     Vehicle
#&gt; 2              2            type TEXT    NA               1     Vehicle</code></pre>
</div>
<div id="start-from-tibble" class="section level1">
<h1>Start from tibble</h1>
<p>Initially I have some tibble. I want to generate reproducible code for df tibble:</p>
<pre class="r"><code>library(dplyr)
library(datapasta)
df = tibble::tribble(
  ~data_field_aid, ~data_field_name,   ~type, ~pk_fk, ~data_entity_aid, ~entity_name,
               1L,     &quot;vehicle_id&quot;,      NA,     NA,               1L,    &quot;Vehicle&quot;,
               2L,           &quot;type&quot;,  &quot;TEXT&quot;,     NA,               1L,    &quot;Vehicle&quot;
)
df %&gt;% dpasta()
#&gt; tibble::tribble(
#&gt;   ~data_field_aid, ~data_field_name,   ~type, ~pk_fk, ~data_entity_aid, ~entity_name,
#&gt;                1L,     &quot;vehicle_id&quot;,      NA,     NA,               1L,    &quot;Vehicle&quot;,
#&gt;                2L,           &quot;type&quot;,  &quot;TEXT&quot;,     NA,               1L,    &quot;Vehicle&quot;
#&gt;   )</code></pre>
</div>
<div id="vector-and-list" class="section level1">
<h1>Vector and List</h1>
<p>Use <code>dpasta()</code> or <code>vector_paste()</code> for reproducing vector data:</p>
<pre class="r"><code>library(magrittr)
library(datapasta)
mtcars$mpg %&gt;% head() %&gt;% dpasta()
#&gt; c(21, 21, 22.8, 21.4, 18.7, 18.1)</code></pre>
<p>Works with lists too:</p>
<pre class="r"><code>library(magrittr)
library(datapasta)
#&gt; Warning: package &#39;datapasta&#39; was built under R version 3.3.2
alist = list(mpg = head(mtcars$mpg), cyl = head(mtcars$cyl))
alist %&gt;% dpasta()
#&gt; c(c(21, 21, 22.8, 21.4, 18.7, 18.1), c(6, 6, 4, 6, 8, 6))</code></pre>
<p>Vertical printing:</p>
<pre class="r"><code>library(magrittr)
library(datapasta)
mtcars$mpg %&gt;% head() %&gt;% vector_paste_vertical()
#&gt; c(21,
#&gt;   21,
#&gt;   22.8,
#&gt;   21.4,
#&gt;   18.7,
#&gt;   18.1)</code></pre>
</div>
<div id="copy-table-from-exceltsv" class="section level1">
<h1>Copy Table from Excel/TSV</h1>
<p>Assume that I copied the following excel/tsv data into the clipboard:</p>
<pre><code>&quot;data_entity_aid&quot;   &quot;entity_name&quot;
1   &quot;Vehicle&quot;
2   &quot;Shipment&quot;
3   &quot;Shipment_Action&quot;</code></pre>
<p>Now, I can reproduce data.frame code for this data using <code>df_paste()</code></p>
<pre class="r"><code>df_paste()
#&gt; data.frame(stringsAsFactors=FALSE,
#&gt;    X.data_entity_aid. = c(1L, 2L, 3L),
#&gt;        X.entity_name. = c(&quot;\&quot;Vehicle\&quot;&quot;, &quot;\&quot;Shipment\&quot;&quot;, &quot;\&quot;Shipment_Action\&quot;&quot;)
#&gt; )</code></pre>
</div>
<div id="read-data-from-exceltsv" class="section level1">
<h1>Read Data from Excel/TSV</h1>
<p>This time, instead of copying data manually from Excel/TSV, I will read it inside R and then reproduce it:</p>
<pre class="r"><code>library(magrittr)
readr::read_tsv(&quot;data/refcard_datapasta_data_entity.tsv&quot;) %&gt;%
  datapasta::dpasta()</code></pre>
<pre><code>## Parsed with column specification:
## cols(
##   data_entity_id = col_double(),
##   entity_name = col_character()
## )</code></pre>
<pre><code>## tibble::tribble(
##   ~data_entity_id,               ~entity_name,
##                 1,          &quot;address_variant&quot;,
##                 2,                  &quot;address&quot;,
##                 3,  &quot;administrative_location&quot;
##   )</code></pre>
<p>Instead of <code>readr</code>, I can also use <code>rio::import</code> but this time the output of <code>dpasta()</code> is not as nicely formatted as <code>tibble</code>:</p>
<pre class="r"><code>rio::import(&quot;data/refcard_datapasta_data_entity.tsv&quot;) %&gt;%
  datapasta::dpasta()</code></pre>
<pre><code>## data.frame(stringsAsFactors=FALSE,
##    data_entity_id = c(1L, 2L, 3L),
##       entity_name = c(&quot;address_variant&quot;, &quot;address&quot;, &quot;administrative_location&quot;)
## )</code></pre>
<p>I can also read using the base <code>read.csv</code></p>
<pre class="r"><code>read.csv(&quot;data/refcard_datapasta_data_entity.tsv&quot;, sep = &quot;\t&quot;) %&gt;%
  datapasta::dpasta()</code></pre>
<pre><code>## data.frame(
##    data_entity_id = c(1L, 2L, 3L),
##       entity_name = as.factor(c(&quot;address_variant&quot;, &quot;address&quot;,
##                                 &quot;administrative_location&quot;))
## )</code></pre>
</div>
<div id="code-for-markdown" class="section level1">
<h1>Code for Markdown</h1>
<p><code>dmdclip()</code> produces code that is intended with 4 spaces to use in markdown documents.</p>
<pre class="r"><code>library(magrittr)
library(datapasta)
mtcars %&gt;% head() %&gt;% dmdclip()</code></pre>
<pre><code>data.frame(
         mpg = c(21, 21, 22.8, 21.4, 18.7, 18.1),
         cyl = c(6, 6, 4, 6, 8, 6),
        disp = c(160, 160, 108, 258, 360, 225),
          hp = c(110, 110, 93, 110, 175, 105),
        drat = c(3.9, 3.9, 3.85, 3.08, 3.15, 2.76),
          wt = c(2.62, 2.875, 2.32, 3.215, 3.44, 3.46),
        qsec = c(16.46, 17.02, 18.61, 19.44, 17.02, 20.22),
          vs = c(0, 0, 1, 1, 0, 1),
          am = c(1, 1, 1, 0, 0, 0),
        gear = c(4, 4, 4, 3, 3, 3),
        carb = c(4, 4, 1, 1, 2, 1)
)</code></pre>
</div>
