---
title: "Studying Parcel + Jquery"
date: 2018-03-16T12:55:20+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- 
path: ~/projects/study/js/study_parcel_jquery.Rmd
wip: true
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="v01-requirejquery" class="section level2">
<h2>v01: require(‘jquery’)</h2>
<p>Resource:</p>
<p><a href="https://github.com/potato4d/parcel-examples/tree/master/parcel-jquery" class="uri">https://github.com/potato4d/parcel-examples/tree/master/parcel-jquery</a></p>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery/</a></p>
<pre class="bash"><code>mkdir study_parcel_jquery &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery jquery-ui-dist</code></pre>
<p>I basically copied the code from <code>potato4d/parcel-examples</code> repo:</p>
<p><code>index.html</code> is very basic:</p>
<pre class="html"><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;ja&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Parcel for jQuery&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id=&quot;root&quot;&gt;&lt;/div&gt;
  &lt;script src=&quot;./src/index.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<p><code>index.js</code> is very basic:</p>
<pre class="js"><code>window.$ = require(&#39;jquery&#39;)
$(document).ready(function () {
  $(&#39;#root&#39;).html(&#39;&#39;)
  $(&#39;#root&#39;).append(`
    &lt;h1&gt;Parcel for jQuery&lt;/h1&gt;
    &lt;button&gt;Click me!&lt;/button&gt;
  `)
  $(document).on(&#39;click&#39;, &#39;button&#39;, function () {
    alert(&#39;Hello, Parcel&#39;)
  })
})</code></pre>
<p><code>package.json</code></p>
<pre><code>...
&quot;start&quot;: &quot;parcel index.html&quot;,
&quot;build&quot;: &quot;parcel build index.html --public-url ./&quot;,</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
</div>
<div id="v02-import-jquery-using-es6-syntax" class="section level2">
<h2>v02: import jquery using es6 syntax</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery02/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery02/</a></p>
<p>Following the instructions given in <a href="https://stackoverflow.com/questions/47968529/how-do-i-use-jquery-and-jquery-ui-with-parcel-bundler" class="uri">https://stackoverflow.com/questions/47968529/how-do-i-use-jquery-and-jquery-ui-with-parcel-bundler</a> to import jquery using es6 syntax</p>
<pre class="bash"><code>mkdir study_parcel_jquery02 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery jquery-ui-dist
cp ../study_parcel_jquery/index.html .
mkdir -p src
cp ../study_parcel_jquery/src/index.js src/</code></pre>
<p>Differences in <code>index.js</code></p>
<pre><code>window.$ = require(&#39;jquery&#39;)
---&gt;&gt;&gt;
import &quot;./import-jquery&quot;;</code></pre>
<p>So we created a separate file <code>import-jquery.js</code> to import <code>jquery</code>:</p>
<pre><code>import jquery from &quot;jquery&quot;;
export default (window.$ = window.jQuery = jquery);</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
</div>
<div id="v03-use-jquery-ui" class="section level2">
<h2>v03: Use jquery-ui</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery03/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery03/</a></p>
<p>Following the instructions given in <a href="https://stackoverflow.com/questions/47968529/how-do-i-use-jquery-and-jquery-ui-with-parcel-bundler" class="uri">https://stackoverflow.com/questions/47968529/how-do-i-use-jquery-and-jquery-ui-with-parcel-bundler</a> to import jquery using es6 syntax</p>
<pre class="bash"><code>mkdir study_parcel_jquery03 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery jquery-ui-dist
cp ../study_parcel_jquery02/index.html . &amp;&amp; mkdir -p src &amp;&amp; cp ../study_parcel_jquery02/src/index.js src/</code></pre>
<p><code>src/index.js</code></p>
<pre class="js"><code>const jquery = require(&quot;jquery&quot;)
window.$ = window.jQuery = jquery;
require(&quot;jquery-ui-dist/jquery-ui.css&quot;)
require(&quot;jquery-ui-dist/jquery-ui.js&quot;)
$(document).ready(function () {
  $(&#39;#root&#39;).html(&#39;&#39;)
  $(&#39;#root&#39;).append(`
    Date: &lt;input type=&quot;text&quot; id=&quot;datepicker&quot;&gt;
  `)
  $(function() {
    $(&quot;#datepicker&quot;).datepicker();
  });
})</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
<p>First, the resulting web page had some style issues. Chrome’s default translator somehow interfered with the resulting web page and broke the style code. I disabled it to correct the issues.</p>
</div>
<div id="v03b-jquery-ui-as-implicit-dependencies" class="section level2">
<h2>v03b: jquery-ui as implicit dependencies</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery03/index_jquery_ui_01.html" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery03/index_jquery_ui_01.html</a></p>
<pre class="html"><code>  &lt;body&gt;
    &lt;input id=&quot;datepicker&quot;&gt;
    &lt;script src=&quot;https://unpkg.com/jquery@3.1.1/dist/jquery.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/jquery-ui-dist@1.12.1/jquery-ui.js&quot;&gt;&lt;/script&gt;
    &lt;script&gt;
      $( &quot;#datepicker&quot; ).datepicker();
    &lt;/script&gt;
  &lt;/body&gt;</code></pre>
<p>Result in:</p>
<p><a href="https://rawgit.com/mertnuhoglu/study/master/js/ex/study_parcel_jquery03/index_jquery_ui_01.html" class="uri">https://rawgit.com/mertnuhoglu/study/master/js/ex/study_parcel_jquery03/index_jquery_ui_01.html</a></p>
</div>
<div id="v04-es-modules-mixed-with-implicit-dependencies" class="section level2">
<h2>v04: ES Modules Mixed with Implicit Dependencies</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery04/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery04/</a></p>
<pre class="bash"><code>mkdir study_parcel_jquery04 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery jquery-ui-dist
cp ../study_parcel_jquery03/index.html . &amp;&amp; mkdir -p src &amp;&amp; cp ../study_parcel_jquery03/src/index.js src/</code></pre>
<p><code>index.html</code> sources <code>jquery</code> libraries globally:</p>
<pre class="html"><code>    &lt;div id=&quot;root&quot;&gt;&lt;/div&gt;
    &lt;script src=&quot;https://unpkg.com/jquery@3.1.1/dist/jquery.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;https://unpkg.com/jquery-ui-dist@1.12.1/jquery-ui.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;./src/index.js&quot;&gt;&lt;/script&gt;</code></pre>
<p><code>index.js</code> uses <code>jquery</code> as implicit dependencies and <code>app.js</code> that is imported as ES6 module:</p>
<pre class="js"><code>import {addText} from &#39;./app.js&#39;
$(&#39;#root&#39;).append(`
  Date: &lt;input type=&quot;text&quot; id=&quot;datepicker&quot;&gt;
`)
$(&quot;#datepicker&quot;).datepicker();
addText(&quot;Look up!&quot;)</code></pre>
<p><code>app.js</code> exports a function:</p>
<pre class="js"><code>export function addText(text) {
  $(&#39;#root&#39;).append(`&lt;p&gt;${text}&lt;/p&gt;`)
}</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
</div>
<div id="v05-es-modules-mixed-with-commonjs-require" class="section level2">
<h2>v05: ES Modules mixed with CommonJs require()</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery05/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_parcel_jquery05/</a></p>
<pre class="bash"><code>mkdir study_parcel_jquery05 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery jquery-ui-dist
cp ../study_parcel_jquery04/index.html . &amp;&amp; mkdir -p src &amp;&amp; cp ../study_parcel_jquery04/src/index.js src/</code></pre>
<p><code>index.js</code> sources <code>jquery</code> with CommonJs <code>require()</code> and <code>app.js</code> with ES6 module syntax:</p>
<pre class="js"><code>const jquery = require(&quot;jquery&quot;)
window.$ = window.jQuery = jquery;
require(&quot;jquery-ui-dist/jquery-ui.css&quot;)
require(&quot;jquery-ui-dist/jquery-ui.js&quot;)
import {addText} from &#39;./app.js&#39;</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
</div>
