---
title: "Study Notes: Mostly adequate guide to FP: Example Flick App"
date: 2018-02-16T14:22:38+03:00  
draft: true
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_frisby_flickr_app_ex01/index.html 
- ex/study_frisby_flickr_app_ex01/index.js 
- ex/study_frisby_flickr_app_ex03/package.json
- ex/study_frisby_flickr_app_ex03/index.html 
- ex/study_frisby_flickr_app_ex03/index.js 
path: ~/projects/study/js/study_frisby_flickr_app.Rmd
wip: true
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="ch06-flickr-app-example" class="section level2">
<h2>ch06: Flickr App Example</h2>
<div id="v01-basics" class="section level3">
<h3>v01: Basics</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex01/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex01/</a></p>
<p>HTML page:</p>
<pre class="bash"><code>cat &quot;ex/study_frisby_flickr_app_ex01/index.html&quot; </code></pre>
<pre><code>## &lt;!doctype html&gt;
## &lt;html lang=&quot;en&quot;&gt;
##   &lt;head&gt;
##     &lt;meta charset=&quot;utf-8&quot;&gt;
##     &lt;title&gt;Flickr Demo&lt;/title&gt;
##   &lt;/head&gt;
##   &lt;body&gt;
##     &lt;main id=&quot;js-main&quot; class=&quot;main&quot;&gt;&lt;/main&gt;
##     &lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js&quot;&gt;&lt;/script&gt;
##     &lt;script src=&quot;index.js&quot;&gt;&lt;/script&gt;
##   &lt;/body&gt;
## &lt;/html&gt;</code></pre>
<pre class="bash"><code>cat &quot;ex/study_frisby_flickr_app_ex01/index.js&quot; </code></pre>
<pre><code>## const CDN = s =&gt; `https://cdnjs.cloudflare.com/ajax/libs/${s}`;
## const ramda = CDN(&#39;ramda/0.21.0/ramda.min&#39;);
## const jquery = CDN(&#39;jquery/3.0.0-rc1/jquery.min&#39;);
## 
## requirejs.config({ paths: { ramda, jquery } });
## require([&#39;jquery&#39;, &#39;ramda&#39;], ($, { compose, curry, map, prop }) =&gt; {
##    const Impure = {
##     getJSON: curry((callback, url) =&gt; $.getJSON(url, callback)),
##     setHtml: curry((sel, html) =&gt; $(sel).html(html)),
##     trace: curry((tag, x) =&gt; { console.log(tag, x); return x; }),
##   }; 
##   const app = Impure.setHtml(&#39;body&#39;);
##   app(&#39;cats&#39;);
## });</code></pre>
<p>The resulting web page embedded as iframe:</p>
<iframe src="ex/study_frisby_flickr_app_ex01/index.html" width="100" height="30">
</iframe>
</div>
<div id="mnemonics" class="section level3">
<h3>mnemonics</h3>
<p>Assume that:</p>
<pre><code>const f = curry( (x,y) =&gt; ... )</code></pre>
<p>Then first call puts single argument into the first position. Second call puts the argument into the next position:</p>
<pre><code>f(x)(y)</code></pre>
<p>Assume that:</p>
<pre><code>const Impure = {
  getJSON: curry((callback, url) =&gt; $.getJSON(url, callback)),
  setHtml: curry((sel, html) =&gt; $(sel).html(html)),
  trace: curry((tag, x) =&gt; { console.log(tag, x); return x; }),
}; 
const app = compose(Impure.getJSON(Impure.trace(&#39;response&#39;)), url);</code></pre>
<p>Consider:</p>
<pre><code>Impure.getJSON(Impure.trace(&#39;response&#39;))</code></pre>
<p>Type signatures of the curried functions are:</p>
<pre><code>Impure.trace(&#39;response&#39;) :: a -&gt; a
Impure.getJSON :: (a-&gt;a) -&gt; a -&gt; j
Impure.getJSON(Impure.trace(&#39;response&#39;)) :: a -&gt; j</code></pre>
</div>
<div id="v02-trace" class="section level3">
<h3>v02: trace()</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex02/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex02/</a></p>
<p>Now, let’s do some http requests and embed the resulting json data into web page.</p>
<pre class="js"><code>const host = &#39;api.flickr.com&#39;;
const path = &#39;/services/feeds/photos_public.gne&#39;;
const query = t =&gt; `?tags=${t}&amp;format=json&amp;jsoncallback=?`;
const url = t =&gt; `https://${host}${path}${query(t)}`;
const app = compose(Impure.getJSON(Impure.trace(&#39;response&#39;)), url);
app(&#39;cats&#39;);</code></pre>
<p>This code prints the result of <code>trace('response', url('cats'))</code></p>
<pre><code>## response {
##   &quot;title&quot;: &quot;Recent Uploads tagged cats&quot;,
##   &quot;link&quot;: &quot;https://www.flickr.com/photos/tags/cats/&quot;,
##   &quot;description&quot;: &quot;&quot;,
##   &quot;modified&quot;: &quot;2018-03-08T19:13:09Z&quot;,
##   &quot;generator&quot;: &quot;https://www.flickr.com&quot;,
##   &quot;items&quot;: [
##     {
##       &quot;title&quot;: &quot;Watch high quality movies at http://ImovieSh.com/&quot;,
##       &quot;link&quot;: &quot;https://www.flickr.com/photos/imoviesh/39985324204/&quot;,
##       &quot;media&quot;: {
##         &quot;m&quot;: &quot;https://farm5.staticflickr.com/4785/39985324204_0124bb7b0b_m.jpg&quot;
##       },
##       &quot;date_taken&quot;: &quot;2018-03-08T11:13:09-08:00&quot;,
##       &quot;description&quot;: &quot; &lt;p&gt;&lt;a href=\&quot;https://www.flickr.com/people/imoviesh/\&quot;&gt;ImovieSh&lt;/a&gt; posted a photo:&lt;/p&gt; &lt;p&gt;&lt;a href=\&quot;https://www.flickr.com/photos/imoviesh/39985324204/\&quot; title=\&quot;Watch high quality movies at http://ImovieSh.com/\&quot;&gt;&lt;img src=\&quot;https://farm5.staticflickr.com/4785/39985324204_0124bb7b0b_m.jpg\&quot; width=\&quot;185\&quot; height=\&quot;240\&quot; alt=\&quot;Watch high quality movies at http://ImovieSh.com/\&quot; /&gt;&lt;/a&gt;&lt;/p&gt; &lt;p&gt;Watch high quality movies at &lt;a href=\&quot;http://ImovieSh.com/\&quot; rel=\&quot;nofollow\&quot;&gt;ImovieSh.com/&lt;/a&gt;&lt;/p&gt;&quot;,
##       &quot;published&quot;: &quot;2018-03-08T19:13:09Z&quot;,
##       &quot;author&quot;: &quot;nobody@flickr.com (\&quot;ImovieSh\&quot;)&quot;,
##       &quot;author_id&quot;: &quot;160658215@N07&quot;,
##       &quot;tags&quot;: &quot;cute dogs animals aww cats love girls movie animal images baby birds adorable&quot;
##     },
##  ...</code></pre>
<p>Result in:</p>
<p><a href="https://rawgit.com/mertnuhoglu/study/master/js/ex/study_frisby_flickr_app_ex02/index.html" class="uri">https://rawgit.com/mertnuhoglu/study/master/js/ex/study_frisby_flickr_app_ex02/index.html</a></p>
</div>
<div id="v03-use-es-modules-with-parceljs-bundler" class="section level3">
<h3>v03: Use ES Modules with ParcelJs Bundler</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex03/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex03/</a></p>
<p>Let’s move this code into a ParcelJs app:</p>
<pre class="bash"><code>mkdir study_frisby_flickr_app_ex03 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery ramda
cp ../study_frisby_flickr_app_ex02/index.html . &amp;&amp; mkdir -p src &amp;&amp; cp ../study_frisby_flickr_app_ex02/index.js .</code></pre>
<p><code>index.js</code> imports <code>jquery</code> and <code>ramda</code></p>
<pre class="js"><code>const jquery = require(&quot;jquery&quot;)
window.$ = window.jQuery = jquery;
const R = require(&#39;ramda&#39;);</code></pre>
<p><code>package.json</code> tells to use <code>parcel</code> as package bundler:</p>
<pre><code>...
&quot;start&quot;: &quot;parcel index.html&quot;,
&quot;build&quot;: &quot;parcel build index.html --public-url ./&quot;,</code></pre>
<p>Run <code>npm start</code> and open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
<p>Or open from rawgit: <a href="https://rawgit.com/mertnuhoglu/study/master/js/ex/study_frisby_flickr_app_ex03/dist/index.html" class="uri">https://rawgit.com/mertnuhoglu/study/master/js/ex/study_frisby_flickr_app_ex03/dist/index.html</a></p>
<pre class="bash"><code>cat &quot;ex/study_frisby_flickr_app_ex03/index.html&quot; </code></pre>
<pre><code>## &lt;!doctype html&gt;
## &lt;html lang=&quot;en&quot;&gt;
##   &lt;head&gt;
##     &lt;meta charset=&quot;utf-8&quot;&gt;
##     &lt;title&gt;Flickr Demo&lt;/title&gt;
##   &lt;/head&gt;
##   &lt;body&gt;
##     &lt;main id=&quot;js-main&quot; class=&quot;main&quot;&gt;&lt;/main&gt;
##     &lt;script src=&quot;index.js&quot;&gt;&lt;/script&gt;
##   &lt;/body&gt;
## &lt;/html&gt;</code></pre>
<pre class="bash"><code>cat &quot;ex/study_frisby_flickr_app_ex03/index.js&quot; </code></pre>
<pre><code>## const jquery = require(&quot;jquery&quot;)
## window.$ = window.jQuery = jquery;
## const R = require(&#39;ramda&#39;);
## 
## const Impure = {
##   getJSON: R.curry((callback, url) =&gt; $.getJSON(url, callback)),
##   setHtml: R.curry((sel, html) =&gt; $(sel).html(html)),
##   trace: R.curry((tag, x) =&gt; { console.log(tag, JSON.stringify(x, null, 2)); return x; }),
## }; 
## const host = &#39;api.flickr.com&#39;;
## const path = &#39;/services/feeds/photos_public.gne&#39;;
## const query = t =&gt; `?tags=${t}&amp;format=json&amp;jsoncallback=?`;
## const url = t =&gt; `https://${host}${path}${query(t)}`;
## const app = R.compose(Impure.getJSON(Impure.trace(&#39;response&#39;)), url);
## app(&#39;cats&#39;);</code></pre>
</div>
<div id="v04-dom" class="section level3">
<h3>v04: DOM</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex04/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex04/</a></p>
<pre class="bash"><code>mkdir study_frisby_flickr_app_ex04 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i parcel-bundler jquery ramda
cp ../study_frisby_flickr_app_ex03/index.html . &amp;&amp; mkdir -p src &amp;&amp; cp ../study_frisby_flickr_app_ex03/index.js .</code></pre>
<p>We will construct <code>img</code> elements out of this json data.</p>
<pre class="js"><code>...
const mediaUrl = compose(prop(&#39;m&#39;), prop(&#39;media&#39;));
const mediaUrls = compose(map(mediaUrl), prop(&#39;items&#39;));
const render = compose(Impure.setHtml(&#39;js-main&#39;), mediaUrls);
const app = compose(Impure.getJSON(render), url);</code></pre>
<p>This code collects all <code>m</code> properties inside <code>response.items[].media</code> elements.</p>
</div>
<div id="v05-testing-from-repl" class="section level3">
<h3>v05: Testing from REPL</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex05/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_frisby_flickr_app_ex05/</a></p>
<p>Testing through HTML pages is sometimes difficult. I want to check if I can test the above functions using Node REPL.</p>
<pre class="bash"><code>mkdir -p ex/study_frisby_flickr_app_ex05 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; pnpm i parcel-bundler ramda request request-promise-native</code></pre>
<p>Edit <code>ex/study_frisby_flickr_app_ex05/index.js</code>:</p>
<pre class="js"><code>var request = require(&#39;request-promise-native&#39;);
var {compose, curry} = require(&#39;ramda&#39;);

var Impure = {
  getJSON: curry((callback, url) =&gt; 
    request(url).then(callback).
    catch( err =&gt; console.log(&#39;error:&#39;, err)) 
  ),
  trace: curry((tag, x) =&gt; { console.log(x); return x; }),
}; </code></pre>
<p>I replaced <code>jquery</code> with <code>request</code> library because it can be run directly on node’s REPL. That is easier to test in than in a browser.</p>
<pre class="bash"><code>node ex/study_frisby_flickr_app_ex05/src/index.js | sed -n &#39;1,6 p&#39;</code></pre>
<pre><code>## internal/modules/cjs/loader.js:596
##     throw err;
##     ^
## 
## Error: Cannot find module &#39;/Users/mertnuhoglu/projects/jekyll/mertnuhoglu.com/content/tech/ex/study_frisby_flickr_app_ex05/src/index.js&#39;
##     at Function.Module._resolveFilename (internal/modules/cjs/loader.js:594:15)
##     at Function.Module._load (internal/modules/cjs/loader.js:520:25)
##     at Function.Module.runMain (internal/modules/cjs/loader.js:744:10)
##     at startup (internal/bootstrap/node.js:238:19)
##     at bootstrapNodeJSCore (internal/bootstrap/</code></pre>
</div>
<div id="v06-dom-again" class="section level3">
<h3>v06: DOM Again</h3>
<p>We will construct <code>img</code> elements out of the json data, but this time we will use <code>request</code> library.</p>
<pre class="js"><code>...
const mediaUrl = compose(prop(&#39;m&#39;), prop(&#39;media&#39;));
const mediaUrls = compose(map(mediaUrl), prop(&#39;items&#39;));
const render = compose(Impure.setHtml(&#39;js-main&#39;), mediaUrls);
const app = compose(Impure.getJSON(render), url);</code></pre>
<p>This code collects all <code>m</code> properties inside <code>response.items[].media</code> elements.</p>
</div>
</div>
