---
title: "Study Rendering HTML Table Using FP"
date: 2018-03-20T11:01:01+03:00 
draft: true
description: ""
tags: ramdajs
categories: js, fp
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_ramda/package.json
path: ~/projects/study/js/study_ramda.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_ramda/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_ramda/</a></p>
<pre class="bash"><code>mkdir -p ex/study_ramda &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; pnpm i parcel-bundler ramda</code></pre>
<div id="v01-basics" class="section level3">
<h3>v01: Basics</h3>
<pre class="js"><code>const data = [
  {&#39;id&#39;: 1, &#39;title&#39;: &quot;a&quot;},
  {&#39;id&#39;: 2, &#39;title&#39;: &quot;b&quot;},
];
const getId = R.map(R.prop(&#39;id&#39;));
console.log(getId(data));</code></pre>
<pre class="bash"><code>node ex/study_ramda/ex01.js</code></pre>
<pre><code>## [ 1, 2 ]</code></pre>
</div>
