---
title: "Studying JavaScript Promises"
date: 2018-03-18T16:37:50+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_js_promises_ex01/package.json
- ex/study_js_promises_ex01/script01.js
- ex/study_js_promises_ex01/script02.js
- ex/study_js_promises_ex01/script03.js
- ex/study_js_promises_ex01/script04.js
- ex/study_js_promises_ex01/script05.js
- ex/study_js_promises_ex01/script06.js
- ex/study_js_promises_ex01/script07.js
- ex/study_js_promises_ex01/script08.js
path: ~/projects/study/js/study_js_promises.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="v01-basic-example-01" class="section level2">
<h2>v01: Basic Example 01</h2>
<p>Studying the tutorials given in <a href="https://egghead.io/lessons/javascript-promises-with-es6" class="uri">https://egghead.io/lessons/javascript-promises-with-es6</a></p>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_js_promises_ex01/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_js_promises_ex01/</a></p>
<pre class="bash"><code>mkdir -p ex/study_js_promises_ex01
cd ex/study_js_promises_ex01</code></pre>
<p>Edit <code>script01.js</code></p>
<pre class="js"><code>var d = new Promise((resolve, reject) =&gt; {
  if (true) {
    resolve(&#39;hello world&#39;);
  } else {
    reject(&#39;no bueno&#39;);
  }
});
d.then((data) =&gt; console.log(&#39;success : &#39;, data));
d.catch((error) =&gt; console.log(&#39;error : &#39;, error));</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script01.js</code></pre>
<pre><code>## success :  hello world</code></pre>
<p>Let’s make <code>reject</code> be run:</p>
<p>Edit <code>script02.js</code></p>
<pre class="js"><code>...
  if (true) {
    resolve(&#39;hello world&#39;);
  } else {
    reject(&#39;no bueno&#39;);
  }</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script02.js</code></pre>
<pre><code>## error :  no bueno
## (node:19988) UnhandledPromiseRejectionWarning: no bueno
## (node:19988) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 2)
## (node:19988) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.</code></pre>
</div>
<div id="v03-asynchronous-behaviour-using-promises" class="section level2">
<h2>v03: Asynchronous behaviour using Promises</h2>
<p>Edit <code>script03.js</code></p>
<pre class="js"><code>...
  setTimeout(() =&gt; {
    if (true) {
      resolve(&#39;hello world&#39;);
    } else {
      reject(&#39;no bueno&#39;);
    }
  }, 1000);</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script03.js</code></pre>
<pre><code>## success :  hello world</code></pre>
</div>
<div id="v04-style-instead-of-catch-append-a-new-lambda-parameter-to-then" class="section level2">
<h2>v04: Style: instead of <code>catch</code> append a new lambda parameter to <code>then</code></h2>
<pre class="js"><code>...
d.then(
  (data) =&gt; console.log(&#39;success : &#39;, data)
  , (error) =&gt; console.log(&#39;error : &#39;, error)
);</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script04.js</code></pre>
<pre><code>## success :  hello world</code></pre>
</div>
<div id="v05-style-catch-then-methods-can-be-chained" class="section level2">
<h2>v05: Style: <code>catch</code> <code>then</code> methods can be chained</h2>
<pre class="js"><code>...
d.then( (data) =&gt; console.log(&#39;success : &#39;, data) )
  .catch( (error) =&gt; console.log(&#39;error : &#39;, error) );
);</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script05.js</code></pre>
<pre><code>## success :  hello world</code></pre>
<p>Multiple <code>then</code> can be chained too:</p>
<pre class="js"><code>...
d.then( (data) =&gt; console.log(&#39;success : &#39;, data) )
  .then( (data) =&gt; console.log(&#39;success 2 : &#39;, data) )
  .catch( (error) =&gt; console.log(&#39;error : &#39;, error) );
);</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script06.js</code></pre>
<pre><code>## success :  hello world
## success 2 :  undefined</code></pre>
<p>But note the output: <code>success 2 :  undefined</code>. This is because the second chain gets its input data from the previous chain’s return value.</p>
<pre class="js"><code>...
d.then( (data) =&gt; {console.log(&#39;success : &#39;, data); return &#39;foo&#39;;} )
  .then( (data) =&gt; console.log(&#39;success 2 : &#39;, data) )
);</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script07.js</code></pre>
<pre><code>## success :  hello world
## success 2 :  foo</code></pre>
</div>
<div id="v08-any-exception-inside-promise-triggers-catch-method" class="section level2">
<h2>v08: Any Exception inside Promise triggers <code>catch</code> method</h2>
<p>It doesn’t matter where the exception is thrown. It will trigger <code>catch</code> method.</p>
<pre class="js"><code>var d = new Promise((resolve, reject) =&gt; {
  throw new Error(&#39;error here&#39;);
  ...</code></pre>
<pre class="bash"><code>node ex/study_js_promises_ex01/script08.js</code></pre>
<pre><code>## error :  Error: error here
##     at Promise (/Users/mertnuhoglu/projects/jekyll/mertnuhoglu.com/content/tech/ex/study_js_promises_ex01/script08.js:2:9)
##     at new Promise (&lt;anonymous&gt;)
##     at Object.&lt;anonymous&gt; (/Users/mertnuhoglu/projects/jekyll/mertnuhoglu.com/content/tech/ex/study_js_promises_ex01/script08.js:1:71)
##     at Module._compile (internal/modules/cjs/loader.js:702:30)
##     at Object.Module._extensions..js (internal/modules/cjs/loader.js:713:10)
##     at Module.load (internal/modules/cjs/loader.js:612:32)
##     at tryModuleLoad (internal/modules/cjs/loader.js:551:12)
##     at Function.Module._load (internal/modules/cjs/loader.js:543:3)
##     at Function.Module.runMain (internal/modules/cjs/loader.js:744:10)
##     at startup (internal/bootstrap/node.js:238:19)</code></pre>
</div>
