---
title: "Study Notes: Mostly adequate guide to FP"
date: 2018-02-16T14:22:38+03:00  
draft: true 
description: ""
tags:
categories: js, fp
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
path: ~/projects/study/js/study_frisby_book_adequate_guide_to_fp.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="chapter-04-currying" class="section level2">
<h2>Chapter 04: Currying</h2>
<p>This is how currying can be defined in a simple way:</p>
<pre class="js"><code>// curry :: ((a, b, ...) -&gt; c) -&gt; a -&gt; b -&gt; ... -&gt; c
function curry(fn) {
  const arity = fn.length;

  return function $curry(...args) {
    if (args.length &lt; arity) {
      return $curry.bind(null, ...args);
    }

    return fn.call(null, ...args);
  };
}</code></pre>
<script type="text/javascript">
// curry :: ((a, b, ...) -> c) -> a -> b -> ... -> c
function curry(fn) {
  const arity = fn.length;

  return function $curry(...args) {
    if (args.length < arity) {
      return $curry.bind(null, ...args);
    }

    return fn.call(null, ...args);
  };
}
</script>
<p>Now, let’s use <code>curry</code> for partial application:</p>
<pre class="js"><code>const match = curry((regex, s) =&gt; s.match(regex));
match(/r/g, &#39;hello world&#39;); // [&quot;r&quot;]
const hasLetterR = match(/r/g); // x =&gt; x.match(/r/g)
hasLetterR(&#39;hello world&#39;); // [ &#39;r&#39; ]</code></pre>
<script type="text/javascript">
const match = curry((regex, s) => s.match(regex));
match(/r/g, 'hello world'); // ["r"]
const hasLetterR = match(/r/g); // x => x.match(/r/g)
hasLetterR('hello world'); // [ 'r' ]
</script>
<p>Argument order: Note that last argument is the most varying argument. This is the actual data.</p>
<div id="wrapping-with-map" class="section level3">
<h3>Wrapping With <code>map</code></h3>
<p>This may be the most important benefit of currying:</p>
<p>Wrapping a curried function with <code>map</code>, makes the function work on arrays.</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
<pre class="js"><code>const CDN = s =&gt; `https://cdnjs.cloudflare.com/ajax/libs/${s}`;
const ramda = CDN(&#39;ramda/0.21.0/ramda.min&#39;);
requirejs.config({ paths: { ramda } });
require([&#39;ramda&#39;], ({ compose, curry, map, prop }) =&gt; {
  const allHasLetterR = map(hasLetterR);
  const xs = [&#39;world&#39;, &#39;ali&#39;];
  allHasLetterR(xs);
  // [Array(1), null]
});
2 + 1;</code></pre>
<script type="text/javascript">
const CDN = s => `https://cdnjs.cloudflare.com/ajax/libs/${s}`;
const ramda = CDN('ramda/0.21.0/ramda.min');
requirejs.config({ paths: { ramda } });
require(['ramda'], ({ compose, curry, map, prop }) => {
  const allHasLetterR = map(hasLetterR);
  const xs = ['world', 'ali'];
  allHasLetterR(xs);
  // [Array(1), null]
});
2 + 1;
</script>
<p>Therefore, we don’t need to define functions that work on arrays if we can define them on single elements using <code>sort</code>, <code>filter</code>, <code>map</code> and other higher order functions.</p>
</div>
<div id="exercises" class="section level3">
<h3>Exercises</h3>
<p>Refactor by partially applying arguments:</p>
<pre><code>// words :: String -&gt; [String]
const words = str =&gt; split(&#39; &#39;, str);
---&gt;&gt;&gt;
const words = split(&#39; &#39;);</code></pre>
<p>Refactor by partially applying arguments:</p>
<pre><code>// filterQs :: [String] -&gt; [String]
const filterQs = xs =&gt; filter(x =&gt; x.match(/q/i), xs);
---&gt;&gt;&gt;
const filterQs = filter(match(/q/i));</code></pre>
<p>Refactor by partially applying arguments:</p>
<pre><code>const keepHighest = (x, y) =&gt; (x &gt;= y ? x : y);
// max :: [Number] -&gt; Number
const max = xs =&gt; reduce((acc, x) =&gt; (x &gt;= acc ? x : acc), -Infinity, xs);
---&gt;&gt;&gt;
const max = reduce(keepHighest, -Infinity)</code></pre>
<p>Definition of curry:</p>
<pre><code>// curry :: ((a, b, ...) -&gt; c) -&gt; a -&gt; b -&gt; ... -&gt; c
function curry(fn) {
  const arity = fn.length;
  return function $curry(...args) {
    if (args.length &lt; arity) {
      return $curry.bind(null, ...args);
    }
    return fn.call(null, ...args);
  };
}</code></pre>
</div>
</div>
<div id="chapter-05-composing" class="section level2">
<h2>Chapter 05: Composing</h2>
<p>Definition of compose:</p>
<pre><code>const compose = (f, g) =&gt; x =&gt; f(g(x));</code></pre>
<p>x: value being piped through f and g</p>
<p>mnemonics: composition order:</p>
<pre><code>Which one first?

First g, then f

Reverse order (f,g)

First g means: g inside</code></pre>
<div id="debugging" class="section level3">
<h3>Debugging</h3>
<p>Common problem with composing <code>map</code></p>
<p><code>map</code> takes two arguments:: (x-&gt;x) -&gt; xs -&gt; xs</p>
<p>We need to first partially apply <code>map</code> in order to make it single argument function:</p>
<p>Ex:</p>
<pre><code>const angry = compose(exclaim, toUpperCase);
var reverse = reduce( (acc,x) =&gt; [x].concat(acc), [])
//wrong - we end up giving angry an array and we partially applied map with god knows what.
var latin = compose(map, angry, reverse);
latin([&#39;frog&#39;, &#39;eyes&#39;]);
// error because:
-&gt; reverse([&#39;frog&#39;, &#39;eyes&#39;]) -&gt; angry([&#39;eyes&#39;, &#39;frog&#39;]) // error
---&gt;&gt;&gt;
var latin = compose(map(angry), reverse);
latin([&#39;frog&#39;, &#39;eyes&#39;]);
// [&#39;EYES!&#39;, &#39;FROG!&#39;])</code></pre>
<p>Note: <code>map(angry)</code> takes one input</p>
<pre><code>map(angry) :: xs -&gt; xs</code></pre>
<p>Use <code>trace</code> to debug any error:</p>
<pre><code>const trace = curry((tag, x) =&gt; {
  console.log(tag, x);
  return x;
});

const dasherize = compose(
  join(&#39;-&#39;),
  toLower,
  trace(&#39;after split&#39;),
  split(&#39; &#39;),
  replace(/\s{2,}/ig, &#39; &#39;),
);

dasherize(&#39;The world is a vampire&#39;);
// after split [ &#39;The&#39;, &#39;world&#39;, &#39;is&#39;, &#39;a&#39;, &#39;vampire&#39; ]</code></pre>
</div>
<div id="exercises-1" class="section level3">
<h3>Exercises</h3>
<p><code>prop</code> definition:</p>
<pre><code>// prop :: String -&gt; Object -&gt; a
const prop = curry((p, obj) =&gt; obj[p]);</code></pre>
<p>Use <code>compose</code>:</p>
<pre><code>// isLastInStock :: [Car] -&gt; Boolean
const isLastInStock = (cars) =&gt; {
  const lastCar = last(cars);
  return prop(&#39;in_stock&#39;, lastCar);
};
---&gt;&gt;&gt;
const isLastInStock = compose(prop(&#39;in_stock&#39;), last);</code></pre>
<p>Make it a composition:</p>
<pre><code>const average = xs =&gt; reduce(add, 0, xs) / xs.length;
// averageDollarValue :: [Car] -&gt; Int
const averageDollarValue = (cars) =&gt; {
  const dollarValues = map(c =&gt; c.dollar_value, cars);
  return average(dollarValues);
};
---&gt;&gt;&gt;
const averageDollarValue = compose(average, map(prop(&#39;dollar_value&#39;)));</code></pre>
<p>Make it a composition:</p>
<pre><code>// fastestCar :: [Car] -&gt; String
const fastestCar = (cars) =&gt; {
  const sorted = sortBy(car =&gt; car.horsepower, cars);
  const fastest = last(sorted);
  return concat(fastest.name, &#39; is the fastest&#39;);
};
---&gt;&gt;&gt;
const append = flip(concat);
const fastestCar = compose(
  append(&#39; is the fastest&#39;),
  prop(&#39;name&#39;),
  last,
  sortBy(prop(&#39;horsepower&#39;)),
);</code></pre>
<p>Definition of flip:</p>
<pre><code>// flip :: (a -&gt; b) -&gt; (b -&gt; a)
const flip = curry((fn, a, b) =&gt; fn(b, a));</code></pre>
</div>
</div>
<div id="ch06-flickr-app-example" class="section level2">
<h2>ch06: Flickr App Example</h2>
<div id="mnemonics" class="section level3">
<h3>mnemonics</h3>
<p>Assume that:</p>
<pre><code>const f = curry( (x,y) =&gt; ... )</code></pre>
<p>Then first call puts single argument into the first position. Second call puts the argument into the next position:</p>
<pre><code>f(x)(y)</code></pre>
<p>Assume that:</p>
<pre><code>const Impure = {
  getJSON: curry((callback, url) =&gt; $.getJSON(url, callback)),
  setHtml: curry((sel, html) =&gt; $(sel).html(html)),
  trace: curry((tag, x) =&gt; { console.log(tag, x); return x; }),
}; 
const app = compose(Impure.getJSON(Impure.trace(&#39;response&#39;)), url);</code></pre>
<p>Consider:</p>
<pre><code>Impure.getJSON(Impure.trace(&#39;response&#39;))</code></pre>
<p>Type signatures of the curried functions are:</p>
<pre><code>Impure.trace(&#39;response&#39;) :: a -&gt; a
Impure.getJSON :: (a-&gt;a) -&gt; a -&gt; j
Impure.getJSON(Impure.trace(&#39;response&#39;)) :: a -&gt; j</code></pre>
</div>
</div>
