---
title: "Study Notes for CycleJs"
date: 2018-02-26T22:04:09+03:00 
draft: false
description: ""
tags:
categories: cyclejs, javascript
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/cyclejs_ex17.js
- ex/cyclejs_ex16.js
- ex/cyclejs_ex15.js
- ex/cyclejs_ex14.js
- ex/cyclejs_ex13.js
- ex/cyclejs_ex12.js
- ex/cyclejs_ex11.js
- ex/cyclejs_ex10.js
- ex/cyclejs_ex09.js
- ex/cyclejs_ex08.js
- ex/cyclejs_ex07.js
- ex/cyclejs_ex06.js
- ex/cyclejs_ex05.js
- ex/cyclejs_ex04.js
- ex/cyclejs_ex03.js
- ex/cyclejs_ex02.js
- ex/cyclejs_ex17.html
- ex/cyclejs_ex16.html
- ex/cyclejs_ex15.html
- ex/cyclejs_ex14.html
- ex/cyclejs_ex13.html
- ex/cyclejs_ex12.html
- ex/cyclejs_ex11.html
- ex/cyclejs_ex10.html
- ex/cyclejs_ex09.html
- ex/cyclejs_ex08.html
- ex/cyclejs_ex07.html
- ex/cyclejs_ex06.html
- ex/cyclejs_ex05.html
- ex/cyclejs_ex04.html
- ex/cyclejs_ex03.html
- ex/cyclejs_ex02.html
- ex/cyclejs_ex01.html
path: ~/projects/study/js/study_notes_cyclejs.Rmd
state: wip
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<p>This blog post is simply my work through notes while studying great video course of <a href="https://egghead.io/courses/cycle-js-fundamentals">CycleJs Fundamentals</a> given by <a href="https://twitter.com/andrestaltz">Andre Staltz</a> freely on <a href="https://egghead.io/">egghead</a>.</p>
<p>I really love Andre’s style of teaching. He explains hard topics in a very easy to understand way.</p>
<div id="v01" class="section level2">
<h2>v01</h2>
<iframe src="ex/cyclejs_ex01.html" width="200" height="30">
</iframe>
<pre class="bash"><code>cat ex/cyclejs_ex01.html | sed -n &quot;/&lt;body&gt;/,/&lt;\/body&gt;/ p&quot;</code></pre>
<pre><code>## &lt;body&gt;
## &lt;div id=&quot;app&quot;&gt;&lt;/div&gt;
## &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.6/Rx.min.js&quot;&gt;&lt;/script&gt;
## &lt;script&gt;
##   Rx.Observable.timer(0, 1000)
##     .map(i =&gt; `Seconds ${i}`)
##     .subscribe(text =&gt; {
##       const container = document.querySelector(&#39;#app&#39;);
##       container.textContent = text;
##     })
## &lt;/script&gt;
## &lt;/body&gt;</code></pre>
<p>This code consists of two parts:</p>
<ol style="list-style-type: decimal">
<li><p>Logic</p>
<pre><code>Rx.Observable.timer(0, 1000)
  .map(i =&gt; `Seconds ${i}`)</code></pre></li>
<li><p>Effects</p>
<pre><code>  .subscribe(text =&gt; {
    const container = document.querySelector(&#39;#app&#39;);
    container.textContent = text;
  })</code></pre></li>
</ol>
<p>We want to separate these two parts.</p>
<p>Effects are everything that changes external world. Here we change the web page or DOM. console.log and http requests are all effects. These codes are put into <code>subscribe()</code> function.</p>
<p>Logic part doesn’t change external world.</p>
<p>Effects part is imperative. Logic part is functional. We need to separate these two parts. Effects part needs to be handled by the framework. Application should consist only of the logic part.</p>
</div>
<div id="v02" class="section level2">
<h2>v02</h2>
<p>Now, let’s encapsulate logic and effects parts into two separate functions.</p>
<pre class="bash"><code>cat ex/cyclejs_ex02.js</code></pre>
<pre><code>## function main() {
##   return Rx.Observable.timer(0, 1000)
##     .map(i =&gt; `Seconds ${i}`);
## }
## 
## function DOMEffect(text$) {
##   text$.subscribe(text =&gt; {
##     const container = document.querySelector(&#39;#app&#39;);
##     container.textContent = text;
##   });
## }
## 
## DOMEffect(main());</code></pre>
<iframe src="ex/cyclejs_ex02.html" width="200" height="30">
</iframe>
<p>We can use the rx observable in other effects too. For example:</p>
<pre class="bash"><code>cat ex/cyclejs_ex03.js | sed -n &quot;/function consoleLogEffect/,$ p&quot;</code></pre>
<pre><code>## function consoleLogEffect(msg$) {
##   msg$.subscribe(msg =&gt; console.log(msg));
## }
## 
## const sink = main();
## consoleLogEffect(sink);
## DOMEffect(sink);</code></pre>
<iframe src="ex/cyclejs_ex03.html" width="200" height="30">
</iframe>
</div>
<div id="v03" class="section level2">
<h2>v03</h2>
<p>We have two types effects: consoleLogEffect and DOMEffect. But they both show the same stream from main().</p>
<p>Now, we want to show two different streams.</p>
<iframe src="ex/cyclejs_ex04.html" width="200" height="30">
</iframe>
<pre class="js"><code>function main() {
  return {
    DOM: Rx.Observable.timer(0, 1000)
      .map(i =&gt; `Seconds ${i}`),
    Log: Rx.Observable.timer(0, 2000)
      .map(i =&gt; 2*i),
  };
}

...
const sink = main();
consoleLogEffect(sink.Log);
DOMEffect(sink.DOM);</code></pre>
<p>Logic is put into main() function. Effects are put into their own respective functions.</p>
</div>
<div id="v04" class="section level2">
<h2>v04</h2>
<p>The last part joins logic part and effects part. We will encapsulate it into <code>run()</code> function.</p>
<pre class="js"><code>function run(main) {
  const sinks = main();
  consoleLogEffect(sinks.Log);
  DOMEffect(sinks.DOM);
}
run(main);</code></pre>
<p>But now the effects are hard-coded. Let’s parameterize it too:</p>
<pre class="js"><code>function run(main, effects) {
  const sinks = main();
  Object.keys(effects).forEach(key =&gt; {
    effects[key](sinks[key])
  })
}

const effects = {
  DOM: DOMEffect,
  Log: consoleLogEffect,
}
run(main, effects);</code></pre>
<iframe src="ex/cyclejs_ex05.html" width="200" height="30">
</iframe>
<p>Now, rename <code>effects</code> function as <code>drivers</code>. The reason for this renaming is that drivers are interfaces between software and hardware. Our drivers are interfaces between program (logic part) and effects.</p>
<pre class="js"><code>const drivers = {
  DOM: DOMDriver,
  Log: consoleLogDriver,
}</code></pre>
<iframe src="ex/cyclejs_ex06.html" width="200" height="30">
</iframe>
</div>
<div id="v05" class="section level2">
<h2>v05</h2>
<p>All the effects above are write effects. We don’t have any input from external world until now.</p>
<p>Our program (main) should be able to get input from external world.</p>
<p>Inputs from external world are called as read (input) effects and as sources. Outputs to external world are called as write (output) effects and as sinks.</p>
<p>Source/sink or input/output are named from the perspective of <code>main()</code> function. The logic part of the application is in <code>main()</code> function. There are some external inputs or sources to this program. They are called as input effects. And there are some external outputs or sinks from this program. They are called as write effects.</p>
<pre class="js"><code>function DOMDriver(text$) {
  ...
  const DOMSource = Rx.Observable.fromEvent(document, &#39;click&#39;);
  return DOMSource;
}

function run(main, drivers) {
  const sinks = main(DOMSource);
  const DOMSource = drivers.DOM(sinks.DOM);
  //Object.keys(drivers).forEach(key =&gt; {
    //drivers[key](sinks[key])
  //})
}</code></pre>
<p>But there is a cyclic dependency problem here:</p>
<pre><code>const sinks = main(DOMSource);
const DOMSource = drivers.DOM(sinks.DOM);</code></pre>
<p>This is similar to the following problem:</p>
<pre><code>a = f(b)
b = g(a)</code></pre>
<p>To solve this cyclic dependency, we need to introduce bProxy as the first input argument:</p>
<pre><code>bProxy = ...
a = f(bProxy)
b = g(a)
bProxy.imitate(b)</code></pre>
<p>So, we pass an empty stream as the initial input argument of <code>main()</code></p>
<pre><code>const proxyDOMSource = new Rx.Subject();
const sinks = main(proxyDOMSource);
const DOMSource = drivers.DOM(sinks.DOM);
DOMSource.subscribe(click =&gt; proxyDOMSource.next(click));</code></pre>
<p>Now, let’s use this input source stream in our example. Instead of using <code>Rx.Observable.timer</code> stream once, let’s use click stream to restart <code>timer</code>.</p>
<pre class="js"><code>function main() {
  return {
    DOM: Rx.Observable.timer(0, 1000)
      .map(i =&gt; `Seconds ${i}`),
    Log: Rx.Observable.timer(0, 2000)
      .map(i =&gt; 2*i),
  };
}

---&gt;&gt;&gt;

function main(DOMSource) {
  const click$ = DOMSource;
  return {
    DOM: click$
      .startWith(null)
      .switchMap(() =&gt;
        Rx.Observable.timer(0, 1000)
          .map(i =&gt; `Seconds ${i}`)
      ),
    Log: Rx.Observable.timer(0, 2000).map(i =&gt; 2*i),
  };
}</code></pre>
<p>Now, clicking anywhere in the web page, restarts the <code>timer</code> count from zero.</p>
<iframe src="ex/cyclejs_ex07.html" width="200" height="30">
</iframe>
</div>
<div id="v06" class="section level2">
<h2>v06</h2>
<p>Now, parameterize input source arguments to main() function. There can be different types of drivers.</p>
<pre class="js"><code>function main(DOMSource) {

---&gt;&gt;&gt;

function main(sources) {
  const click$ = sources.DOM;</code></pre>
<pre class="js"><code>function run(main, drivers) {
  const proxyDOMSource = new Rx.Subject();
  const sinks = main(proxyDOMSource);

---&gt;&gt;&gt;

function run(main, drivers) {
  const proxySources = {}
  Object.keys(drivers).forEach(key =&gt; {
    proxySources[key] = new Rx.Subject();
  })
  const sinks = main(proxySources);
  Object.keys(drivers).forEach(key =&gt; {
    const source = drivers[key](sinks[key]);
    source.subscribe(x =&gt; proxySources[key].next(x));
  })
}</code></pre>
<p>This <code>run</code> function is totally generic. It doesn’t contain any application specific code. Therefore, we can move it to an external framework. This is what <code>cycle-core</code> library does.</p>
<pre class="js"><code>Cycle.run(main, drivers);</code></pre>
<p><code>Cycle.run</code> function is defined in:</p>
<pre><code>&lt;script src=&quot;https://rawgit.com/cyclejs/cycle-core/v6.0.0/dist/cycle.js&quot;&gt;&lt;/script&gt;</code></pre>
<iframe src="ex/cyclejs_ex08.html" width="200" height="30">
</iframe>
</div>
<div id="v07-improving-dom-driver" class="section level2">
<h2>v07 Improving DOM Driver</h2>
<p>Now, let’s return HTML element stream instead of text stream inside the DOM driver.</p>
<pre class="js"><code>      .flatMapLatest(() =&gt;
        Rx.Observable.timer(0, 1000)
          .map(i =&gt; `Seconds ${i}`)
      ),

      ---&gt;&gt;&gt;

      .flatMapLatest(() =&gt;
        Rx.Observable.timer(0, 1000)
          .map(i =&gt; {
              return {
                tagName: &#39;H1&#39;,
                children: [
                  `Seconds ${i}`
                ]
              }
            }
          )
      ),</code></pre>
<pre class="js"><code>  text$.subscribe(text =&gt; {
    const container = document.querySelector(&#39;#app&#39;);
    container.textContent = text;
  });

  ---&gt;&gt;&gt;

  function createElement(obj) {
    const element = document.createElement(obj.tagName);
    element.innerHTML = obj.children[0];
    return element;
  }
  obj$.subscribe(obj =&gt; {
    const container = document.querySelector(&#39;#app&#39;);
    container.innerHTML = &#39;&#39;;
    const element = createElement(obj);
    container.appendChild(element);
  });</code></pre>
<iframe src="ex/cyclejs_ex09.html" width="200" height="30">
</iframe>
<p>But this solution contains hard-coded code inside <code>createElement</code>. We might have different types of elements in the stream.</p>
<p>Let’s make <code>createElement</code> more generic:</p>
<pre class="js"><code>          .map(i =&gt; {
              return {
                tagName: &#39;H1&#39;,
                children: [
                  `Seconds ${i}`
                ]
              }
            }

          ---&gt;&gt;&gt;

          .map(i =&gt; {
              return {
                tagName: &#39;H1&#39;,
                children: [
                  {
                    tagName: &#39;SPAN&#39;,
                    children: [
                      `Seconds ${i}`
                    ]
                  }
                ]
              }
            }</code></pre>
<pre class="js"><code>  function createElement(obj) {
    const element = document.createElement(obj.tagName);
    element.innerHTML = obj.children[0];
    return element;
  }

  ---&gt;&gt;&gt;

  function createElement(obj) {
    const element = document.createElement(obj.tagName);
    obj.children
      .filter(c =&gt; typeof c === &#39;object&#39;)
      .map(createElement)
      .forEach(c =&gt; element.appendChild(c));
    obj.children
      .filter(c =&gt; typeof c === &#39;string&#39;)
      .forEach(c =&gt; element.innerHTML += c);
    return element;
  }</code></pre>
<iframe src="ex/cyclejs_ex10.html" width="200" height="30">
</iframe>
</div>
<div id="v08-different-types-of-input-events" class="section level2">
<h2>v08: Different Types of Input Events</h2>
<p>Currently, we have only click type input events. But there are other types of input events too, such as <code>mouseover</code>.</p>
<pre class="js"><code>  const DOMSource = Rx.Observable.fromEvent(document, &#39;click&#39;);

  ---&gt;&gt;&gt;

  const DOMSource = {
    selectEvents: function(tagName, eventType) {
      return Rx.Observable.fromEvent(document, eventType)
        .filter(ev =&gt; ev.target.tagName === tagName.toUpperCase());
    }
  }</code></pre>
<pre class="js"><code>  const click$ = sources.DOM;

  ---&gt;&gt;&gt;

  const mouseover$ = sources.DOM.selectEvents(&#39;span&#39;, &#39;mouseover&#39;);</code></pre>
<iframe src="ex/cyclejs_ex11.html" width="200" height="30">
</iframe>
</div>
<div id="v09" class="section level2">
<h2>v09</h2>
<p>Our view code can be automated a little further:</p>
<pre class="js"><code>              return {
                tagName: &#39;H1&#39;,
                children: [
                  {
                    tagName: &#39;SPAN&#39;,
                    children: [
                      `Seconds ${i}`
                    ]
                  }
                ]
              }

---&gt;&gt;&gt; 

function h(tagName, children) {
  return {
    tagName: tagName,
    children: children,
  }
}

              return {
                h(&#39;H1&#39;, [
                  h(&#39;SPAN&#39;, [
                    `Seconds ${i}`
                  ])
                ])</code></pre>
<iframe src="ex/cyclejs_ex12.html" width="200" height="30">
</iframe>
<p>Now, we can further simplify by defining a new helper function for each <code>tagName</code>:</p>
<pre class="js"><code>function h1(children) {
  return {
    tagName: &#39;H1&#39;,
    children: children,
  }
}

function span(children) {
  return {
    tagName: &#39;SPAN&#39;,
    children: children,
  }
}

                ...
                h1([
                  span([
                    `Seconds ${i}`
                  ])
                ])</code></pre>
<p>Now, we can use js functions instead of a markup language such as HTML or templating language such as PUG or Mustache.</p>
</div>
<div id="v10" class="section level2">
<h2>v10</h2>
<p>Can we move DOMDriver into an external framework? Yes, only application specific code inside DOMDriver is HTML element id <code>#app</code>.</p>
<pre class="js"><code>function DOMDriver(obj$) {
  function createElement(obj) {
    const element = document.createElement(obj.tagName);
    obj.children
      .filter(c =&gt; typeof c === &#39;object&#39;)
      .map(createElement)
      .forEach(c =&gt; element.appendChild(c));
    obj.children
      .filter(c =&gt; typeof c === &#39;string&#39;)
      .forEach(c =&gt; element.innerHTML += c);
    return element;
  }
  obj$.subscribe(obj =&gt; {
    const container = document.querySelector(&#39;#app&#39;);
    container.innerHTML = &#39;&#39;;
    const element = createElement(obj);
    container.appendChild(element);
  });
  const DOMSource = {
    selectEvents: function(tagName, eventType) {
      return Rx.Observable.fromEvent(document, eventType)
        .filter(ev =&gt; ev.target.tagName === tagName.toUpperCase());
    }
  }
  return DOMSource;
}

---&gt;&gt;&gt;


function makeDOMDriver(mountSelector) {
  return function DOMDriver(obj$) { ... }
   
----

const drivers = {
  DOM: DOMDriver,

---&gt;&gt;&gt;

const drivers = {
  DOM: makeDOMDriver(&#39;#app&#39;),
</code></pre>
<iframe src="ex/cyclejs_ex13.html" width="200" height="30">
</iframe>
<p>One critical issue performance-wise is the following line because we are recreating the complete inner DOM tree from scratch after every event:</p>
<pre><code>container.innerHTML = &#39;&#39;;</code></pre>
<p>Another issue is that we don’t yet support CSS selectors except <code>tagName</code>. We should support CSS selectors such as <code>.class</code>.</p>
<p>To solve these issues, we can use the actual cyclejs library instead of helper functions and driver functions.</p>
<pre class="bash"><code>cat ex/cyclejs_ex14.js</code></pre>
<pre><code>## const {h, h1, span, makeDOMDriver} = CycleDOM;
## 
## function main(sources) {
##   const mouseover$ = sources.DOM.select(&#39;span&#39;).events(&#39;mouseover&#39;);
##   const sinks = {
##     DOM: mouseover$
##       .startWith(null)
##       .flatMapLatest(() =&gt;
##         Rx.Observable.timer(0, 1000)
##           .map(i =&gt; 
##             h1( {style: {background: &#39;yellow&#39;}}, [
##               span([
##                 `Seconds ${i}`
##               ])
##             ])
##           )
##       ),
##     Log: Rx.Observable.timer(0, 2000).map(i =&gt; 2*i),
##   };
##   return sinks;
## }
## 
## function consoleLogDriver(msg$) {
##   msg$.subscribe(msg =&gt; console.log(msg));
## }
## 
## const drivers = {
##   DOM: makeDOMDriver(&#39;#app&#39;),
##   Log: consoleLogDriver,
## }
## 
## Cycle.run(main, drivers);</code></pre>
<iframe src="ex/cyclejs_ex14.html" width="200" height="30">
</iframe>
<pre class="js"><code>const {h, h1, span, makeDOMDriver} = CycleDOM;
...
  const mouseover$ = sources.DOM.select(&#39;span&#39;).events(&#39;mouseover&#39;);</code></pre>
<p>CycleDOM actually uses virtual DOM objects. This improves the performance of DOM updates a lot.</p>
<p>You can also specify attributes of HTML elements:</p>
<pre><code>        h1( {style: {background: &#39;yellow&#39;}}, [</code></pre>
</div>
<div id="v11-hello-world-app" class="section level2">
<h2>v11 Hello World App</h2>
<pre class="bash"><code>cat ex/cyclejs_ex15.js</code></pre>
<pre><code>## const {label, input, hr, div, h1, makeDOMDriver} = CycleDOM;
## 
## function main(sources) {
##   const inputEv$ = sources.DOM.select(&#39;.field&#39;).events(&#39;input&#39;);
##   const name$ = inputEv$.map(ev =&gt; ev.target.value).startWith(&#39;&#39;);
##   return {
##     DOM: name$.map(name =&gt;
##       div([
##         label(&#39;Name:&#39;),
##         input(&#39;.field&#39;, {type: &#39;text&#39;}),
##         hr(),
##         h1(`Hello ${name}!`)
##       ])
##     )
##   };
## }
## 
## const drivers = {
##   DOM: makeDOMDriver(&#39;#app&#39;),
## }
## 
## Cycle.run(main, drivers);</code></pre>
<iframe src="ex/cyclejs_ex15.html" width="200" height="150">
</iframe>
</div>
<div id="v12-decrement-increment-state" class="section level2">
<h2>v12: Decrement Increment: State</h2>
<pre class="bash"><code>cat ex/cyclejs_ex16.js</code></pre>
<pre><code>## const {button, p, label, div, makeDOMDriver} = CycleDOM;
## 
## function main(sources) {
##   const decrementClick$ = sources.DOM
##     .select(&#39;.decrement&#39;).events(&#39;click&#39;);
##   const incrementClick$ = sources.DOM
##     .select(&#39;.increment&#39;).events(&#39;click&#39;);
##   const decrementAction$ = decrementClick$.map(ev =&gt; -1);
##   const incrementAction$ = incrementClick$.map(ev =&gt; +1);
##   const number$ = Rx.Observable.of(0)
##     .merge(decrementAction$).merge(incrementAction$)
##     .scan((prev, curr) =&gt; prev + curr);
##   return {
##     DOM: number$.map(number =&gt;
##       div([
##         button(&#39;.decrement&#39;, &#39;Decrement&#39;),
##         button(&#39;.increment&#39;, &#39;Increment&#39;),
##         p([
##           label(String(number))
##         ])
##       ])
##     )
##   };
## }
## 
## const drivers = {
##   DOM: makeDOMDriver(&#39;#app&#39;),
## }
## 
## Cycle.run(main, drivers);</code></pre>
<iframe src="ex/cyclejs_ex16.html" width="200" height="150">
</iframe>
</div>
<div id="v13-http-driver" class="section level2">
<h2>v13: HTTP Driver</h2>
<pre class="bash"><code>cat ex/cyclejs_ex17.js</code></pre>
<pre><code>## const {button, h1, h4, a, div, makeDOMDriver} = CycleDOM;
## const {makeHTTPDriver} = CycleHTTPDriver;
## 
## // DOM read effect: button clicked
## // HTTP write effect: request sent
## // HTTP read effect: response received
## // DOM write effect: data displayed
## 
## function main(sources) {
##   const clickEvent$ = sources.DOM
##     .select(&#39;.get-first&#39;).events(&#39;click&#39;);
##   
##   const request$ = clickEvent$.map(() =&gt; {
##     return {
##       url: &#39;http://jsonplaceholder.typicode.com/users/1&#39;,
##       method: &#39;GET&#39;,
##     };
##   });
##   
##   const response$$ = sources.HTTP
##     .filter(response$ =&gt; response$.request.url ===
##            &#39;http://jsonplaceholder.typicode.com/users/1&#39;);
##   
##   const response$ = response$$.switch();
##   const firstUser$ = response$.map(response =&gt; response.body)
##     .startWith(null);
##   
##   return {
##     DOM: firstUser$.map(firstUser =&gt;
##       div([
##         button(&#39;.get-first&#39;, &#39;Get first user&#39;),
##         firstUser === null ? null : div(&#39;.user-details&#39;, [
##           h1(&#39;.user-name&#39;, firstUser.name),
##           h4(&#39;.user-email&#39;, firstUser.email),
##           a(&#39;.user-website&#39;, {href: firstUser.website}, firstUser.website)
##         ])
##       ])
##     ),
##     HTTP: request$,
##   };
## }
## 
## const drivers = {
##   DOM: makeDOMDriver(&#39;#app&#39;),
##   HTTP: makeHTTPDriver(),
## }
## 
## Cycle.run(main, drivers);</code></pre>
<iframe src="ex/cyclejs_ex17.html" width="200" height="250">
</iframe>
</div>
<div id="v14-bmi-calculator" class="section level2">
<h2>v14: BMI Calculator</h2>
</div>
