---
title: "Studying NodeJs HTTP Requests"
date: 2018-03-19T11:19:06+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_http_requests_in_nodejs/package.json
- ex/study_http_requests_in_nodejs/src/index.js
- ex/study_http_requests_in_nodejs/src/index02.js
path: ~/projects/study/js/study_http_requests_in_nodejs.Rmd
---

---
title: "Studying NodeJs HTTP Requests"
date: 2018-03-19T11:19:06+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_http_requests_in_nodejs/package.json
- ex/study_http_requests_in_nodejs/src/index.js
- ex/study_http_requests_in_nodejs/src/index02.js
path: ~/projects/study/js/study_http_requests_in_nodejs.Rmd
---

---
title: "Studying NodeJs HTTP Requests"
date: 2018-03-19T11:19:06+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_http_requests_in_nodejs/package.json
- ex/study_http_requests_in_nodejs/src/index.js
- ex/study_http_requests_in_nodejs/src/index02.js
path: ~/projects/study/js/study_http_requests_in_nodejs.Rmd
---

---
title: "Studying NodeJs HTTP Requests"
date: 2018-03-19T11:19:06+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_http_requests_in_nodejs/src/index.js
- ex/study_http_requests_in_nodejs/src/index02.js
path: ~/projects/study/js/study_http_requests_in_nodejs.Rmd
---

---
title: "Studying NodeJs HTTP Requests"
date: 2018-03-19T11:19:06+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_http_requests_in_nodejs/src/index.js
- ex/study_http_requests_in_nodejs/src/index02.js
path: ~/projects/study/js/study_http_requests_in_nodejs.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="v01-basics" class="section level3">
<h3>v01: Basics</h3>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_http_requests_in_nodejs/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_http_requests_in_nodejs/</a></p>
<p>HTML page:</p>
<pre class="bash"><code>mkdir -p ex/study_http_requests_in_nodejs &amp;&amp; $(cd $_ &amp;&amp; npm init -y &amp;&amp; pnpm i parcel-bundler request)
mkdir -p ex/study_http_requests_in_nodejs/src &amp;&amp; touch ex/study_http_requests_in_nodejs/src/index.js</code></pre>
<p>Edit <code>ex/study_http_requests_in_nodejs/src/index.js</code>:</p>
<pre class="js"><code>const request = require(&#39;request&#39;);
request(&#39;http://jsonplaceholder.typicode.com/users/1&#39;, function (error, response, body) {
  console.log(&#39;error:&#39;, error);
  console.log(&#39;statusCode:&#39;, response &amp;&amp; response.statusCode);
  console.log(&#39;body:&#39;, body);
});</code></pre>
<pre class="bash"><code>node ex/study_http_requests_in_nodejs/src/index.js | sed -n &#39;1,6 p&#39;</code></pre>
<pre><code>## module.js:545
##     throw err;
##     ^
## 
## Error: Cannot find module &#39;request&#39;
##     at Function.Module._resolveFilename (module.js:543:15)
##     at Function.Module._load (module.js:470:25)
##     at Module.require (module.js:593:17)
##     at require (internal/module.js:11:18)
##     at Object.&lt;anonymous&gt; (/Users/mertnuhoglu/projects/jekyll/mertnuhoglu.com/content/tech/ex/study_http_requests_in_nodejs/src/index.js:1:79)
##     at Module._compile (module.js:649:30)
##     at Object.Module._extensions..js (module.js:660:10)
##     at Module.load (module.js:561:32)
##     at tryModuleLoad (module.js:501:12)
##     at Function.Module._load (module.js:493:3)</code></pre>
</div>
<div id="v02-use-es6-promise" class="section level2">
<h2>v02: Use ES6 Promise</h2>
<pre class="bash"><code>cd ex/study_http_requests_in_nodejs &amp;&amp; pnpm i --save request-promise-native &amp;&amp; touch ex/study_http_requests_in_nodejs/src/index02.js</code></pre>
<pre class="js"><code>var request = require(&#39;request-promise-native&#39;);
request(&#39;http://jsonplaceholder.typicode.com/users/1&#39;)
  .then( html =&gt; console.log(&#39;body:&#39;, html) )
  .catch( err =&gt; console.log(&#39;error:&#39;, err) );</code></pre>
<pre class="bash"><code>node ex/study_http_requests_in_nodejs/src/index02.js | sed -n &#39;1,6 p&#39;</code></pre>
<pre><code>## module.js:545
##     throw err;
##     ^
## 
## Error: Cannot find module &#39;request-promise-native&#39;
##     at Function.Module._resolveFilename (module.js:543:15)
##     at Function.Module._load (module.js:470:25)
##     at Module.require (module.js:593:17)
##     at require (internal/module.js:11:18)
##     at Object.&lt;anonymous&gt; (/Users/mertnuhoglu/projects/jekyll/mertnuhoglu.com/content/tech/ex/study_http_requests_in_nodejs/src/index02.js:1:77)
##     at Module._compile (module.js:649:30)
##     at Object.Module._extensions..js (module.js:660:10)
##     at Module.load (module.js:561:32)
##     at tryModuleLoad (module.js:501:12)
##     at Function.Module._load (module.js:493:3)</code></pre>
</div>
