---
title: "Studying Hyperapp.js"
date: 2018-03-16T10:44:32+03:00 
draft: false
description: ""
tags:
categories: js
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- 
path: ~/projects/study/js/study_hyperapp.Rmd
wip: true
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="hyperapp-parcel-tutorial" class="section level2">
<h2>Hyperapp + Parcel Tutorial</h2>
<p>Following the tutorial explained in: <a href="https://blog.daftcode.pl/hyperapp-parcel-71823bd93f1c" class="uri">https://blog.daftcode.pl/hyperapp-parcel-71823bd93f1c</a></p>
<p>Major points:</p>
<ul>
<li>Parcel: zero configuration as opposed to Webpack</li>
<li>Hyperapp: minimalist frontend framework</li>
<li>inspired by Elm architecture</li>
</ul>
</div>
<div id="v01-basic-setup" class="section level2">
<h2>v01: Basic Setup</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_hyperparcel/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_hyperparcel/</a></p>
<pre class="bash"><code>mkdir study_hyperparcel &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i hyperapp parcel-bundler </code></pre>
<p>The original tutorial uses jsx. I don’t like jsx because of additional mental burden and no benefit over hyperscript as explained by Andre Staltz in <a href="https://staltz.com/nothing-new-in-react-and-flux-except-one-thing.html" class="uri">https://staltz.com/nothing-new-in-react-and-flux-except-one-thing.html</a></p>
<p><code>index.html</code> is very basic:</p>
<pre class="html"><code>&lt;html&gt;
  &lt;body&gt;
    &lt;script src=&quot;./index.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p><code>index.js</code> is very basic:</p>
<pre class="js"><code>console.log(&#39;hello parcel&#39;)</code></pre>
<p><code>package.json</code></p>
<pre><code>...
&quot;start&quot;: &quot;parcel index.html&quot;,
&quot;build&quot;: &quot;parcel build index.html --public-url ./&quot;,</code></pre>
<p>Run <code>npm start</code></p>
<p>Open <a href="http://localhost:1234" class="uri">http://localhost:1234</a></p>
<p>The speed of bundling and running server is amazing in comparison to webpack.</p>
<pre class="bash"><code>❯ npm start

&gt; study_hyperparcel@1.0.0 start /Users/mertnuhoglu/projects/study/js/ex/study_hyperparcel
&gt; parcel index.html

Server running at http://localhost:1234
✨  Built in1.2s.</code></pre>
</div>
<div id="v02-using-hyperscript-in-frontend-view" class="section level2">
<h2>v02: Using Hyperscript in Frontend View</h2>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_hyperparcel02/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_hyperparcel02/</a></p>
<pre class="bash"><code>mkdir study_hyperparcel02 &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; npm i hyperapp parcel-bundler </code></pre>
<p><code>index.html</code> and <code>package.json</code> are the same.</p>
<pre class="bash"><code>cp ../study_hyperparcel/index.html .
cp ../study_hyperparcel/package.json .</code></pre>
<p>Add hyperscript to <code>index.js</code>:</p>
<pre class="js"><code>console.log(&#39;hello parcel&#39;)</code></pre>
</div>
<div id="v03" class="section level2">
<h2>v03</h2>
<p><span class="citation">@tbd</span></p>
</div>
