---
title: "Study RamdaJs"
date: 2018-03-19T19:24:58+03:00 
draft: false
description: ""
tags: ramdajs
categories: js, fp
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- ex/study_ramda/package.json
- ex/study_ramda/ex01.js
- ex/study_ramda/ex02.js
- ex/study_ramda/ex03.js
- ex/study_ramda/ab01.js
- ex/study_ramda/ab02.js
- ex/study_ramda/ab02b.js
- ex/study_ramda/ab03.js
- ex/study_ramda/ab04.js
- ex/study_ramda/ab05.js
- ex/study_ramda/ab06.js
path: ~/projects/study/js/study_ramda.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<p>Source code in <a href="https://github.com/mertnuhoglu/study/js/ex/study_ramda/" class="uri">https://github.com/mertnuhoglu/study/js/ex/study_ramda/</a></p>
<pre class="bash"><code>mkdir -p ex/study_ramda &amp;&amp; cd $_ &amp;&amp; npm init -y &amp;&amp; pnpm i parcel-bundler ramda</code></pre>
<div id="v01-basics" class="section level3">
<h3>v01: Basics</h3>
<pre class="js"><code>const data = [
  {&#39;id&#39;: 1, &#39;title&#39;: &quot;a&quot;},
  {&#39;id&#39;: 2, &#39;title&#39;: &quot;b&quot;},
];
const getId = R.map(R.prop(&#39;id&#39;));
console.log(getId(data));</code></pre>
<pre class="bash"><code>node ex/study_ramda/ex01.js</code></pre>
<pre><code>## [ 1, 2 ]</code></pre>
</div>
<div id="v02-basics" class="section level3">
<h3>v02: Basics</h3>
<pre class="js"><code>const data = [
  {&#39;sub&#39;: {&#39;id&#39;: 1, &#39;title&#39;: &quot;a&quot;}},
  {&#39;sub&#39;: {&#39;id&#39;: 2, &#39;title&#39;: &quot;b&quot;}},
];
const getId = R.map(R.compose(R.prop(&#39;id&#39;), R.prop(&#39;sub&#39;)));
console.log(getId(data));</code></pre>
<pre class="bash"><code>node ex/study_ramda/ex02.js</code></pre>
<pre><code>## [ 1, 2 ]</code></pre>
</div>
<div id="v03-basics" class="section level3">
<h3>v03: Basics</h3>
<p>I changed the input function of <code>R.map</code> to common object access notation:</p>
<pre class="js"><code>const getId = R.map(R.compose(R.prop(&#39;id&#39;), R.prop(&#39;sub&#39;)));
---&gt;&gt;&gt;
const getId = R.map(e =&gt; e.sub.id);</code></pre>
<p>This looks simpler than previous expression.</p>
<pre class="bash"><code>node ex/study_ramda/ex03.js</code></pre>
<pre><code>## [ 1, 2 ]</code></pre>
</div>
<div id="tutorial-by-andrew-burgess" class="section level3">
<h3>Tutorial by Andrew Burgess</h3>
<p>Here, I follow the tutorial in <a href="https://www.youtube.com/watch?v=tN4wyJ9DdtM&amp;t=14s&amp;list=PL_L_J_Lv0U2qJepM0FMF73BHGZsNNu-nk">Ramda By Example</a> made by Andrew Burgess and the revised code written by <a href="https://www.youtube.com/user/tartaneto">Francisco Neto</a></p>
<p>The goal is to convert the following data structure into the next data structure:</p>
<pre class="js"><code>const data = {
  &#39;group1-perm1&#39;: true,
  &#39;group1-perm2&#39;: false,
  &#39;group2-perm1&#39;: false,
  &#39;group2-perm2&#39;: true,
  &#39;perm3&#39;: true,
  &#39;perm4&#39;: false
};
// ---&gt;&gt;&gt;
const target = {
  &#39;group1&#39;: [
    { value: &#39;group1-perm1&#39;, checked: true, &#39;label&#39;: &#39;perm1&#39; }
  ],
// ...
};</code></pre>
<div id="v01-convert-key-value-pairs-into-2-tuples" class="section level4">
<h4>v01: Convert key-value pairs into 2-tuples</h4>
<p>First, we will convert the input data into an array of 2-tuples like that:</p>
<pre><code>[ [ &#39;group1-perm1&#39;, true ], ... ]</code></pre>
<pre class="js"><code>R.map(([k, v]) =&gt; global[k] = v, R.toPairs(R));
const fn = compose(toPairs);
console.log(fn(data));</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab01.js</code></pre>
<pre><code>## [ [ &#39;group1-perm1&#39;, true ],
##   [ &#39;group1-perm2&#39;, false ],
##   [ &#39;group2-perm1&#39;, false ],
##   [ &#39;group2-perm2&#39;, true ],
##   [ &#39;perm3&#39;, true ],
##   [ &#39;perm4&#39;, false ] ]</code></pre>
</div>
<div id="v02-append-an-element" class="section level4">
<h4>v02: append an element</h4>
<p>Now, we will convert 2-tuples into this structure:</p>
<pre><code>[ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;group1-perm1&#39; }, ...</code></pre>
<p>We can do this in two ways. First way:</p>
<pre class="js"><code>const addLabel = ([value, checked]) =&gt; ({value, checked, label: value});
const fn = compose(map(addLabel), toPairs);
console.log(fn(data));</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab02.js</code></pre>
<pre><code>## [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;group1-perm1&#39; },
##   { value: &#39;group1-perm2&#39;, checked: false, label: &#39;group1-perm2&#39; },
##   { value: &#39;group2-perm1&#39;, checked: false, label: &#39;group2-perm1&#39; },
##   { value: &#39;group2-perm2&#39;, checked: true, label: &#39;group2-perm2&#39; },
##   { value: &#39;perm3&#39;, checked: true, label: &#39;perm3&#39; },
##   { value: &#39;perm4&#39;, checked: false, label: &#39;perm4&#39; } ]</code></pre>
<p>The second way is to use <code>chain</code> function:</p>
<pre class="js"><code>const addLabel = chain(append, head);
const fn = compose(map(addLabel), toPairs);
console.log(fn(data));</code></pre>
<p>This code produces the following data structure which needs one more step:</p>
<pre><code>[ [ &#39;group1-perm1&#39;, true, &#39;group1-perm1&#39; ], ...</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab02b.js</code></pre>
<pre><code>## [ [ &#39;group1-perm1&#39;, true, &#39;group1-perm1&#39; ],
##   [ &#39;group1-perm2&#39;, false, &#39;group1-perm2&#39; ],
##   [ &#39;group2-perm1&#39;, false, &#39;group2-perm1&#39; ],
##   [ &#39;group2-perm2&#39;, true, &#39;group2-perm2&#39; ],
##   [ &#39;perm3&#39;, true, &#39;perm3&#39; ],
##   [ &#39;perm4&#39;, false, &#39;perm4&#39; ] ]</code></pre>
<p>The first version is easier to understand. Let’s keep that one.</p>
</div>
<div id="v03-text-substitution-using-regex" class="section level4">
<h4>v03: Text substitution using regex</h4>
<p>Now we want to update <code>label</code>’s value as such:</p>
<pre><code>[ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;group1-perm1&#39; }, ...
---&gt;&gt;&gt;
[ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; }, ...</code></pre>
<pre class="js"><code>const getLabel = R.compose(R.head, R.match(/perm[0-9]/g));
const addLabel = ([value, checked]) =&gt; ({value, checked, label: getLabel(value)});</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab03.js</code></pre>
<pre><code>## [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; },
##   { value: &#39;group1-perm2&#39;, checked: false, label: &#39;perm2&#39; },
##   { value: &#39;group2-perm1&#39;, checked: false, label: &#39;perm1&#39; },
##   { value: &#39;group2-perm2&#39;, checked: true, label: &#39;perm2&#39; },
##   { value: &#39;perm3&#39;, checked: true, label: &#39;perm3&#39; },
##   { value: &#39;perm4&#39;, checked: false, label: &#39;perm4&#39; } ]</code></pre>
</div>
<div id="v04-group-items-using-groupby" class="section level4">
<h4>v04: Group items using <code>groupBy</code></h4>
<pre><code>[ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; }, ...
---&gt;&gt;&gt;
{ &#39;group1-perm1&#39;: [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; } ], ...</code></pre>
<pre class="js"><code>const groupName = R.prop(&#39;value&#39;);
const fn = compose(R.groupBy(groupName), map(addLabel), toPairs);</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab04.js</code></pre>
<pre><code>## { &#39;group1-perm1&#39;: [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; } ],
##   &#39;group1-perm2&#39;:
##    [ { value: &#39;group1-perm2&#39;, checked: false, label: &#39;perm2&#39; } ],
##   &#39;group2-perm1&#39;:
##    [ { value: &#39;group2-perm1&#39;, checked: false, label: &#39;perm1&#39; } ],
##   &#39;group2-perm2&#39;: [ { value: &#39;group2-perm2&#39;, checked: true, label: &#39;perm2&#39; } ],
##   perm3: [ { value: &#39;perm3&#39;, checked: true, label: &#39;perm3&#39; } ],
##   perm4: [ { value: &#39;perm4&#39;, checked: false, label: &#39;perm4&#39; } ] }</code></pre>
</div>
<div id="v05-group-items-02" class="section level4">
<h4>v05: Group items 02</h4>
<pre><code>{ &#39;group1-perm1&#39;: [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; } ], ...
---&gt;&gt;&gt;
{ group1:
   [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; },
     { value: &#39;group1-perm2&#39;, checked: false, label: &#39;perm2&#39; } ],</code></pre>
<pre class="js"><code>const getGroup = R.compose(R.defaultTo(&#39;general&#39;), R.head, R.match(/group[0-9]/g));
const groupName = R.compose(getGroup, R.prop(&#39;value&#39;));
const fn = compose(R.groupBy(groupName), map(addLabel), toPairs);</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab05.js</code></pre>
<pre><code>## { group1:
##    [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; },
##      { value: &#39;group1-perm2&#39;, checked: false, label: &#39;perm2&#39; } ],
##   group2:
##    [ { value: &#39;group2-perm1&#39;, checked: false, label: &#39;perm1&#39; },
##      { value: &#39;group2-perm2&#39;, checked: true, label: &#39;perm2&#39; } ],
##   general:
##    [ { value: &#39;perm3&#39;, checked: true, label: &#39;perm3&#39; },
##      { value: &#39;perm4&#39;, checked: false, label: &#39;perm4&#39; } ] }</code></pre>
</div>
<div id="v06-pipe-instead-of-compose" class="section level4">
<h4>v06: <code>pipe</code> instead of <code>compose</code></h4>
<p><code>R.pipe</code> and <code>R.compose</code> are similar but they execute the functions in reverse order. <code>R.pipe</code> executes the input functions from left-to-right. <code>compose</code> executes from right-to-left. Thus <code>pipe</code> is easier to read.</p>
<pre><code>const fn = compose(R.groupBy(groupName), map(addLabel), toPairs);
---&gt;&gt;&gt;&gt;</code></pre>
<pre class="js"><code>const fn = pipe(
  toPairs,
  map(addLabel), 
  R.groupBy(groupName), 
);</code></pre>
<pre class="bash"><code>node ex/study_ramda/ab06.js</code></pre>
<pre><code>## { group1:
##    [ { value: &#39;group1-perm1&#39;, checked: true, label: &#39;perm1&#39; },
##      { value: &#39;group1-perm2&#39;, checked: false, label: &#39;perm2&#39; } ],
##   group2:
##    [ { value: &#39;group2-perm1&#39;, checked: false, label: &#39;perm1&#39; },
##      { value: &#39;group2-perm2&#39;, checked: true, label: &#39;perm2&#39; } ],
##   general:
##    [ { value: &#39;perm3&#39;, checked: true, label: &#39;perm3&#39; },
##      { value: &#39;perm4&#39;, checked: false, label: &#39;perm4&#39; } ] }</code></pre>
</div>
</div>
