---
title: "Study Notes for Postgrest Starter Kit"
date: 2018-02-26T11:48:22+03:00 
draft: false
description: ""
tags:
categories: postgresql, postgrest
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- img/2018-02-26_12.07.57.png
path: ~/projects/study/pg/study_postgrest_starter_kit.Rmd
state: wip
next: row level security, authentication webusers, mutation
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<p><a href="https://postgrest.com/"><code>postgrest</code></a> is an alternative to <code>GrapqQL</code>. It generates and serves REST APIs from a Postgres database automatically.</p>
<p><a href="https://github.com/subzerocloud/postgrest-starter-kit"><code>postgrest starter kit</code></a> is a handy starter kit and tooling to produce production ready applications on top of postgrest.</p>
<p>The official documentations of <a href="https://postgrest.com/"><code>postgrest</code></a> and <a href="https://github.com/subzerocloud/postgrest-starter-kit/wiki/Home"><code>psk (postgrest starter kit)</code></a> are very high quality. In this blog post, I follow the tutorial steps already explained in these documents.</p>
<div id="installation-and-setup" class="section level2">
<h2>Installation and Setup</h2>
<pre><code>$ git clone --single-branch https://github.com/subzerocloud/postgrest-starter-kit khumbuicefall
$ cd khumbuicefall</code></pre>
<p>Edit <code>.env</code></p>
<pre><code>COMPOSE_PROJECT_NAME=khumbuicefall</code></pre>
<p>Run the server embedded in docker container:</p>
<pre><code>$ docker-compose up -d # wait for 5-10s before running the next command</code></pre>
<p>Install and run [subzero-cli] to see what is going inside (optional):</p>
<pre><code>$ docker pull subzerocloud/subzero-cli-tools
$ npm install -g subzero-cli
$ subzero dashboard</code></pre>
</div>
<div id="basic-rest-calls" class="section level2">
<h2>Basic REST Calls</h2>
<pre><code>$ curl http://localhost:8080/rest/todos?select=id
[{&quot;id&quot;:1},{&quot;id&quot;:3},{&quot;id&quot;:6}]</code></pre>
<p>Make an authorized request</p>
<pre><code>$ export JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxLCJyb2xlIjoid2VidXNlciJ9.uSsS2cukBlM6QXe4Y0H90fsdkJSGcle9b7p_kMV1Ymk
$ curl -H &quot;Authorization: Bearer $JWT_TOKEN&quot; http://localhost:8080/rest/todos?select=id,todo
[{&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1&quot;},{&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;},{&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}]</code></pre>
</div>
<div id="update-sample-data" class="section level2">
<h2>Update Sample Data</h2>
<p>Update the initial sample data and check if it is updated in the database:</p>
<p>Edit <code>db/src/sample_data/data.sql</code>:</p>
<pre><code>1   item_1  FALSE   1
-&gt;
1   item_1_updated  FALSE   1</code></pre>
<p>Run request again:</p>
<pre><code>$ curl -H &quot;Authorization: Bearer $JWT_TOKEN&quot; http://localhost:8080/rest/todos?select=id,todo
[{&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1_updated&quot;},{&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;},{&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}]</code></pre>
</div>
<div id="check-generated-sql-using-subzero" class="section level2">
<h2>Check Generated SQL Using subzero</h2>
<p><code>subzero</code> is a monitoring tool. It shows the internal logs of <code>openresty</code>, <code>rabbitmq</code>, <code>postgres</code>, and <code>postgrest</code>.</p>
<div class="figure">
<img src="img/2018-02-26_12.07.57.png" alt="subzero" />
<p class="caption">subzero</p>
</div>
<pre><code>$ curl http://localhost:8080/rest/todos?select=id</code></pre>
<p>The following SQL code is generated automatically by <code>postgrest</code>:</p>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT
    null AS total_result_set, pg_catalog.count(_postgrest_t) AS page_total, array[]::text[] AS header, coalesce(array_to_json(array_agg(row_to_json(_postgrest_t))), &#39;[]&#39;)::character varying AS body
    FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+--------------------+--------------+----------+------------------------------+
| total_result_set   | page_total   | header   | body                         |
|--------------------+--------------+----------+------------------------------|
| &lt;null&gt;             | 3            | []       | [{&quot;id&quot;:1},{&quot;id&quot;:3},{&quot;id&quot;:6}] |
+--------------------+--------------+----------+------------------------------+</code></pre>
<p>Let’s return both <code>id</code> and <code>todo</code> attributes:</p>
<pre><code>$ curl -H &quot;Authorization: Bearer $JWT_TOKEN&quot; http://localhost:8080/rest/todos?select=id,todo</code></pre>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot;, &quot;api&quot;.&quot;todos&quot;.&quot;todo&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT null AS total_result_set, pg_catalog.count(_postgrest_t) AS page_total, array[]::text[] AS header, coalesce(array_to_json(array_agg(row_to_json(_postgrest_t))), &#39;[]&#39;)::character varying AS body
  FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+--------------------+--------------+----------+--------------------------------------------------------------------------------------+
| total_result_set   | page_total   | header   | body                                                                                 |
|--------------------+--------------+----------+--------------------------------------------------------------------------------------|
| &lt;null&gt;             | 3            | []       | [{&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1_updated&quot;},{&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;},{&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}] |
+--------------------+--------------+----------+--------------------------------------------------------------------------------------+</code></pre>
<p>In order to understand this code, I simplified it to its core:</p>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot;, &quot;api&quot;.&quot;todos&quot;.&quot;todo&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT _postgrest_t AS body
  FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+--------------------+
| body               |
|--------------------|
| (1,item_1_updated) |
| (3,item_3)         |
| (6,item_6)         |
+--------------------+</code></pre>
<p>Adding <code>row_to_json</code> function:</p>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot;, &quot;api&quot;.&quot;todos&quot;.&quot;todo&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT row_to_json(_postgrest_t) AS body
  FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+----------------------------------+
| body                             |
|----------------------------------|
| {&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1_updated&quot;} |
| {&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;}         |
| {&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}         |
+----------------------------------+</code></pre>
<p>Adding <code>array_agg</code> function:</p>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot;, &quot;api&quot;.&quot;todos&quot;.&quot;todo&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT array_agg(row_to_json(_postgrest_t)) AS body
  FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+----------------------------------------------------------------------------------------------+
| body                                                                                         |
|----------------------------------------------------------------------------------------------|
| [&#39;{&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1_updated&quot;}&#39;, &#39;{&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;}&#39;, &#39;{&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}&#39;] |
+----------------------------------------------------------------------------------------------+</code></pre>
<p>Adding <code>array_to_json</code> function:</p>
<pre class="sql"><code>WITH pg_source AS
  (SELECT  &quot;api&quot;.&quot;todos&quot;.&quot;id&quot;, &quot;api&quot;.&quot;todos&quot;.&quot;todo&quot; FROM  &quot;api&quot;.&quot;todos&quot;)
  SELECT array_to_json(array_agg(row_to_json(_postgrest_t))) AS body
  FROM ( SELECT * FROM pg_source) _postgrest_t</code></pre>
<pre><code>+--------------------------------------------------------------------------------------+
| body                                                                                 |
|--------------------------------------------------------------------------------------|
| [{&quot;id&quot;:1,&quot;todo&quot;:&quot;item_1_updated&quot;},{&quot;id&quot;:3,&quot;todo&quot;:&quot;item_3&quot;},{&quot;id&quot;:6,&quot;todo&quot;:&quot;item_6&quot;}] |
+--------------------------------------------------------------------------------------+</code></pre>
<p><code>postgrest</code> returns JSON formatted data by default. It looks like this is done by these three function calls: <code>array_to_json(array_agg(row_to_json(...)))</code></p>
</div>
<div id="check-database-logs" class="section level2">
<h2>Check Database Logs</h2>
<p>When I make any change in any of the watched <code>*.sql</code> files, <code>psk</code> automatically detects the change event and reruns all these <code>*.sql</code> files from scratch. I can see what is going on from the logs inside <code>subzero</code>.</p>
<p>To see the logs clearly, I first ran <code>c: Clear Log</code> inside <code>subzero</code>. Then, I made an editing inside <code>db/src/data/todo.sql</code>. That generated the following logs:</p>
<pre><code> ./db/src/data/todo.sql changed
Starting code reload ------------------------
LOG:  statement: SELECT pg_terminate_backend(pid) FROM pg_stat_activity WHERE datname = &#39;app&#39;;
FATAL:  terminating connection due to administrator command
LOG:  statement: DROP DATABASE if exists app;

LOG:  statement: CREATE DATABASE app;

Ready ---------------------------------------
LOG:  statement: set client_min_messages to warning;</code></pre>
<p><code>todo.sql</code> script is imported (or included) from <code>db/src/data/schema.sql</code></p>
<pre><code>\ir todo.sql</code></pre>
<p><code>db/src/data/schema.sql</code> script is imported from <code>db/src/init.sql</code></p>
<pre><code>\ir data/schema.sql</code></pre>
<p>The first visible line in <code>init.sql</code> is:</p>
<pre><code>set client_min_messages to warning;</code></pre>
<p>So, it looks like the above log messages after <code>Ready ----</code> line come from <code>init.sql</code>. Prior statements are somehow handled by <code>psk</code> or <code>postgrest</code>.</p>
</div>
<div id="file-structure-of-.sql-files" class="section level2">
<h2>File Structure of <code>.sql</code> Files</h2>
<p><code>init.sql</code> file contains several <code>include</code> i.e. <code>\ir</code> statements such as:</p>
<pre><code>\ir data/schema.sql
\ir api/schema.sql
\ir authorization/roles.sql
\ir authorization/privileges.sql
\ir sample_data/data.sql</code></pre>
<p><code>.sql</code> files are separated into 4 folders: <code>data</code>, <code>api</code>, <code>authorization</code>, <code>sample_data</code>.</p>
<p><code>data</code> folder contains schema definition commands such as <code>CREATE TABLE</code></p>
<p><code>api</code> folder contains view definition commands such as <code>CREATE VIEW</code></p>
<p><code>authorization</code> folder contains role and privilege definition commands such as <code>CREATE ROLE</code></p>
<p><code>sample_data</code> folder contains actual sample data commands such as <code>INSERT</code> or <code>COPY</code></p>
<p>General logical structure of calling these <code>.sql</code> files is the same. For example, <code>init.sql</code> imports <code>data/schema.sql</code>. Then <code>data/schema.sql</code> file imports all the remaining <code>.sql</code> files inside <code>data/</code> folder.</p>
</div>
<div id="creating-new-table-and-sample-data" class="section level2">
<h2>Creating New Table and Sample Data</h2>
<p>Create <code>db/src/data/tables01.sql</code> and put the <code>CREATE TABLE</code> statements inside:</p>
<pre class="sql"><code>create table client (
  id           serial primary key,
  name         text not null,
  address      text,
  user_id      int not null references &quot;user&quot;(id),
  created_on   timestamptz not null default now(),
  updated_on   timestamptz
);
create index client_user_id_index on client(user_id);</code></pre>
<p>Edit <code>db/src/data/schema.sql</code> to import this new file:</p>
<pre><code>\ir todo.sql
\ir tables01.sql</code></pre>
<p>Now, create <code>db/src/api/views_and_procedures01.sql</code> and put <code>CREATE VIEW</code> statements inside:</p>
<pre class="sql"><code>create or replace view clients as
select id, name, address, created_on, updated_on from data.client;</code></pre>
<p>Edit <code>db/src/api/schema.sql</code> to import this new file:</p>
<pre><code>\ir todos.sql
\ir views_and_procedures01.sql</code></pre>
<p>Edit <code>db/src/sample_data/data.sql</code> to add the following lines:</p>
<pre class="sql"><code>set search_path = data, public;
\echo # filling table client (3)
COPY client (id,name,address,user_id,created_on,updated_on) FROM STDIN (FREEZE ON);
1   Apple   address_1_  1   2017-07-18 11:31:12 \N
2   Microsoft   address_1_  1   2017-07-18 11:31:12 \N
3   Amazon  address_1_  2   2017-07-18 11:31:12 \N
\.
-- 
ALTER SEQUENCE client_id_seq RESTART WITH 4;
-- 
ANALYZE client;</code></pre>
<p>Edit <code>db/src/sample_data/reset.sql</code> and add this line before <code>COMMIT</code>:</p>
<pre><code>truncate data.client restart identity cascade;</code></pre>
<p>Now, after saving all these files, <code>init.sql</code> is automatically called by <code>psk</code> and all the new tables, views, and sample data are created. Check in <code>psql</code>:</p>
<pre><code>app=# set search_path = data, public;
SET
app=# \dt
          List of relations
 Schema |  Name  | Type  |   Owner
--------+--------+-------+-----------
 data   | client | table | superuser
 data   | todo   | table | superuser
 data   | user   | table | superuser
(3 rows)</code></pre>
<p>Edit <code>db/src/authorization/privileges.sql</code> and add <code>GRANT</code> privilege statements:</p>
<pre class="sql"><code>grant select, insert, update, delete
on api.clients
to webuser;</code></pre>
<p>Note that, <code>api.clients</code> refers to the view <code>api.clients</code> not to the table <code>data.client</code>.</p>
<p>Now, make a REST API call:</p>
<pre class="bash"><code>$ curl -H &quot;Authorization: Bearer $JWT_TOKEN&quot; http://localhost:8080/rest/clients?select=id,name
[{&quot;id&quot;:1,&quot;name&quot;:&quot;Apple&quot;},{&quot;id&quot;:2,&quot;name&quot;:&quot;Microsoft&quot;},{&quot;id&quot;:3,&quot;name&quot;:&quot;Amazon&quot;}]</code></pre>
<p>In this section, I defined only one table <code>client</code>. The actual tutorial creates additional tables such as <code>project</code>, <code>task</code> etc.</p>
</div>
