---
title: "How to Use Javascript inside Rmd Documents"
date: 2018-03-07T11:39:05+03:00 
draft: false
description: ""
tags:
categories: css
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- 
path: ~/projects/study/js/using_js_in_rmd.Rmd
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<div id="embedding-script-tag" class="section level2">
<h2>Embedding <code>&lt;script&gt;</code> tag</h2>
<p>We can just embed any html tag such as <code>script</code> or <code>style</code> directly inside the Rmarkdown text. They will be included in the final html output.</p>
<pre><code>&lt;script&gt;window.alert(&quot;hello&quot;)&lt;/script&gt;

&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js&quot;&gt;&lt;/script&gt;</code></pre>
</div>
<div id="embedding-js-blocks" class="section level2">
<h2>Embedding <code>{js}</code> blocks</h2>
<p>Or we can use the usual code blocks.</p>
<p>JQuery is already included with Rmarkdown. So, we can use JQuery functions directly:</p>
<pre><code>```js
$(&#39;.title&#39;).text(&quot;hello&quot;)
```


&lt;script type=&quot;text/javascript&quot;&gt;
$(&#39;.title&#39;).text(&quot;hello&quot;)
&lt;/script&gt;</code></pre>
</div>
