---
title: "Example: fzf fuzzy file finder"
date: 2017-12-30T18:26:59+03:00 
draft: false
description: ""
tags:
categories: vimscript, example
type: post
url:
author: "Mert Nuhoglu"
output: rmarkdown::html_document
blog: mertnuhoglu.com
resource_files:
-
---



<p>Most of the examples are taken from fzf wiki: <a href="https://github.com/junegunn/fzf/wiki/Examples-(vim)" class="uri">https://github.com/junegunn/fzf/wiki/Examples-(vim)</a></p>
<div id="ex-run-fzf-with-shell-find-and-send-output-to-vims-e-command" class="section level2">
<h2>Ex: Run <code>fzf</code> with shell find and send output to Vim’s <code>e</code> command</h2>
<pre class="vim"><code>call fzf#run({&#39;sink&#39;: &#39;e&#39;})</code></pre>
<p><code>fzf#run()</code> function takes a dictionary as argument. This dictionary has two important keys: <code>sink</code> and <code>source</code>. <code>sink</code> is the channel where <code>fzf</code> output is redirected. <code>source</code> is the data stream where <code>fzf</code> makes search.</p>
<p>For example, the above function call uses the default <code>source</code> which is the default find command. The <code>sink</code> is <code>e</code> command of Vim. Thus it will open the selected file with <code>e</code>.</p>
<p>Instead of <code>e</code> we could also use <code>tabedit</code></p>
<pre class="vim"><code>call fzf#run({&#39;sink&#39;: &#39;tabedit&#39;})</code></pre>
</div>
<div id="ex-use-other-shell-comands-in-input-data-stream" class="section level2">
<h2>Ex: Use other shell comands in input data stream</h2>
<p>Or instead of using the default find command as input data stream, we can use any shell command that produces some data stream. For example:</p>
<pre class="vim"><code>call fzf#run({&#39;source&#39;: &#39;git ls-files&#39;, &#39;sink&#39;: &#39;e&#39;})</code></pre>
</div>
<div id="ex-use-a-vim-array-as-input-data-stream" class="section level2">
<h2>Ex: Use a Vim array as input data stream</h2>
<p><code>source</code> can be a vim array too. The following uses names of open buffers as source:</p>
<pre class="vim"><code>call fzf#run({&#39;source&#39;: map(split(globpath(&amp;rtp, &#39;colors/*.vim&#39;))
            \               , &#39;fnamemodify(v:val, &quot;:t:r&quot;)&#39;)
            \ , &#39;sink&#39;: &#39;e&#39;})</code></pre>
</div>
<div id="ex-list-all-open-buffers" class="section level2">
<h2>Ex: List all open buffers:</h2>
<pre class="vim"><code>command! Buffers call fzf#run(fzf#wrap( {&#39;source&#39;: map(range(1, bufnr(&#39;$&#39;)), &#39;bufname(v:val)&#39;)}))</code></pre>
</div>
<div id="ex-open-fzf-buffer-as-normal-vim-buffer" class="section level2">
<h2>Ex: Open <code>Fzf</code> buffer as normal Vim buffer</h2>
<p><code>fzf#wrap</code> opens fzf using <code>g:fzf_layout</code> setting</p>
<pre class="vim"><code>call fzf#run( fzf#wrap({&#39;sink&#39;: &#39;e&#39;}) )</code></pre>
</div>
<div id="ex-locate-or-mdfind-command-to-open-any-file" class="section level2">
<h2>Ex: <code>locate</code> or <code>mdfind</code> command to open any file</h2>
<p><code>mdfind</code> command is used in osx to search contents of all documents.</p>
<pre class="vim"><code>command! -nargs=1 -bang Mdfind call fzf#run(fzf#wrap( {&#39;source&#39;: &#39;mdfind &lt;q-args&gt;&#39;, &#39;options&#39;: &#39;-m&#39;}, &lt;bang&gt;0))
command! -nargs=1 -bang Mdfind call fzf#run(fzf#wrap(
      \ {&#39;source&#39;: &#39;mdfind &lt;q-args&gt;&#39;, &#39;options&#39;: &#39;-m&#39;}, &lt;bang&gt;0))</code></pre>
</div>
<div id="ex-fzf" class="section level2">
<h2>Ex: FZF</h2>
<pre class="vim"><code>&quot; Look for files under current directory
:FZF

&quot; Look for files under your home directory
:FZF ~</code></pre>
</div>
<div id="keybindings-enter-ctrl-t-ctrl-x-ctrl-v" class="section level2">
<h2>Keybindings: Enter CTRL-T CTRL-X CTRL-V</h2>
<pre><code>    Enter: open in current window
    CTRL-T: in new tab
    CTRL-X: in horizontal split
    CTRL-V: in vertical split</code></pre>
</div>
