---
title: "What is RDB (Requirements Database)? - WIP"
date: 2018-01-17T18:30:12+03:00 
draft: false
description: ""
tags:
categories: rdb
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- data/datamodel_enum.png
path: ~/projects/study/problem/rdb/what_is_rdb.Rmd
state: wip
---



<p><code>RDB</code> is the abbreviation for requirements database. Requirements database stores the requirements information in structured relational format in Excel or tsv files.</p>
<p>Here is an example data set for RDB:</p>
<pre class="r"><code>den = tibble::tribble(
  ~data_entity_id,               ~entity_name,
               7L,               &quot;enum_value&quot;,
               8L,                 &quot;enum_var&quot;
  )
dfl = tibble::tribble(
  ~data_field_id,         ~data_field_name,          ~type,     ~pk_fk, ~not_null, ~data_entity_id, ~fk_data_entity_id,     ~enum_var_name,
             26L,          &quot;enum_value_id&quot;,          &quot;INT&quot;,       &quot;PK&quot;,     FALSE,              7L,                 NA,                 NA,
             27L,            &quot;enum_var_id&quot;,          &quot;INT&quot;,       &quot;FK&quot;,      TRUE,              7L,                 8L,                 NA,
             28L,        &quot;enum_value_name&quot;,         &quot;TEXT&quot;,  &quot;NON_KEY&quot;,     FALSE,              7L,                 NA,                 NA,
             29L,            &quot;enum_var_id&quot;,          &quot;INT&quot;,       &quot;PK&quot;,     FALSE,              8L,                 NA,                 NA,
             30L,          &quot;enum_var_name&quot;,         &quot;TEXT&quot;,  &quot;NON_KEY&quot;,     FALSE,              8L,                 NA,                 NA
  )</code></pre>
<p>This data set stores metadata for two entities (tables): <code>enum_value</code> and <code>enum_var</code></p>
<p>This meta data actually describes attributes of these two entities. The UML diagram of these entities are as here:</p>
<div class="figure">
<img src="data/datamodel_enum.png" alt="UML Diagram of the Entities: enum_var and enum_value" />
<p class="caption">UML Diagram of the Entities: enum_var and enum_value</p>
</div>
<p>Having meta data of entities defined as structured data helps me to automate several development and management related tasks. For example, I can generate <a href="/tech/rdb_to_ddl/">DDL statements</a> of the database tables and <a href="/tech/rdb_to_data/">sample data</a> for these tables automatically from RDB.</p>
<p>This document is a work-in-process. I will work on it.</p>
