---
title: "UML Diagrams from Text: yuml to uml"
date: 2018-01-20T18:30:12+03:00 
draft: false
description: ""
tags:
categories: yuml, uml
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
- data/datamodel_enum01.md
- data/datamodel_order01.md
path: ~/projects/study/problem/yuml_to_uml.Rmd
ref_files:
- ~/Dropbox (BTG)/TEUIS PROJECT 05-ANALYSIS/working_library/data_models/conventions_for_data_modelling.md
state: wip
---



<p>I like UML diagrams but I don’t like UML diagram editors. Because using them increases my work load. I don’t want to maintain one more thing while developing software.</p>
<p><code>yuml</code> allows me to generate UML diagrams from text. I start data modelling in <code>yuml</code> text files. From these text files, I generate automatically a few useful assets such as:</p>
<ol style="list-style-type: decimal">
<li>UML diagrams</li>
<li>DDL (data definition language) statements for database</li>
<li>RDB (requirements database) data</li>
</ol>
<p><a href="/what_is_rdb/">RDB</a> is an abbreviation that I use for requirements database. I try to store all software specifications as structured data in a relational database format.</p>
<p>The notation used in yuml files is from <code>yuml.me</code> website. It is a way to describe UML diagrams using text. By default, all cardinalities between two objects is n-n if not specifically overwritten.</p>
<p><code>^-</code> symbol denotes a super-subtype relationship.</p>
<p><code>-</code> symbol denotes an association relationship.</p>
<p><code>=</code> symbol denotes double associations.</p>
<p>Refer to the following web page to learn the notation: <a href="http://yuml.me/diagram/scruffy/class/samples" class="uri">http://yuml.me/diagram/scruffy/class/samples</a></p>
<p>yuml.me is a free web site that generates UML diagrams from yuml formatted text. There is an unofficial command line client for yuml web app: <a href="https://github.com/wandernauta/yuml" class="uri">https://github.com/wandernauta/yuml</a></p>
<p>I use that command line client to generate UML diagrams automatically. Currently, the source code for my code is here: <a href="https://github.com/mertnuhoglu/yuml_to_rdb_schema/tree/master/inst/bash/main_yuml_to_uml.sh" class="uri">https://github.com/mertnuhoglu/yuml_to_rdb_schema/tree/master/inst/bash/main_yuml_to_uml.sh</a></p>
<p>I will move this script to its own github repo. Currently, it is inside a related R package called <code>yumltordbschema</code>.</p>
<p>By convention, I put all yuml formatted data models into files whose name start with <code>data_model</code> or <code>datamodel</code>. <code>main_yuml_to_uml.sh</code> script searches all those files, does some text cleaning and calls the actual <code>yuml</code> command line tool.</p>
<p>For example, I described data models of two subsystems called “order” and “enum”. I wrote their yuml code inside two files: <code>datamodel_order01.md</code> and <code>datamodel_enum01.md</code></p>
<pre class="bash"><code>cat data/datamodel_enum01.md</code></pre>
<pre><code>## 
##     [enum_value| enum_value_id PK; enum_var_id @NN; enum_value_name TEXT; ]
##     [enum_var| enum_var_id PK; enum_var_name TEXT; ]
##     [enum_var] 1-n [enum_value]</code></pre>
<pre class="bash"><code>cat data/datamodel_order01.md</code></pre>
<pre><code>## 
##     [product| product_id PK; product_name TEXT; ]
##     [purchase_order| purchase_order_id PK; ]
##     [order_line| order_line_id PK; product_id @NN; amount INT; ]
##     [purchase_order] 1-n [order_line]
##     [product] 1-n [order_line]</code></pre>
<p>To generate UML diagrams run the script:</p>
<pre class="bash"><code>sh /Users/mertnuhoglu/projects/yumltordbschema/inst/bash/main_yuml_to_uml.sh data/</code></pre>
<pre><code>## running /Users/mertnuhoglu/projects/yumltordbschema/inst/bash/main_yuml_to_uml.sh
## DATA_MODEL_DIR = data/
## SCRIPT_DIR = /Users/mertnuhoglu/projects/yumltordbschema/inst/bash
## running /Users/mertnuhoglu/projects/yumltordbschema/inst/bash/yuml_to_uml.sh
## DATA_MODEL_DIR = data/
## SCRIPT_DIR = /Users/mertnuhoglu/projects/yumltordbschema/inst/bash
## ./img/datamodel_enum01.png
## /Users/mertnuhoglu/projects/yumltordbschema/inst/bash/yuml_to_uml.sh: /usr/local/bin/yuml: /usr/local/opt/python/bin/python2.7: bad interpreter: No such file or directory
## /Users/mertnuhoglu/projects/yumltordbschema/inst/bash/yuml_to_uml.sh: /usr/local/bin/yuml: /usr/local/opt/python/bin/python2.7: bad interpreter: No such file or directory
## yuml data model input: ./datamodel_enum01.md
## yuml data model input: ./datamodel_order01.md</code></pre>
<p>The script produces UML diagrams under <code>img/</code> directory:</p>
<pre class="bash"><code>ls data/img</code></pre>
<pre><code>## datamodel_enum01.png
## datamodel_enum01_yuml.txt
## datamodel_order01.png
## datamodel_order01_yuml.txt
## simple_datamodel_enum01.png
## simple_datamodel_enum01_yuml.txt
## simple_datamodel_order01.png
## simple_datamodel_order01_yuml.txt</code></pre>
<p>These are the generated UML diagrams:</p>
<p><img src="data/img/datamodel_order01.png" alt="datamodel_order01.png" /> <img src="data/img/datamodel_enum01.png" alt="datamodel_enum01.png" /></p>
<p><span class="citation">@tbd</span>:</p>
<div id="simplified-uml-diagrams" class="section level2">
<h2>Simplified UML Diagrams</h2>
</div>
<div id="cleaning-non-yuml-text-in-the-documentation-files" class="section level2">
<h2>Cleaning non-yuml Text in the Documentation Files</h2>
</div>
<div id="preprocessing-and-standardizing-yuml-code" class="section level2">
<h2>Preprocessing and Standardizing yuml Code</h2>
</div>
