---
title: "Convert yuml to RDB Meta Data"
date: 2018-01-17T18:30:12+03:00 
draft: false
description: ""
tags:
categories: r, rdb
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
path: ~/projects/study/r/yuml_to_rdb.Rmd
state: wip
---

---
title: "Convert yuml to RDB Meta Data"
date: 2018-01-17T18:30:12+03:00 
draft: false
description: ""
tags:
categories: r, rdb
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
path: ~/projects/study/r/yuml_to_rdb.Rmd
state: wip
---

---
title: "Convert yuml to RDB Meta Data"
date: 2018-01-17T18:30:12+03:00 
draft: false
description: ""
tags:
categories: r, rdb
type: post
url:
author: "Mert Nuhoglu"
output: html_document
blog: mertnuhoglu.com
resource_files:
-
path: ~/projects/study/r/yuml_to_rdb.Rmd
state: wip
---



<style>
  .main-container {
    max-width: 1600px !important;
  }
</style>
<pre class="r"><code>options(width = 150)
options(max.print = 30)</code></pre>
<pre class="r"><code>library(dplyr, warn.conflicts = F)
data_model_dir = &quot;/Users/mertnuhoglu/projects/itr/vrp_doc/data_model/&quot;</code></pre>
<div id="implementation-of-yumltordbschemayuml_to_rdb-function" class="section level1">
<h1>Implementation of <code>yumltordbschema::yuml_to_rdb()</code> function</h1>
<p><code>yuml_to_rdb()</code> takes as input <code>yuml</code> formatted data model and converts it into normalized structural data in RDB style.</p>
<p>Example input:</p>
<pre><code>[enum_value| enum_value_id PK; enum_var_id; enum_value_name TEXT; ]
[enum_var| enum_var_id PK; enum_var_name TEXT; ]
[enum_var] 1-n [enum_value]</code></pre>
<p>Final output:</p>
<pre><code>data_entity.tsv
| data_entity_id | entity_name |
| 7              | enum_value  |
| 8              | enum_var    |

data_field.tsv
| data_field_id | data_field_name | type   | pk_fk   | data_entity_id | fk_data_entity_id | enum_var_name |
| 26            | enum_value_id   | BIGINT | PK      | 7              |                   |               |
| 27            | enum_var_id     | BIGINT | FK      | 7              | 8                 |               |
| 28            | enum_value_name | TEXT   | NOT_KEY | 7              |                   |               |
| 29            | enum_var_id     | BIGINT | PK      | 8              |                   |               |
| 30            | enum_var_name   | TEXT   | NOT_KEY | 8              |                   |               |</code></pre>
<pre class="r"><code>yuml_to_rdb = function(data_model_dir) {
  build_datamodel_sdb.sh = system.file(&quot;bash/build_datamodel_sdb.sh&quot;, package = &quot;yumltordbschema&quot;)
  system2(build_datamodel_sdb.sh, data_model_dir)

    yuml_lines = r_datamodel_sdb(data_model_dir) %&gt;% 
    rutils::grepv(&quot;\\|&quot;)
    ydm = build_yuml_data_model(yuml_lines)
    den = update_new_entities(ydm)
  dfl = update_new_fields(ydm, den)

  write_yuml_data_model(ydm, data_model_dir = data_model_dir)
  write_data_entity(den, data_model_dir)
  write_data_field(dfl, data_model_dir)
  return(list(data_entity = den, data_field = dfl))
}</code></pre>
<p>Calling <code>yuml_to_rdb</code> requires the parameter <code>data_model_dir</code> which is the path of the <code>yuml</code> files.</p>
<pre class="r"><code>data_model_dir =  &quot;/Users/mertnuhoglu/projects/itr/vrp_doc/data_model/&quot;
rdt = yuml_to_rdb(data_model_dir)</code></pre>
<div id="build_datamodel_sdb.sh-script-concatenate-yuml-files-and-fix-them" class="section level2">
<h2><code>build_datamodel_sdb.sh</code> script: Concatenate <code>yuml</code> files and fix them</h2>
<p><span class="citation">@tbd</span></p>
</div>
<div id="build_yuml_data_model-function-convert-free-format-yuml-content-into-structural-data" class="section level2">
<h2><code>build_yuml_data_model()</code> function: Convert free format yuml content into structural data</h2>
<p>Input: The unified and fixed yuml file: <code>datamodel_sdb.yuml</code></p>
<p>Output: Structural data: <code>yuml_data_model.csv</code></p>
<pre class="r"><code>lines = c(&quot;[enum_value| enum_value_id INT PK; enum_var_id INT FK @NN; enum_value_name TEXT; ]&quot;,
  &quot;[enum_var| enum_var_id INT PK; enum_var_name TEXT; ]&quot;)
lines</code></pre>
<pre><code>## [1] &quot;[enum_value| enum_value_id INT PK; enum_var_id INT FK @NN; enum_value_name TEXT; ]&quot;
## [2] &quot;[enum_var| enum_var_id INT PK; enum_var_name TEXT; ]&quot;</code></pre>
<pre class="r"><code>ydm_p1 = lines %&gt;%
  stringr::str_replace_all( &quot;^[ \\[]*&quot;, &quot;&quot; ) %&gt;%
  stringr::str_replace_all( &quot;[ \\]]*$&quot;, &quot;&quot; ) %&gt;%
  stringr::str_replace_all( &quot;\\|\\s*&quot;, &quot;\\|&quot; ) %&gt;%
  stringr::str_replace_all( &quot;;\\s*&quot;, &quot;;&quot; ) 
ydm_p1 </code></pre>
<pre><code>## [1] &quot;enum_value|enum_value_id INT PK;enum_var_id INT FK @NN;enum_value_name TEXT;&quot;
## [2] &quot;enum_var|enum_var_id INT PK;enum_var_name TEXT;&quot;</code></pre>
<pre class="r"><code>ydm_p2 = ydm_p1 %&gt;%
  dplyr::data_frame( ln = . ) 
ydm_p2 </code></pre>
<pre><code>## # A tibble: 2 x 1
##                                                                             ln
##                                                                          &lt;chr&gt;
## 1 enum_value|enum_value_id INT PK;enum_var_id INT FK @NN;enum_value_name TEXT;
## 2                              enum_var|enum_var_id INT PK;enum_var_name TEXT;</code></pre>
<pre class="r"><code>ydm_p3 = ydm_p2 %&gt;%
  tidyr::separate( ln, c(&quot;entity_name&quot;, &quot;columns&quot;), &quot;\\|&quot; ) %&gt;%
  tibble::glimpse()</code></pre>
<pre><code>## Observations: 2
## Variables: 2
## $ entity_name &lt;chr&gt; &quot;enum_value&quot;, &quot;enum_var&quot;
## $ columns     &lt;chr&gt; &quot;enum_value_id INT PK;enum_var_id INT FK @NN;enum_value_name TEXT;&quot;, &quot;enum_var_id INT PK;enum_var_name TEXT;&quot;</code></pre>
<pre class="r"><code>ydm_p4 = ydm_p3 %&gt;%
  tidyr::unnest( columns = strsplit( columns, &quot;;&quot;) ) 
ydm_p4 </code></pre>
<pre><code>## # A tibble: 5 x 2
##   entity_name                columns
##         &lt;chr&gt;                  &lt;chr&gt;
## 1  enum_value   enum_value_id INT PK
## 2  enum_value enum_var_id INT FK @NN
## 3  enum_value   enum_value_name TEXT
## 4    enum_var     enum_var_id INT PK
## 5    enum_var     enum_var_name TEXT</code></pre>
<pre class="r"><code>ydm_p5 = ydm_p4 %&gt;%
  tidyr::separate( columns, c(&quot;data_field_name&quot;, &quot;type&quot;, &quot;pk_fk&quot;), &quot; &quot; ) %&gt;%
  dplyr::mutate( pk_fk = ifelse( is.na(pk_fk), &quot;NON_KEY&quot;, pk_fk)) %&gt;%
  dplyr::mutate( type = ifelse( is.na(type), &quot;TEXT&quot;, type)) %&gt;%
  dplyr::mutate( entity_name = tolower(entity_name) ) %&gt;%
  dplyr::mutate( data_field_name = tolower(data_field_name) ) </code></pre>
<pre><code>## Warning: Too many values at 1 locations: 2</code></pre>
<pre><code>## Warning: Too few values at 2 locations: 3, 5</code></pre>
<pre class="r"><code>ydm_p5 </code></pre>
<pre><code>## # A tibble: 5 x 4
##   entity_name data_field_name  type   pk_fk
##         &lt;chr&gt;           &lt;chr&gt; &lt;chr&gt;   &lt;chr&gt;
## 1  enum_value   enum_value_id   INT      PK
## 2  enum_value     enum_var_id   INT      FK
## 3  enum_value enum_value_name  TEXT NON_KEY
## 4    enum_var     enum_var_id   INT      PK
## 5    enum_var   enum_var_name  TEXT NON_KEY</code></pre>
<div id="handling-new-field-attribute-nn-in-yuml" class="section level3">
<h3>Handling new field attribute <code>@NN</code> in yuml</h3>
<p>I noted that <code>ydm_p4</code> manipulation gives warning: “Warning: Too many values at 2 locations: 2”</p>
<p>Checking why this warning is issued:</p>
<pre class="r"><code>ydm_p4[2, ]</code></pre>
<pre><code>## # A tibble: 1 x 2
##   entity_name                columns
##         &lt;chr&gt;                  &lt;chr&gt;
## 1  enum_value enum_var_id INT FK @NN</code></pre>
<p>These two fields have an additional attribute as <code>@NN</code>, but <code>tidyr::separate( columns, c(&quot;data_field_name&quot;, &quot;type&quot;, &quot;pk_fk&quot;), &quot; &quot; )</code> expects only 3 items.</p>
<p>This <code>@NN</code> attribute comes from original <code>yuml</code> file:</p>
<pre><code>[enum_value| enum_value_id PK; enum_var_id @NN; enum_value_name TEXT; ]</code></pre>
<p>The following <code>tidyr::separate</code> function call will parse additional <code>@NN</code> attribute:</p>
<pre class="r"><code>ydm_p6 = ydm_p4 %&gt;%
  tidyr::separate( columns, c(&quot;data_field_name&quot;, &quot;type&quot;, &quot;pk_fk&quot;, &quot;not_null&quot;), &quot; &quot; ) %&gt;%
  dplyr::mutate( pk_fk = ifelse( is.na(pk_fk), &quot;NON_KEY&quot;, pk_fk)) %&gt;%
  dplyr::mutate( type = ifelse( is.na(type), &quot;TEXT&quot;, type)) %&gt;%
  dplyr::mutate( not_null = ifelse( is.na(not_null), FALSE, TRUE)) %&gt;%
  dplyr::mutate( entity_name = tolower(entity_name) ) %&gt;%
  dplyr::mutate( data_field_name = tolower(data_field_name) ) </code></pre>
<pre><code>## Warning: Too few values at 4 locations: 1, 3, 4, 5</code></pre>
<pre class="r"><code>ydm_p6</code></pre>
<pre><code>## # A tibble: 5 x 5
##   entity_name data_field_name  type   pk_fk not_null
##         &lt;chr&gt;           &lt;chr&gt; &lt;chr&gt;   &lt;chr&gt;    &lt;lgl&gt;
## 1  enum_value   enum_value_id   INT      PK    FALSE
## 2  enum_value     enum_var_id   INT      FK     TRUE
## 3  enum_value enum_value_name  TEXT NON_KEY    FALSE
## 4    enum_var     enum_var_id   INT      PK    FALSE
## 5    enum_var   enum_var_name  TEXT NON_KEY    FALSE</code></pre>
<p>No, need to make any changes in <code>update_new_entities</code> and <code>update_new_fields</code></p>
<pre class="r"><code>ydm = ydm_p6
den = yumltordbschema::update_new_entities(ydm)
den</code></pre>
<pre><code>## # A tibble: 2 x 2
##   data_entity_id entity_name
##            &lt;int&gt;       &lt;chr&gt;
## 1              1  enum_value
## 2              2    enum_var</code></pre>
<pre class="r"><code>dfl = yumltordbschema::update_new_fields(ydm, den)
dfl</code></pre>
<pre><code>## # A tibble: 5 x 8
##   data_field_id data_field_name  type   pk_fk not_null data_entity_id fk_data_entity_id enum_var_name
##           &lt;int&gt;           &lt;chr&gt; &lt;chr&gt;   &lt;chr&gt;    &lt;lgl&gt;          &lt;int&gt;             &lt;int&gt;         &lt;chr&gt;
## 1             1   enum_value_id   INT      PK    FALSE              1                NA          &lt;NA&gt;
## 2             2     enum_var_id   INT      FK     TRUE              1                 2          &lt;NA&gt;
## 3             3 enum_value_name  TEXT NON_KEY    FALSE              1                NA          &lt;NA&gt;
## 4             4     enum_var_id   INT      PK    FALSE              2                NA          &lt;NA&gt;
## 5             5   enum_var_name  TEXT NON_KEY    FALSE              2                NA          &lt;NA&gt;</code></pre>
</div>
</div>
</div>
