<section data-anchor="about" class="home-section about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>About</h1>
				<a href="https://linkedin.com/in/mertnuhoglu/" >LinkedIn Profilim</a>
				<p>
					I like working and thinking on software development, data science, and complex systems.
				</p>
				<p>
					Yazılım geliştirme, veri bilimi, karmaşık sistemler üzerine çalışmayı ve düşünmeyi seviyorum. 
				</p>
      </div>
    </div>
  </div>
</section>
