<section data-anchor="blog" class="home-section blog-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Blog</h1>
        <p>Here you can find the latest <a href="/tech/">tech</a>, <a href="/short-stories/">short stories</a>, <a href="/essays/">essays</a>, and everything else:</p>
        {{ range first 5 ( where ( where ( where .Site.Pages "Type" "post" ) "Section" "!=" "poem" ) "Section" "!=" "music" ) }}
            <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        {{ end }}
        <p><br/></p>
        <p><a href="/blog/" class="box">Read more</a></p>
        <p><br/></p>
      </div>
    </div>
  </div>
</section>
