<section data-anchor="contact" class="home-section contact-section">
  <div class="container">
    <div class="row ">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact</h2>
        <img src="https://cdn-images-1.medium.com/fit/c/200/200/1*hMLPcjL-jBARGrIROa8wgg.jpeg" class="avatar" alt="Mert Nuhoglu" />
        <p>
          <a href="https://twitter.com/mertnuhoglu" class="fa-lg" title="Twitter"><span class="fa-stack fa-lg"><i class="fa fa-twitter"></i></span></a>
          <a href="https://plus.google.com/+mertnuhoglu/" class="fa-lg" title="Google+"><span class="fa-stack fa-lg"><i class="fa fa-google-plus"></i></span></a>
          <a href="https://medium.com/@mertnuhoglu" class="fa-lg" title="Medium"><span class="fa-stack fa-lg"><i class="fa fa-medium"></i></span></a>
          <a href="mailto:mert.nuhoglu@gmail.com" class="fa-lg" title="Email"><span class="fa-stack fa-lg"><i class="fa fa-envelope"></i></span></a>
        </p>
        <p><br /></p>
        <p>
          <span id="copyright">
            Any work (images, writings, presentations, ideas or whatever) which I own is always provided under
            <br>
            <img alt="Creative Commons License" style="border-width:0; height:31px; width:88px;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-Share Alike 3.0 License</a>
            <br>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
