<section data-anchor="tech" class="home-section tech-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Tech</h1>
        <p>Here you can find the latest <a href="/tech/">technology and programming</a> posts:</p>
        {{ range first 5 ( where ( where ( where .Site.Pages "Type" "post" ) "Section" "==" "tech" ) "Section" "!=" "music" ) }}
            <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        {{ end }}
        <p><br/></p>
        <p><a href="/tech/" class="box">Read more</a></p>
        <p><br/></p>
      </div>
    </div>
  </div>
</section>
