  <section data-anchor="page-top" class="home-section top-section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">Mert Nuhoglu</h1>
        <span class="brand-tag"><a href="http://mertnuhoglu.com">Programmer & Data Scientist</a></span>
        <p><br /></p>
        <a href="#about" class="fa-stack fa-2x">
          <i class="fa fa-angle-double-down fa-stack-1x animated"></i>
        </a>
      </div>
    </div>
  </section>
