{{ partial "common/head.html" . }}
{{ partial "common/nav.html" . }}
{{ partial "common/header.html" . }}
  <section id="{{ lower .Title | urlize }}" class="content book-list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {{ range (.Paginator 24).Pages }}
            <a href="{{ .RelPermalink }}"><img src="/assets/img/{{ .Params.cover }}" title="{{ .Title | markdownify }} - {{ .Params.writer | markdownify }}" alt="{{ .Title | markdownify }} - {{ .Params.writer | markdownify }}" /></a>
          {{ end }}

          <ul class="pager">
            {{ if .Paginator.HasNext }}
            <li class="next">
              <span>
                <a href="{{ .Paginator.Next.URL }}">Older Posts</a>
              </span>
            </li>
            {{ end }}
            {{ if .Paginator.HasPrev }}
            <li class="previous">
              <span>
                <a href="{{ .Paginator.Prev.URL }}">Newer Posts</a>
              </span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ partial "common/footer.html" . }}
